<div id="<%= dom_id artist %>">

  <p>
    <h2>
    <%= artist.pxvname %>
    (<%= artist.pxvid %>)

    <% furigana = %![#{artist.furigana}]! if artist.furigana != ""%>
    <%= furigana %>
    <%= artist.altname %>,
    <%= artist.oldname %>
    </h2>
  </p>

  <p>
    <% if artist["status"] != "" %>
      <h3>Status:<%= artist.status %></h3>
    <% end %>
  </p>

  <p>
    <table border="1">
      <tr>
        <th>ファイル数</th>
        <th>最近</th>
        <th>優先度</th>
        <th>Rating</th>
        <th>コメント</th>
        <th>備考</th>
        <th>R18</th>
        <th>ポイント</th>
        <th>予測</th>
      </tr>
      <tr>
        <td><%= artist.filenum %></td>
        <td><%= artist.recent_filenum %></td>
        <td><%= artist.priority %></td>
        <td><%= artist.rating %></td>
        <td><%= artist.comment %></td>
        <td><%= artist.remarks %></td>
        <td><%= artist.r18 %></td>
        <td><%= artist.point %></td>
        <td><%= artist.prediction_up_cnt(false) %></td>
      </tr>
    </table>
  </p>

  <hr />

  <% if artist["twtid"] != "" %>
    twitter(X)を開く
    <% url = %!https://twitter.com/#{artist["twtid"]}! %>
    <%= link_to "@#{artist["twtid"]}", url, target: :_blank, rel: "noopener noreferrer" %>
  <% else %>
    <font color="red">twt未設定</font>
  <% end %>
  <br />

  <% if artist["njeid"] != "" %>
    nijieを開く
    <% url = %!https://nijie.info/members.php?id=#{artist["njeid"]}! %>
    <%= link_to "#{artist["njeid"]}", url, target: :_blank, rel: "noopener noreferrer" %>
  <% else %>
    <font color="red">nje未設定</font>
  <% end %>
  <hr />


  <p>
    <table border="1">
      <tr>
        <th>最新DL日</th>
        <th>最新投稿日</th>
        <th>最終アクセス日</th>
      </tr>
      <tr>
        <td>
          <%= artist.get_datetime_string(artist.last_dl_datetime) %>
          (<%= artist.get_date_info(artist.last_dl_datetime) %>)
        </td>
        <td>
          <font color="red">
          <%= artist.get_datetime_string(artist.last_ul_datetime) %>
          </font>
          (<%= artist.get_date_info(artist.last_ul_datetime) %>)
        </td>
        <td>
          <%= artist.get_datetime_string(artist.last_access_datetime) %>
        </td>
      </tr>
    </table>
  </p>

  <% if artist.chara != "" %>
  <p>
    <strong>よく描くキャラ:</strong>
    <%= artist.chara %>
  </p>
  <% end %>

  <% if artist.work != "" %>
  <p>
    <strong>よく描く作品:</strong>
    <%= artist.work %>
  </p>
  <% end %>

  <% if artist.warnings != "" %>
  <p>
    <strong>注意事項:</strong>
    <font color="red"><%= artist.warnings %></font>
  </p>
  <% end %>

  <h3>Pixivを開く =>
  <% url = artist.pxv_user_url %>
  <%= link_to artist["pxvid"], url, target: :_blank, rel: "noopener noreferrer" %>
  </h3>

</div>