<div id="<%= dom_id artist %>">

  <p>
    <h2>
    <%= artist.pxvname %>
    (<%= artist.pxvid %>)

    <% furigana = %![#{artist.furigana}]! if artist.furigana != ""%>
    <%= furigana %>
    <%= artist.altname %>,
    <%= artist.oldname %>
    </h2>
  </p>

  <p>
    <% if artist["status"] != "" %>
      <h3>Status:<%= artist.status %></h3>
    <% end %>
  </p>

  <p>
    <table border="1">
      <tr>
        <th>ファイル数</th>
        <th>優先度</th>
        <th>Rating</th>
        <th>コメント</th>
        <th>備考</th>
        <th>R18</th>
      </tr>
      <tr>
        <td><%= artist.filenum %></td>
        <td><%= artist.priority %></td>
        <td><%= artist.rating %></td>
        <td><%= artist.comment %></td>
        <td><%= artist.remarks %></td>
        <td><%= artist.r18 %></td>
      </tr>
    </table>
  </p>

  <hr />

  <% if artist["twtid"] != "" %>
    twitter(X)を開く
    <% url = %!https://twitter.com/#{artist["twtid"]}! %>
    <%= link_to "@#{artist["twtid"]}", url, target: :_blank, rel: "noopener noreferrer" %>
  <% else %>
    <font color="red">twt未設定</font>
  <% end %>

  <hr />

  <% if artist["njeid"] != "" %>
    nijieを開く
    <% url = %!https://nijie.info/members.php?id=#{artist["njeid"]}! %>
    <%= link_to "#{artist["njeid"]}", url, target: :_blank, rel: "noopener noreferrer" %>
  <% else %>
    <font color="red">nje未設定</font>
  <% end %>
  <hr />

  
  <p>
    <strong>Last dl datetime:</strong>
    <%= artist.last_dl_datetime.in_time_zone('Tokyo').strftime("%Y-%m-%d") %>
    (<%= artist.get_date_info(artist.last_dl_datetime) %>)
  </p>

  <p>
    <strong>最新投稿日:</strong>
    <font color="red">
    <%= artist.last_ul_datetime.in_time_zone('Tokyo').strftime("%Y-%m-%d") %>
    </font>
    (<%= artist.get_date_info(artist.last_ul_datetime) %>)
  </p>

  <p>
    <strong>Last access datetime:</strong>
    <%= artist.last_access_datetime.in_time_zone('Tokyo').strftime("%Y-%m-%d") %>
  </p>

  <% if artist.chara != "" %>
  <p>
    <strong>よく描くキャラ:</strong>
    <%= artist.chara %>
  </p>
  <% end %>

  <% if artist.work != "" %>
  <p>
    <strong>よく描く作品:</strong>
    <%= artist.work %>
  </p>
  <% end %>

  <% if artist.warnings != "" %>
  <p>
    <strong>注意事項:</strong>
    <font color="red"><%= artist.warnings %></font>
  </p>
  <% end %>

  <h3>Pixivを開く =>
  <% url = %!https://www.pixiv.net/users/#{artist.pxvid}! %>
  <%= link_to artist["pxvid"], url, target: :_blank, rel: "noopener noreferrer" %>
  </h3>

</div>