<div id="<%= dom_id artist %>">

  <p>
    <h2>
    <%= artist.pxvname %>
    (<%= artist.pxvid %>)

    <% furigana = %![#{artist.furigana}]! if artist.furigana != ""%>
    <%= furigana %>
    <%= %!/別名"#{artist.altname}"! if artist.altname != "" %>
    <%= %!/旧名"#{artist.oldname}"! if artist.oldname != "" %>
    <%= %!/サークル名："#{artist.circle_name}"! if artist.circle_name != "" %>
    </h2>
  </p>

  <p>
    <table border="1">
      <tr>
        <th>-</th>
        <th>評価</th>
        <th>R18</th>
        <th>twt</th>
        <th>予測</th>
        <th>コメント</th>
        <th>備考</th>
        <th>癖（へき）</th>
        <th>ファイル数</th>
      </tr>
      <tr>
        <td><%= artist.feature %></td>
        <% if artist.rating == 0 %>
          <td bgcolor="yellow"><%= artist.rating %></td>
        <% else %>
          <td><%= artist.rating %></td>
        <% end %>
        <td><%= artist.r18 %></td>
        <td><%= artist.twtid %></td>
        <td><%= artist.prediction_up_cnt(true) %></td>
        <td><%= artist.comment %></td>
        <td><%= artist.remarks %></td>
        <td><%= artist.fetish %></td>
        <td><%= artist.filenum %>(<%= artist.recent_filenum %>)</td>
      </tr>
    </table>
  </p>

  <p>
    <table border="1">
      <tr>
        <th>最新投稿日</th>
        <th>DB登録日</th>
        <th>最初期投稿日</th>
        <th>前回アクセス日</th>
        <th>最新DL日</th>
      </tr>
      <tr>
        <td>
          <font color="red">
            <%= artist.get_datetime_string(artist.last_ul_datetime, true) %>
          </font>
          (<%= artist.get_date_info(artist.last_ul_datetime) %>)
        </td>
        <td>
          <%= artist.get_date_info(artist.created_at) %>
        </td>
        <td>
          <%= artist.get_datetime_string(artist.earliest_ul_date, true) if artist.earliest_ul_date.presence %>
        </td>
        <td>
          <%= artist.get_date_info(@last_access_datetime) %>
        </td>
        <td>
          <%= artist.get_date_info(artist.last_dl_datetime) %>
          (<%= artist.get_datetime_string(artist.last_dl_datetime, true) %>)
        </td>
      </tr>
    </table>
  </p>
  
  <% if @path_list.size == 0 %>
    <%= link_to "サムネイル強制表示", artist_path(artist, thumbnail: :yes, number_of_display: 5) %>
  <% end %>

  <% if artist.chara != "" %>
    <p>
      <strong>よく描くキャラ:</strong>
      <%= artist.chara %>
    </p>
  <% end %>

  <% if artist.work != "" %>
    <p>
      <strong>よく描く作品:</strong>
      <%= artist.work %>
    </p>
  <% end %>

  <% if artist.warnings != "" %>
    <p>
      <strong>注意事項:</strong>
      <font color="red"><%= artist.warnings %></font>
    </p>
  <% end %>

</div>