<div id="<%= dom_id artist %>">

  <p>
    <h2>
    <%= artist.pxvname %>
    (<%= artist.pxvid %>)

    <% furigana = %![#{artist.furigana}]! if artist.furigana != ""%>
    <%= furigana %>
    <%= %!/別名"#{artist.altname}"! if artist.altname != "" %>
    <%= %!/旧名"#{artist.oldname}"! if artist.oldname != "" %>
    <%= %!/サークル名："#{artist.circle_name}"! if artist.circle_name != "" %>
    </h2>
  </p>

<%
=begin %>
    t.datetime "earliest_ul_date"
    t.string "pxv_path"
    t.integer "tech_point"
    t.integer "sense_point"
    t.string "good_point"
    t.string "bad_point"
    t.integer "pxv_fav_artwork_id"
    t.string "fetish"
    t.string "obtain_direction"
    t.integer "next_obtain_artwork_id"
    t.string "twt_check"
    t.string "web_url"
    t.datetime "djn_check_date"
    t.integer "zip"
<%
=end %>

  <p>
    <% if artist["status"] != "" %>
      <h3>Status:<%= artist.status %></h3>
    <% end %>
  </p>

  <p>
    <table border="1">
      <tr>
        <th>-</th>
        <th>評価</th>
        <th>R18</th>
        <th>予測</th>
        <th>ポイント</th>
        <th>補正</th>
        <th>コメント</th>
        <th>備考</th>
        <th>技術点</th>
        <th>感性点</th>
        <th>長所</th>
        <th>短所</th>
        <th>癖（へき）</th>
        <th>取得方向</th>
        <th>djnチェック日</th>
        <th>zip/pdf化</th>
        <th>ファイル数</th>
        <th>最近</th>
      </tr>
      <tr>
        <td><%= artist.feature %></td>
        <% if artist.rating == 0 %>
          <td bgcolor="yellow"><%= artist.rating %></td>
        <% else %>
          <td><%= artist.rating %></td>
        <% end %>
        <td><%= artist.r18 %></td>
        <td><%= artist.prediction_up_cnt(true) %></td>
        <td><%= artist.point %></td>
        <td><%= artist.priority %></td>
        <td><%= artist.comment %></td>
        <td><%= artist.remarks %></td>
        <td><%= artist.tech_point %></td>
        <td><%= artist.sense_point %></td>
        <td><%= artist.good_point %></td>
        <td><%= artist.bad_point %></td>
        <td><%= artist.fetish %></td>
        <td><%= artist.obtain_direction %></td>
        <td><%= artist.djn_check_date %></td>
        <td><%= artist.zip %></td>
        <td><%= artist.filenum %></td>
        <td><%= artist.recent_filenum %></td>
      </tr>
    </table>
  </p>

  <hr />

  <% if artist["twtid"] != "" %>
    <% if artist["twt_check"] == "t" %>
      <h3>TWTチェック↓↓↓</h3>
    <% end %>
    twitter(X)を開く
    <% url = %!https://twitter.com/#{artist["twtid"]}! %>
    <%= link_to "@#{artist["twtid"]}", url, target: :_blank, rel: "noopener noreferrer" %>
  <% else %>
    <font color="red">twt未設定</font>
  <% end %>
  <%= link_to "【twtサムネイル表示】", "../artists/#{@artist.id}?mode=twt_pic_list#twt_pic_list" %>
  <br />

  <% if artist.nje_p %>
    nijieを開く
    <% url = %!https://nijie.info/members.php?id=#{artist["njeid"]}! %>
    <%= link_to "#{artist["njeid"]}", url, target: :_blank, rel: "noopener noreferrer" %>
  <% end %>
  <hr />


  <p>
    <table border="1">
      <tr>
        <th>最新DL日</th>
        <th>最新投稿日</th>
        <th>最初期投稿日</th>
        <!-- <th>最終アクセス日</th>-->
        <th>前回アクセス日</th>
      </tr>
      <tr>
        <td>
          <%= artist.get_datetime_string(artist.last_dl_datetime, true) %>
          (<%= artist.get_date_info(artist.last_dl_datetime) %>)
        </td>
        <td>
          <font color="red">
          <%= artist.get_datetime_string(artist.last_ul_datetime, true) %>
          </font>
          (<%= artist.get_date_info(artist.last_ul_datetime) %>)
        </td>
        <td>
          <%= artist.get_datetime_string(artist.earliest_ul_date, true) if artist.earliest_ul_date.presence %>
        </td>
        <td>
          <%#= artist.get_datetime_string(artist.last_access_datetime, true) %>
          <%= artist.get_datetime_string(@last_access_datetime, true) %>
          (<%= artist.get_date_info(@last_access_datetime) %>)
        </td>
      </tr>
    </table>
  </p>

  <% if artist.chara != "" %>
  <p>
    <strong>よく描くキャラ:</strong>
    <%= artist.chara %>
  </p>
  <% end %>

  <% if artist.work != "" %>
  <p>
    <strong>よく描く作品:</strong>
    <%= artist.work %>
  </p>
  <% end %>

  <% if artist.warnings != "" %>
  <p>
    <strong>注意事項:</strong>
    <font color="red"><%= artist.warnings %></font>
  </p>
  <% end %>

  <h3>Pixivを開く =>
  <% url = artist.pxv_user_url %>
  <%= link_to artist["pxvid"], url, target: :_blank, rel: "noopener noreferrer" %>
  </h3>

</div>