<div id="<%= dom_id artist %>">

  <p>
    <h2><%= page_header(artist) %></h2>
  </p>

  <p>
    <table border="1">
      <tr>
        <th>-</th>
        <th>評価</th>
        <th>R18</th>
        <th>twt</th>
        <th>予測</th>
        <th>コメント</th>
        <th>備考</th>
        <th>癖（へき）</th>
        <th>DB登録日</th>
        <th>前回アクセス日</th>
      </tr>
      <tr>
        <td><%= artist.feature %></td>
        <% if artist.rating == 0 %>
          <td bgcolor="yellow"><%= artist.rating %></td>
        <% else %>
          <td><%= artist.rating %></td>
        <% end %>
        <td><%= artist.r18 %></td>
        <td><%= artist.twtid %><%= ApplicationHelper::TWT_ICON if artist.twtid.presence %></td>
        <td><%= artist.prediction_up_cnt(true) %></td>
        <td><%= artist.comment %></td>
        <td><%= artist.remarks %></td>
        <td><%= artist.fetish %></td>
        <td>
          <%= artist.get_date_info(artist.created_at) %>
        </td>
        <td>
          <%= artist.get_date_info(@last_access_datetime) %>
        </td>
      </tr>
    </table>
  </p>

  <!--
  <% if @path_list.size == 0 %>
    <%= link_to "サムネイル強制表示", artist_path(artist, thumbnail: :yes, number_of_display: 5) %>
  <% end %>
  !-->

  <% if artist.chara.presence %>
    <p>
      <strong>よく描くキャラ:</strong>
      <%= artist.chara %>
    </p>
  <% end %>

  <% if artist.work.presence %>
    <p>
      <strong>よく描く作品:</strong>
      <%= artist.work %>
    </p>
  <% end %>

  <% if artist.warnings.presence %>
    <p>
      <h3>
        注意事項:
        <font color="red"><%= artist.warnings %></font>
      </h3>
    </p>
  <% end %>

</div>