<div id="<%= dom_id artist %>">

  <p>
    <h2>
    <%= artist.pxvname %>
    (<%= artist.pxvid %>)
    </h2>
  </p>

  <hr />
  Pixivを開く
    <% url = %!https://www.pixiv.net/users/#{artist.pxvid}! %>
    <%= link_to artist["pxvid"], url, target: :_blank, rel: "noopener noreferrer" %>
  <hr />

  <p>
    <strong>Filenum:</strong>
    <%= artist.filenum %>
  </p>

  <p>
    <strong>Last dl datetime:</strong>
    <%= artist.last_dl_datetime.in_time_zone('Tokyo').strftime("%Y-%m-%D") %>
  </p>

  <p>
    <strong>最新投稿日:</strong>
    <%= artist.last_ul_datetime.in_time_zone('Tokyo').strftime("%Y-%m-%D") %>
  </p>

  <p>
    <strong>Last access datetime:</strong>
    <%= artist.last_access_datetime %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= artist.priority %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= artist.status %>
  </p>

  <p>
    <strong>comment:</strong>
    <%= artist.comment %>
  </p>
  
  <p>
    <strong>pxvid:</strong>
    <%= artist.pxvid %>
  </p>

  <% if artist["twtid"] != "" %>
    <hr />
    twitter(X)を開く
    <% url = %!https://twitter.com/#{artist["twtid"]}! %>
    <%= link_to "@#{artist["twtid"]}", url, target: :_blank, rel: "noopener noreferrer" %>
  <% else %>
    twt未設定
  <% end %>

</div>