<style>
.btn {
  padding-left: 1em;
  padding-right: 1em;
  height: 2em;
  width: 100px;
}
.btn2 {
  padding-left: 1em;
  padding-right: 1em;
  height: 2em;
  width: 200px;
}
</style>

<script>
  function options_up(elemntId) {
      let sel_box = document.getElementById(elemntId);
      let options = sel_box.options;

      for (let i = 0; i < options.length; i++) {
          if (options[i].selected) {
              if (i == 0) {
                  options[options.length - 1].selected = true;
              }
              else {
                  options[i - 1].selected = true;
              }
              break;
          }
      }
  }

  function options_down(elemntId) {
      let sel_box = document.getElementById(elemntId);
      let options = sel_box.options;

      for (let i = 0; i < options.length; i++) {
          if (options[i].selected) {
              if (i == options.length - 1) {
                  options[0].selected = true;
              }
              else {
                  options[i + 1].selected = true;
              }
              break;
          }
      }
  }

  function set_time(elem_id, col_n = -8) {
    let elem = document.getElementById(elem_id);
    let date = new Date(elem.value);

    const now = new Date();
    now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
    now.setSeconds(date.getSeconds());//よくわからないが秒の値を変更前と合わせないとブラウザでエラーになる
    elem.value = now.toISOString().slice(0, col_n);
  }

  function getJson() {
    <% if artist and artist.id %>
      <% pxv_user_id = artist.id %>
      var url = '<%= artist_api_hoge_path(pxv_user_id, api: ArtistsController::ApiEnum::ARTIST_INFO) %>';
    <% else %>
      <% pxv_user_id = 0 %>
      var url = '';
    <% end %>
    fetch(url)
    .then(function (data) {
      return data.json();
    })
    .then(function (json) {
      let data = json.pxvname;
      let elem = document.getElementById('artist_circle_name');
      elem.value = data;
    });
  }

  function getRecentFilenum() {
    <% if artist and artist.id %>
      var url = '<%= artist_api_hoge_path(artist.id, api: ArtistsController::ApiEnum::ARTIST_RECENT_FILENUM) %>';
    <% else %>
      var url = '';
    <% end %>
    fetch(url)
    .then(function (data) {
      return data.json();
    })
    .then(function (json) {
      let data = json.xxx;
      let elem = document.getElementById('artist_recent_filenum');
      elem.value = data;
    });
  }

  function set_option(elemid, idx) {
    let status_sel_box = document.getElementById("artist_" + elemid);
    let options = status_sel_box.options;
    options[idx].selected = true;
  }

  function plus_rate(elem_id, point) {
    let elem = document.getElementById("artist_" + elem_id);
    let prio_val = parseInt(elem.value);
    elem.value = prio_val + point;
  }
  function set_rate(elem_id, point) {
    let elem = document.getElementById("artist_" + elem_id);
    elem.value = point;
  }
</script>

<%= form_with(model: artist) do |form| %>
  <% if artist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
        <% artist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <hr />
  <% if artist and artist.id %>
    <%= link_to "表示リフレッシュ", artist_path(artist, access_dt_update: "no", thumbnail: :yes) %>

    <h3>Pixivを開く =>
      <% url = artist.pxv_user_url %>
      <%= link_to_ex artist.pxvid, url %>
    </h3>
  <% end %>

  <h1>編集</h1>

  <h2>項目</h2>
  <div>
    <% twt = nil %>
    <%= form.label :twtid, style: "display: block" %>
    <% twtid_val = artist.twtid %>
    <% if twtid_val.presence %>
      <% twt_pic_path_list = Twt::get_pic_filelist(twtid_val) %>

      <% tweet_ids = Twt::get_twt_tweet_ids_from_txts(twtid_val) %>
      <% tweet_ids.each do |x| %>
        <% url = Twt::twt_tweet_url(twtid_val, x) %>
        <%= link_to_ex(url, url) %>
        [<%= Twt::timestamp_str(x) %>]

        <% paths = Twt::search_tweet(twt_pic_path_list, x) %>
        <% if paths.size > 0 %>
          ファイルあり
        <% else %>
          <%  tweet_rcd = Tweet.find_by(tweet_id: x) %>
          <% if tweet_rcd %>
            <% p tweet_rcd %>
            "<%= tweet_rcd.status %>"

            <% if tweet_rcd.status == Tweet::StatusEnum::UNACCESSIBLE %>
              <% show_link = true %>
            <% end %>
          <% else %>
            <% show_link = true %>
          <% end %>

          <% if show_link %>
            <% url2 = Twt::twt_tweet_url_dev(x) %>
            <%= link_to_ex(url2, url2) %>
          <% end %>
        <% end %>
        <br>
      <% end %>

      <% twt = Twitter.find_by_twtid_ignore_case(artist.twtid) %>
      <% if twt.presence %>
        <% if artist.twtid != twt.twtid %>
          <% twtid_val = twt.twtid %>
          登録されているスクリーンネームが異なります<br />
          ・@<%= artist.twtid %>(pxv)現在の値<br />
          ・@<%= twt.twtid %>(twt)<br />
          <font color='red'>twtに合わせて更新↓</font><br />
        <% end %>
      <% else %>
        [<%= link_to_ex("New Twt", new_twitter_path(twtid: artist.twtid, pxvid: artist.pxvid, status: Twitter::TWT_STATUS::STATUS_PATROL, twtname: artist.pxvname)) %>]
        [<%= link_to_ex %!☆twt☆:@#{artist.twtid}!, artist_twt_path(artist.twtid) %>]
        <br />

      <% end %>
    <% else %>
      <% if artist.pxvid.presence %>
        <% twt_pxv = Twitter.find_by(pxvid: artist.pxvid) %>
      <% end %>
      <% if twt_pxv.presence %>
        "<%= twt_pxv.twtid %>"
        <% twtid_val = twt_pxv.twtid %>
      <% end %>
    <% end %>
    @<%= form.text_field :twtid, :value => twtid_val %>

    <% if artist.twtid.presence %>
      <%= link_to_ex "@#{artist.twtid}", artist.twt_user_url %>
      <% if twt.presence %>
        (@<%= twt.twtid %>)
        <br />
        <%= twt.twtname %>
        [<%= twt.drawing_method %>]【<%= twt.rating %>|<%= twt.r18 %>】
        [<%= link_to "■twt■", twitter_path(twt) %>]
        <b><%= %!(#{twt.status})! if twt.status != "TWT巡回" and twt.status != "" and twt.status != nil %></b>
        ACCS:<%= twt.get_date_info(twt.last_access_datetime) if twt.last_access_datetime.presence %>
        UL:<%= twt.get_date_info(twt.last_post_datetime) if twt.last_post_datetime.presence %>
        予測：<%= twt.prediction %>
        <br />
        PXVID:<%= twt.pxvid %>
        <hr />
      <% elsif artist.twtid != "" %>
        <%#= link_to "New Twt", new_twitter_path(twtid: artist.twtid, pxvid: artist.pxvid, status: Twitter::TWT_STATUS::STATUS_PATROL, twtname: artist.pxvname) %>
        <% search_word = artist.twtid%>
        <% user_exist = Twt::user_exist?(search_word) %>
        <% if user_exist %>
          <br />
          DB未登録だがフォルダあり:"@<%= search_word %>"
          <%= link_to_ex %!☆twt☆:@#{search_word}!, artist_twt_path(search_word) %>
          <br />
        <% end %>
      <% end %>
    <% else %>
      <font color="red">twt未設定
      </font>
        <% if artist.pxvid.presence %>
          <% twt_pxv = Twitter.find_by(pxvid: artist.pxvid) %>
        <% else %>
          <% twt_pxv = nil %>
        <% end %>
        <% if twt_pxv.presence %>
          "@<%= twt_pxv.twtid %>"
        <% end %>
    <% end %>
    <br />
  </div>

  <!-- rating -->
  <div>
    <%= form.label :rating, style: "display: block" %>
    <% if artist.rating %>
      <% rating_val = artist.rating %>
    <% else %>
      <% rating_val = 0 %>
    <% end %>
    <%= form.number_field :rating, in: 0..150, :value => rating_val %>
    <input type="button" value="+5" onclick="plus_rate('rating', 5);" class="btn" />
    <input type="button" value="+4" onclick="plus_rate('rating', 4);" class="btn" />
    <input type="button" value="+1" onclick="plus_rate('rating', 1);" class="btn" />
    <input type="button" value="-5" onclick="plus_rate('rating', -5);" class="btn" />
    <input type="button" value="-1" onclick="plus_rate('rating', -1);" class="btn" />
    <br />
    <input type="button" value="100" onclick="set_rate('rating', 100);" class="btn" />
    <input type="button" value="90" onclick="set_rate('rating', 90);" class="btn" />
    <input type="button" value="85" onclick="set_rate('rating', 85);" class="btn" />
    <input type="button" value="80" onclick="set_rate('rating', 80);" class="btn" />
    <input type="button" value="75" onclick="set_rate('rating', 75);" class="btn" />
  </div>

  <div>
    <%= form.label :r18, style: "display: block" %>
    <%= form.select :r18,
      [
        ["R18", "R18"],
        ["R15", "R15"],
        ["R12", "R12"],
        ["健全？", "健全"],
        ["全年齢", "全年齢"], 
        ["かわいい系", "かわいい系"],
        ["アート系", "アート系"],
        ["R36(危険)", "R36"]
      ],
    include_blank: "選択して下さい" %>
    <input type="button" value="R18" onclick="select_r(1);" class="btn" />
    <input type="button" value="R15" onclick="select_r(2);" class="btn" />
    <input type="button" value="R12" onclick="select_r(3);" class="btn" />
    <input type="button" value="全年齢" onclick="select_r(5);" class="btn" />
    <input type="button" value="toggle" onclick="options_up('artist_r18');" class="btn" />
    <script>
      function select_r(idx) {
        let r18_sel_box = document.getElementById("artist_r18");
        let options = r18_sel_box.options;
        options[idx].selected = true;
      }
    </script>
  </div>

  <br />
  <div>
    <%= form.submit("更新", class: 'subtmi-btn') %>
    <!-- 
    <input type="button" value="最新DL日時を現在日時に設定" onclick="set_time('artist_last_dl_datetime', -5);" />
    -->
  </div>

  <hr />
  
  <div>
    <%= form.label "さかのぼり", style: "display: block" %>
    <%= form.select :reverse_status, [
        ["さかのぼり中", "さかのぼり中"],
        ["さかのぼり済", "さかのぼり済"],
        ["さかのぼり不可(不能)", "さかのぼり不可"],
        ["さかのぼり不要", "さかのぼり不要"],
      ], include_blank: "選択して下さい" %>
    <input type="button" value="↑" onclick="options_up('artist_reverse_status');" class="btn" />
    <input type="button" value="↓" onclick="options_down('artist_reverse_status');" class="btn" />
    <input type="button" value="さかのぼり中" onclick="set_option('reverse_status', 1);" class="btn" />
    <input type="button" value="さかのぼり済" onclick="set_option('reverse_status', 2);" class="btn" />
  </div>

  <h2>その他</h2>

  <div>
    最新投稿日(DB):<%= artist.get_datetime_string(artist.last_ul_datetime, true) %>
    (<%= Util::get_date_info(artist.last_ul_datetime) %>)
    <br />

    <%= form.label :status, style: "display: block" %>
    <%= form.select :status,
      [
        ["退会", ArtistsController::Status::DELETED],
        ["停止", ArtistsController::Status::SUSPEND],
        ["長期更新なし★", ArtistsController::Status::LONG_TERM_NO_UPDATS],
        ["半年以上更新なし", ArtistsController::Status::SIX_MONTH_NO_UPDATS], 
        ["3ヶ月以上更新なし", "3ヶ月以上更新なし"], 
        ["1ヶ月以上更新なし", "1ヶ月以上更新なし"], 
        ["別アカウントに移行", "別アカウントに移行"],
        ["作品ゼロ", "作品ゼロ"], 
        ["一部消えた", "一部消えた"], 
        ["ほぼ消えた", "ほぼ消えた"], 
        ["取得途中", "取得途中"], 
        ["最新から取得し直し中(歯抜けあり)", "最新から取得し直し中"], 
        ["最新追っかけ中", "最新追っかけ中"], 
        ["彼岸", "彼岸"],
        ["更新頻度低", "更新頻度低"],
      ],
      include_blank: "選択して下さい" %>
    <input type="button" value="'歯抜けあり'に変更" onclick="set_option('status', 12);" class="btn2" />
    <input type="button" value="'最新追っかけ中'に変更" onclick="set_option('status', 13);" class="btn2" />
    <input type="button" value="'半年以上更新なし'に変更" onclick="set_option('status', 4);" class="btn2" />
    <input type="button" value="'長期更新なし'に変更" onclick="set_option('status', 3);" class="btn2" />
    <input type="button" value="空白に変更" onclick="set_option('status', 0);" class="btn" />
  </div>
 
  <div>
    <%= form.label :特徴（AI、3D、etc…）, style: "display: block" %>
    <%= form.select :feature,
      [
        ["AI", "AI"],
        ["3D", "3D"],
        ["小説", "小説"],
      ], include_blank: "選択して下さい" %>
    <input type="button" value="↑" onclick="options_up('artist_feature');" class="btn" />
    <input type="button" value="↓" onclick="options_down('artist_feature');" class="btn" />
    <input type="button" value="AI" onclick="set_option('feature', 1);" class="btn" />
  </div>
  
  <div>
    <%= form.label :備考（なんでもメモ）, style: "display: block" %>
    <%= form.text_field :remarks %>
  </div>

  <div>
    <%= form.label :注意点, style: "display: block" %>
    <%= form.text_field :warnings %>
  </div>

  <div>
    <%= form.label :不要画像情報, style: "display: block" %>
    <%= form.text_field :del_info %>
  </div>

  <div>
    <%= form.label "コメント", style: "display: block" %>
    <%= form.select :comment, [
      ["体がでかい（太い）", "体がでかい（太い）"], ["宣伝が多すぎる(ぼかし/モザイク)", "宣伝が多すぎる"], 
      ["頭身が低すぎる", "頭身が低すぎる"], ["パクリ", "パクリ"], ["BL専", "BL専"]], include_blank: "選択して下さい" %>
  </div>
 
  <hr />

  <div>
    <%= form.label :作品, style: "display: block" %>
    <%= form.text_field :work %>
  </div>

  <div>
    <%= form.label :キャラ, style: "display: block" %>
    <%= form.text_field :chara %>
  </div>
  
  <hr />

  <div>
    <%= form.label :補正, style: "display: block" %>
    <%= form.number_field :priority %>

    <input type="button" value="0" onclick="set(0);" class="btn" />
  </div>

  <h2>ユーザー情報</h2>
  <div>
    <%= form.label :癖（へき）, style: "display: block" %>
    <%= form.text_field :fetish %>
  </div>
  
  <div>
    <%= form.label :njeid, style: "display: block" %>
    <%= form.text_field :njeid %>

    <% if artist.nje_p %>
      nijieを開く
      <%= link_to_ex artist.njeid, artist.nje_member_url %>
    <% end %>
  </div>

  <hr />

  <div>
    <%= form.label :付加情報, style: "display: block" %>
    <%= form.text_field :append_info %>
  </div>

  <div>
    <%= form.label :別名, style: "display: block" %>
    <%= form.text_field :altname %>
  </div>

  <div>
    <%= form.label :サークル名, style: "display: block" %>
    <%= form.text_field :circle_name %>
    <input type="button" value="get jsonテスト" onclick="getJson();" />
  </div>
  
  <div>
    <%= form.label :ウェブURL, style: "display: block" %>
    <%= form.text_field :web_url %>

    <% if artist.web_url %>
      <%= link_to_ex artist.web_url, artist.web_url %>
    <% end %>
  </div>

  <hr />

  <div>
    <%= form.label :ファイル数, style: "display: block" %>

    <% if @path_list %>
      <% if artist.filenum.presence %>
        <% if artist.filenum < @path_list.size %>
          <% filenum = @path_list.size %>
        <% end %>
      <% else %>
        <% filenum = @path_list.size %>
      <% end %>
    <% end %>

    <% if filenum %>
      "<%= artist.filenum %>"↓<font color='red'>更新あり</font><br />
      <%= form.number_field :filenum, :value => filenum %>
    <% else %>
      <%= form.number_field :filenum %>
    <% end %>
  </div>

  <div>
    <% if (artist.filenum == nil or artist.recent_filenum == nil) or
          (artist.filenum == artist.recent_filenum) or
          (artist.filenum and artist.filenum < @path_list.size) %>
      <% list = Artist.artwork_list(@path_list) %>
      <% recent_filenum = Artist.artwork_list_recent_file_num(list) %>
    <% end %>

    <%= form.label :最近のファイル数, style: "display: block" %>
    <% if recent_filenum and recent_filenum > 0 %>
      "<%= artist.recent_filenum %>"↓<font color='red'>更新あり</font><br />
      <%= form.number_field :recent_filenum, :value => recent_filenum %>
    <% elsif artist.recent_filenum == nil and recent_filenum == nil %>
      <%= form.number_field :recent_filenum, :value => 0 %>
    <% else %>
      <%= form.number_field :recent_filenum %>
    <% end %>
    <input type="button" value="ファイル情報取得" onclick="getRecentFilenum();" />
  </div>

  <div>
    <%= form.label :last_dl_datetime, style: "display: block" %>
    <%= form.datetime_field :last_dl_datetime %>
  </div>
 
  <div>
    <%= form.label :nje_checked_date, style: "display: block" %>
    <%= form.datetime_field :nje_checked_date %>
  </div>

  <div>
    <%= form.label :show_count, style: "display: block" %>
    <%= form.number_field :show_count %>
  </div>

  <div>
    <%= form.label :zipped_at, style: "display: block" %>
    <%= form.datetime_field :zipped_at %>
  </div>
  
  <div>
    <%= form.label :変更履歴, style: "display: block" %>
    <%= form.text_area :change_history %>
  </div>
  
  <h2>pxv</h2>

  <div>
    <%= form.label :pxvid, style: "display: block" %>
    <% if params[:pxvid].presence %>
      <% param_pxvid = params[:pxvid] %>
      <%= form.number_field :pxvid, value: param_pxvid %>
    <% else %>
      <%= form.number_field :pxvid %>
    <% end %>
  </div>

  <div>
    <%= form.label :pxvname, style: "display: block" %>
    <%= form.text_field :pxvname %>
  </div>

  <div>
    <%= form.label :よみ, style: "display: block" %>
    <%= form.text_field :furigana %>
  </div>

  <div>
    <%= form.label :旧名, style: "display: block" %>
    <%= form.text_field :oldname %>
  </div>

  <div>
    <%= form.label :pxv_fav_artwork_id, style: "display: block" %>
    <%= form.number_field :pxv_fav_artwork_id %>
  </div>

  <!-- artwork id -->
  <div>
    <%= form.label :最新PXVアートワークID, style: "display: block" %>
    <% latest_artwork_id = @artist.latest_artwork_id %>

    <% if @path_list %>
      <% artwork_id, _, _ = Pxv::get_pxv_artwork_info_from_path(@path_list[0]) %>
    <% end %>

    <% if (latest_artwork_id == nil and artwork_id.presence) or (artwork_id.presence and latest_artwork_id < artwork_id) %>
      "<%= latest_artwork_id %>"↓<font color='red'>更新あり</font><br />
      <% latest_artwork_id = artwork_id %>
    <% else %>
    <% end %>
    <%= form.number_field :latest_artwork_id, :value => latest_artwork_id %>
  </div>
  
  <div>
    <%= form.label :最古PXVアートワークID, style: "display: block" %>
    <% oldest_artwork_id = @artist.oldest_artwork_id %>
    <% #artwork_id, _, _ = Pxv::get_pxv_artwork_info_from_path(@path_list[-1]) %>
    <% artwork_id = Pxv::get_oldest_pxv_artwork_id(@path_list) %>
    <% if artwork_id.presence and artwork_id != 0 and ((oldest_artwork_id == nil and artwork_id.presence) or (oldest_artwork_id > artwork_id)) %>
      "<%= oldest_artwork_id %>"↓<font color='red'>更新あり</font><br />
      <% oldest_artwork_id = artwork_id %>
    <% else %>
    <% end %>
    <%= form.number_field :oldest_artwork_id, :value => oldest_artwork_id %>
  </div>
  
  <!-- artwork date -->
  <div>
    <%= form.label :last_ul_datetime, style: "display: block" %>
    <% if @path_list and @path_list[0] =~ /(\d\d-\d\d-\d\d)/ %>
      <% #upl_date = Date.parse($1).beginning_of_day.strftime('%Y-%m-%dT%T %z') %>
      <% #upl_date = Date.parse($1).strftime('%Y-%m-%dT%T') %>
      <% upl_date = Time.parse($1).in_time_zone("Asia/Tokyo") %>
      <% #upl_date = Date.parse($1).strftime('%Y-%m-%dT%T') %>
      <% #STDERR.puts %!["#{$1}"=>"#{upl_date}"] >< "#{@artist.last_ul_datetime}"! %>
      <% #STDERR.puts %!#{upl_date.class}/#{@artist.last_ul_datetime.class}! %>
      <% if @artist.last_ul_datetime and upl_date > @artist.last_ul_datetime %>
        <%= l @artist.last_ul_datetime %>↓<font color='red'>更新あり</font>
        <br />
        <%= form.datetime_field :last_ul_datetime, :value => upl_date %>
      <% else %>
        <%= form.datetime_field :last_ul_datetime %>
      <% end %>
    <% else %>
      <%= form.datetime_field :last_ul_datetime %>
    <% end %>
  </div>

  <div>
    <%= form.label :earliest_ul_date, style: "display: block" %>
    <% if @path_list and @path_list[-1] =~ /(\d\d-\d\d-\d\d)/ %>
      <% e_upl_date = Date.parse($1).beginning_of_day.strftime('%Y-%m-%dT%T') %>
      <% #STDERR.puts %![$1=#{$1}|e_upl_date=#{e_upl_date}] >=< @artist.earliest_ul_date=#{@artist.earliest_ul_date}}! %>
      <% #e_upl_date = Date.parse($1).strftime('%Y-%m-%dT%T') %>
      <% if @artist.earliest_ul_date and e_upl_date >= @artist.earliest_ul_date %>
        <%= form.datetime_field :earliest_ul_date %>
      <% else %>
        <%= l @artist.earliest_ul_date if @artist.earliest_ul_date%>↓<font color='red'>更新あり</font>
        <br />
        <%= form.datetime_field :earliest_ul_date, :value => e_upl_date %>
      <% end %>
    <% else %>
      <%= form.datetime_field :earliest_ul_date %>
    <% end %>
  </div>

<% end %>
