<%= form_with(model: artist) do |form| %>
  <% if artist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
        <% artist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.select :comment, [["AI", "AI"], ["体がでかい（太い）", "体がでかい（太い）"], ["宣伝が多すぎる", "宣伝が多すぎる"]], include_blank: "選択して下さい" %>
  </div>

  <div>
    <%= form.label :pxvname, style: "display: block" %>
    <%= form.text_field :pxvname %>
  </div>

  <div>
    <%= form.label :pxvid, style: "display: block" %>
    <%= form.number_field :pxvid %>
  </div>

  <div>
    <%= form.label :filenum, style: "display: block" %>
    <%= form.number_field :filenum %>
  </div>

  <div>
    <%= form.label :last_dl_datetime, style: "display: block" %>
    <%= form.datetime_field :last_dl_datetime %>
  </div>

  <div>
    <%= form.label :last_ul_datetime, style: "display: block" %>
    <%= form.datetime_field :last_ul_datetime %>
  </div>

  <div>
    <%= form.label :last_access_datetime, style: "display: block" %>
    <%= form.datetime_field :last_access_datetime %>
  </div>

  <div>
    <%= form.label :twtid, style: "display: block" %>
    @<%= form.text_field :twtid %>

    <input type="button" value="twtidの抽出" onclick="get_twtid();" />
    <script>
      function get_twtid() {
        let elem = document.getElementById("artist_twtid");
        let twtid = elem.value;
        let result = twtid.match(/https%3A%2F%2Ftwitter\.com%2F(.*)$/);
        if (result != null) {
          twtid = result[1];
          elem.value = twtid;
        }
      }
    </script>
  </div>

  <div>
    <%= form.label :priority, style: "display: block" %>
    <%= form.number_field :priority %>

    <input type="button" value="+10" onclick="plus10();" />
    <script>
      function plus10() {
        let elem = document.getElementById("artist_priority");
        //let prio_val = elem.value;
        let prio_val = parseInt(elem.value);
        elem.value = prio_val + 10;
      }
    </script>
  </div>

  <div>
    <%= form.label :r18, style: "display: block" %>
    <%= form.select :r18, [["R18", "R18"], ["R15", "R15"], ["R12", "R12"], ["健全", "健全"]], include_blank: "選択して下さい" %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, [["退会", "退会"], ["停止", "停止"], ["長期更新なし", "長期更新なし"], ["作品ゼロ", "作品ゼロ"], ["取得途中", "取得途中"], ["最新から取得し直し中", "最新から取得し直し中"], ["彼岸", "彼岸"]], include_blank: "選択して下さい" %>
    <%
=begin %>
    <%= f.collection_select :保存先のカラム名, テーブル（モデル）名.all, :実際にDBに保存させるカラム名, :選択肢に用いるカラム名, include_blank: "選択して下さい" %>
    <%
=end %>
  </div>

  <div>
    <%= form.label :remarks, style: "display: block" %>
    <%= form.text_field :remarks %>
  </div>

  <hr />
  <div>
    <%= form.submit %>
  </div>
<% end %>
