<style>
.btn {
  padding-left: 1em;
  padding-right: 1em;
  height: 2em;
  width: 50px;
}

</style>

<%= form_with(model: artist) do |form| %>
  <% if artist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
        <% artist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1>編集</h1>

  <h2>項目</h2>
  <div>
    <%= form.label :twtid, style: "display: block" %>
    @<%= form.text_field :twtid %>
    <!-- 
    <input type="button" value="twtidの抽出" onclick="get_twtid();" />
    <script>
      function get_twtid() {
        let elem = document.getElementById("artist_twtid");
        let twtid = elem.value;
        let result = twtid.match(/https%3A%2F%2Ftwitter\.com%2F(.*)$/);
        if (result != null) {
          twtid = result[1];
          elem.value = twtid;
        }
      }
    </script>
    -->
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%#= form.number_field :rating %>
    <%= form.select :rating,
      [["優++(12)", 12], ["優+(11)", 11], ["優(10)", 10], ["良+(9)", 9], ["良(8)", 8], ["良-(7)", 7], ["可(6)", 6], ["可？(5)", 5], 
      ["可？？(4)", 4], ["不可？(3)", 3], ["不可(2)", 2], ["不可-(1)", 1], ["悪(-1)", -1]],
      include_blank: "選択して下さい" %>
    <input type="button" value="↑" onclick="toggle_rate_up();" class="btn" />
    <input type="button" value="↓" onclick="toggle_rate_down();" class="btn" />
    <script>
      function toggle_rate_down() {
        let sel_box = document.getElementById("artist_rating");
        let options = sel_box.options;

        for (let i=0; i < options.length; i++)
        {
          if (options[i].selected)
          {
            if (i == options.length - 1)
            {
              options[0].selected = true;
            }
            else{
              options[i+1].selected = true;
            }
            break;
          }
        }
      }

      function toggle_rate_up() {
        let sel_box = document.getElementById("artist_rating");
        let options = sel_box.options;

        for (let i=0; i < options.length; i++)
        {
          if (options[i].selected)
          {
            if (i == 0)
            {
              options[options.length-1].selected = true;
            }
            else{
              options[i-1].selected = true;
            }
            break;
          }
        }
      }
    </script>
  </div>

  <hr />

  <div>
    <%= form.label :r18, style: "display: block" %>
    <%= form.select :r18,
      [["R18", "R18"], ["R15", "R15"], ["R12", "R12"], ["健全？", "健全"], ["全年齢", "全年齢"], 
      ["かわいい系", "かわいい系"], ["アート系", "アート系"],["R36(危険)", "R36"]],
    include_blank: "選択して下さい" %>
    <input type="button" value="R18" onclick="toggle_r(1);" class="btn" />
    <input type="button" value="R15" onclick="toggle_r(2);" class="btn" />
    <input type="button" value="R12" onclick="toggle_r(3);" class="btn" />
    <script>
      function toggle_r(idx) {
        //TODO: トグルするようにする
        let r18_sel_box = document.getElementById("artist_r18");
        let options = r18_sel_box.options;
        options[idx].selected = true;
      }
    </script>
  </div>

  <div>
    <%= form.label :twt_check, style: "display: block" %>
    <%= form.check_box :twt_check, {}, checked_value='t', unchecked_value='' %>
  </div>

  <div>
    <%= form.label :twt_checked_date, style: "display: block" %>
    <%= form.datetime_field :twt_checked_date %>
    <input type="button" value="現在時刻に設定" onclick="set_time('artist_twt_checked_date');" />
  </div>

  <br />
  <div>
    <%= form.submit("更新", class: 'subtmi-btn') %>
  </div>

  <h2>その他</h2>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, [["退会", "退会"], ["停止", "停止"],
      ["長期更新なし★", "長期更新なし"], 
      ["半年以上更新なし", "半年以上更新なし"], 
      ["別アカウントに移行", "別アカウントに移行"],
      ["作品ゼロ", "作品ゼロ"], ["一部消えた", "一部消えた"], ["ほぼ消えた", "ほぼ消えた"], 
      ["取得途中", "取得途中"], ["最新から取得し直し中", "最新から取得し直し中"], ["彼岸", "彼岸"]],
      include_blank: "選択して下さい" %>
    <input type="button" value="長期更新なしに変更" onclick="set_noupdate();" />
    <script>
      function set_noupdate() {
        let status_sel_box = document.getElementById("artist_status");
        let options = status_sel_box.options;
        options[3].selected = true;
      }
    </script>
  </div>

  <div>
    <%= form.label :補正, style: "display: block" %>
    <%= form.number_field :priority %>

    <input type="button" value="0" onclick="set(0);" class="btn" />
    <input type="button" value="-5" onclick="plus(-5);" class="btn" />
    <input type="button" value="+10" onclick="plus(10);" class="btn" />
    <input type="button" value="+25" onclick="plus(25);" class="btn" />
    <script>
      function plus(point) {
        let elem = document.getElementById("artist_priority");
        //let prio_val = elem.value;
        let prio_val = parseInt(elem.value);
        elem.value = prio_val + point;
      }
      function set(point) {
        let elem = document.getElementById("artist_priority");
        elem.value = point;
      }
    </script>
  </div>

  <hr />

  <div>
    <%= form.label :備考（なんでもメモ）, style: "display: block" %>
    <%= form.text_field :remarks %>
  </div>
 
  <div>
    <%= form.label :注意点, style: "display: block" %>
    <%= form.text_field :warnings %>
  </div>

  <div>
    <%= form.label "コメント/etc...", style: "display: block" %>
    <%= form.select :comment, [
      ["体がでかい（太い）", "体がでかい（太い）"], ["宣伝が多すぎる(ぼかし/モザイク)", "宣伝が多すぎる"], 
      ["頭身が低すぎる", "頭身が低すぎる"], ["パクリ", "パクリ"], ["BL専", "BL専"]], include_blank: "選択して下さい" %>
  </div>
 
  <div>
    <%= form.label :特徴, style: "display: block" %>
    <%= form.select :feature, [["AI", "AI"], ["3D", "3D"]], include_blank: "選択して下さい" %>
  </div>
  
  <hr />

  <div>
    <%= form.label :作品, style: "display: block" %>
    <%= form.text_field :work %>
  </div>

  <div>
    <%= form.label :キャラ, style: "display: block" %>
    <%= form.text_field :chara %>
  </div>
  
  <h2>ユーザー情報</h2>
  <div>
    <%= form.label :癖（へき）, style: "display: block" %>
    <%= form.text_field :fetish %>
  </div>
  
  <div>
    <%= form.label :pxv_fav_artwork_id, style: "display: block" %>
    <%= form.number_field :pxv_fav_artwork_id %>
  </div>

  <div>
    <%= form.label :pxvname, style: "display: block" %>
    <%= form.text_field :pxvname %>
  </div>

  <div>
    <%= form.label :pxvid, style: "display: block" %>
    <%= form.number_field :pxvid %>
  </div>

  <div>
    <%= form.label :njeid, style: "display: block" %>
    <%= form.text_field :njeid %>
  </div>

  <hr />

  <div>
    <%= form.label :付加情報, style: "display: block" %>
    <%= form.text_field :append_info %>
  </div>

  <div>
    <%= form.label :よみ, style: "display: block" %>
    <%= form.text_field :furigana %>
  </div>

  <div>
    <%= form.label :別名, style: "display: block" %>
    <%= form.text_field :altname %>
  </div>

  <div>
    <%= form.label :旧名, style: "display: block" %>
    <%= form.text_field :oldname %>
  </div>

  <div>
    <%= form.label :サークル名, style: "display: block" %>
    <%= form.text_field :circle_name %>
  </div>
  
  <div>
    <%= form.label :ウェブURL, style: "display: block" %>
    <%= form.text_field :web_url %>
  </div>

  <hr />

  <div>
    <%= form.label :filenum, style: "display: block" %>
    <%= form.number_field :filenum %>
  </div>

  <div>
    <%= form.label :last_dl_datetime, style: "display: block" %>
    <%= form.datetime_field :last_dl_datetime %>
  </div>

  <div>
    <%= form.label :last_ul_datetime, style: "display: block" %>
    <%= form.datetime_field :last_ul_datetime %>
  </div>

  <div>
    <%= form.label :last_access_datetime, style: "display: block" %>
    <%= form.datetime_field :last_access_datetime %>
  </div>

  <div>
    <%= form.label :earliest_ul_date, style: "display: block" %>
    <%= form.datetime_field :earliest_ul_date %>
  </div>
  
  <div>
    <%= form.label :nje_checked_date, style: "display: block" %>
    <%= form.datetime_field :nje_checked_date %>
    <input type="button" value="現在時刻に設定" onclick="set_time('artist_nje_checked_date');" />
  </div>

  <script>
    function set_time(elem_id) {
      let elem = document.getElementById(elem_id);
      const now = new Date();
      now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
      elem.value = now.toISOString().slice(0, -8);
    }
  </script>

  <div>
    <%= form.label :show_count, style: "display: block" %>
    <%= form.number_field :show_count %>
  </div>
  
<% end %>
