<%= form_with(model: artist) do |form| %>
  <% if artist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
        <% artist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :pxvname, style: "display: block" %>
    <%= form.text_field :pxvname %>
  </div>

  <div>
    <%= form.label :pxvid, style: "display: block" %>
    <%= form.number_field :pxvid %>
  </div>

  <div>
    <%= form.label :filenum, style: "display: block" %>
    <%= form.number_field :filenum %>
  </div>

  <div>
    <%= form.label :last_dl_datetime, style: "display: block" %>
    <%= form.datetime_field :last_dl_datetime %>
  </div>

  <div>
    <%= form.label :last_ul_datetime, style: "display: block" %>
    <%= form.datetime_field :last_ul_datetime %>
  </div>

  <div>
    <%= form.label :last_access_datetime, style: "display: block" %>
    <%= form.datetime_field :last_access_datetime %>
  </div>

  <div>
    <%= form.label :priority, style: "display: block" %>
    <%= form.number_field :priority %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
