<div id="<%= dom_id artist %>">
  <%= @path_list[0] %><br />
  <% if @path_list[0] =~ /(\d\d-\d\d-\d\d)/ %>
    <font color="red"><%= $1 %></font><br />
  <% end %>
  
  <% @path_list.first(4).each do |path| %>
    <% #= @path_list %>
    <%= image_tag path, width: '20%', height: '20%' %>
  <% end %> 
  <br />
  <% if @path_list[0] =~ /\d\d-\d\d-\d\d.*\((\d+)\)/ %>
    <% artwork_id = $1 %>
    <% url = %!https://www.pixiv.net/artworks/#{artwork_id}! %>
    <%= link_to url, url, target: :_blank, rel: "noopener noreferrer" %>
  <% end %>

  <hr />
  <a href="javascript:void(0);" onclick="prev_pic();">前の画像</a>
  <a href="javascript:void(0);" onclick="next_pic();">次の画像</a>
  <br />
  <img id="imagexx" width="20%" height="20%" src="" />
  <hr />

  <textarea id="dirpath" name="dirpath" rows="1" cols="255"><%= File.dirname ("F:/dPxv" + @path_list[0]) %></textarea>
  <script>
    function copy_to_clipboard() {
      let textarea = document.getElementById("dirpath");
      textarea.select();
      document.execCommand("copy");
    }
  </script>
  <input type="button" value="copy" onclick="copy_to_clipboard();" />
  <br />

</div>
