<div id="<%= dom_id artist %>">
  
  <input type="button" value="copy" onclick="copy_to_clipboard();" />

  <textarea id="dirpath" name="dirpath" rows="1" cols="255">
    <% if @path_list.size == 0 %>
      <% txt = "" %>
    <% else %>
      <% txt = File.dirname (Pxv::ARCHIVE_PATH + @path_list[0]) %>
    <% end %>
    <%= txt %>
  </textarea>
  
  <script>
    function copy_to_clipboard() {
      let textarea = document.getElementById("dirpath");
      textarea.select();
      document.execCommand("copy");
    }
  </script>

  <% if artist.status.presence %>
    <h3>Status:<%= artist.status %></h3>
  <% else %>
    <br />
  <% end %>

  <% if @path_list[0] =~ /(\d\d-\d\d-\d\d)/ %>
    <% pub_date = Date.parse($1) %>
    最新投稿日：<%= Util::get_date_info(pub_date) %>
    <% if artist.last_ul_datetime > pub_date %>
      <b>↓最新のファイルでない可能性があります</b>
    <% end %>
  <% else %>
    最新投稿日(DB):
    <%= artist.get_datetime_string(artist.last_ul_datetime, true) %>
    (<%= artist.get_date_info(artist.last_ul_datetime) %>)
  <% end %>
    <br />

  <% list = Artist.artwork_list(@path_list) %>
  <% list.first(@number_of_display).each.with_index(1) do |(artwork_id, data), idx| %>
    <% path = data[0] %>
    <% #artwork_id = Pxv::get_pxv_art_id(path) %>
    <% url = artist.pxv_artwork_url(artwork_id) %>
    <%= idx %>.
    (<%= link_to_ex artwork_id, url %>)
    <%= path.gsub("%23", "#") %><br />
  <% end %> 
  ---
  <%= artist.reverse_status %>
  ---
  <br />
  <% list.to_a.last(1).each.with_index(1) do |(artwork_id, data), idx| %>
    <% path = data[0] %>
    <% url = artist.pxv_artwork_url(artwork_id) %>
    <%= list.size %>.
    (<%= link_to_ex artwork_id, url %>)
    <%= path.gsub("%23", "#") %><br />
    <% if list[-1] =~ /(\d\d-\d\d-\d\d)/ #@path_list[-1] =~ /(\d\d-\d\d-\d\d)/ %>
      <% pub_date = Date.parse($1) %>
      <% if artist.earliest_ul_date.to_date < pub_date %>
        <% if artist.reverse_status != "さかのぼり済" %>
          <b>↑最古のファイルでない可能性があります(<%= %!#{pub_date}!%>)</b> > <%= %!#{artist.earliest_ul_date.to_date}! %>
          <% puts %!path:"#{list[-1]}"! %>
          <br />
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% file_num = 0 %>
  <% if list.presence %>
    <% file_num = Artist.artwork_list_file_num(list) %>
    <%= file_num %>(全ファイル数)平均<%= (file_num.to_f / list.size.to_f).round(2) %>枚
  <% end %>
  <br />
  最初期投稿日(DB登録データ):<%= artist.get_datetime_string(artist.earliest_ul_date, true) if artist.earliest_ul_date.presence %>
  <br />

  <% if artist.filenum > file_num #> 1000 %>
    <h3>一部のみ表示？(<%= file_num %>/<%= artist.filenum %>)</h3>
    <% if @artist.latest_artwork_id.presence %>
      <% url = artist.pxv_artwork_url(@artist.latest_artwork_id) %>
      最新：(<%= link_to_ex(@artist.latest_artwork_id, url) %>)
      <%= l @artist.last_ul_datetime %>
      <br />
    <% end %>
    <% if @artist.oldest_artwork_id.presence %>
      <% url = artist.pxv_artwork_url(@artist.oldest_artwork_id) %>
      最古：(<%= link_to_ex(@artist.oldest_artwork_id, url) %>)
      <%= l @artist.earliest_ul_date %>
      <br />
    <% end %>
    
  <% end %>
  <br />
  
  <% ratio = '15%' %>
  <% list.first(@number_of_display).each.with_index(1) do |(artwork_id, data), idx| %>
    <% path = data[0] %>
    <% title = data[1] %>
    <% date = data[2] %>
    <% fcnt = data[3] %>
    <%= idx %>
    <% name = File.basename path %>
    <% no = 1 %>
    <% if name =~ /^(\d+)\./ %>
      <% no = $1.to_i %>
    <% end %>
    <% if no != 1 %> 
      !1!
    <% end %>
    <% if fcnt > 1 %> 
      (<%= fcnt %>枚)
    <% end %>
    .
    <%= link_to_ex(image_tag(path, width: ratio, height: ratio), path) %>
  <% end %>

  <!-- 最初期のファイル -->
  <% ratio = '15%' %>
  <% list.to_a.last(1).each.with_index(1) do |(artwork_id, data), idx| %>
    <% path = data[0] %>
    <% title = data[1] %>
    <% date = data[2] %>
    <% fcnt = data[3] %>
    <%= list.size %>.
    <%= link_to_ex(image_tag(path, width: ratio, height: ratio), path) %>
  <% end %> 
  <br />
</div>
