<div id="<%= dom_id artist %>">
  
  <input type="button" value="copy" onclick="copy_to_clipboard();" />
  <textarea id="dirpath" name="dirpath" rows="1" cols="255"><%= File.dirname ("F:/dPxv" + @path_list[0]) %></textarea>
  <script>
    function copy_to_clipboard() {
      let textarea = document.getElementById("dirpath");
      textarea.select();
      document.execCommand("copy");
    }
  </script>
  <br />

  <% if @path_list[0] =~ /(\d\d-\d\d-\d\d)/ %>
    <font color="red"><%= $1 %></font><br />
    <% if date_diff?(artist, $1) %>
      <h3>日付が異なります</h3>
    <% end %>
  <% end %>

  <% @path_list.first(@number_of_display).each do |path| %>
    <% if path =~ /\d\d-\d\d-\d\d.*\((\d+)\)/ %>
      <% artwork_id = $1 %>
      <% url = artist.pxv_artwork_url(artwork_id) %>
      (<%= link_to artwork_id, url, target: :_blank, rel: "noopener noreferrer" %>)
      <%= path %><br />
    <% end %>
  <% end %> 
  
  <% list = artist.artwork_list(@path_list) %>
  <% list.first(@number_of_display).each do |artwork_id, data| %>
    <% path = data[0] %>
    <% title = data[1] %>
    <% date = data[2] %>
    <% fcnt = data[3] %>
    <%#= image_tag path, width: '20%', height: '20%' %>
    <%= link_to(image_tag(path, width: '15%', height: '15%'), path, target: :_blank, rel: "noopener noreferrer") %>
  <% end %> 
  <br />
</div>
