<div id="<%= dom_id artist %>">
  
  <input type="button" value="copy" onclick="copy_to_clipboard();" />

  <textarea id="dirpath" name="dirpath" rows="1" cols="255">
    <% if @path_list.size == 0 %>
      <% txt = "" %>
    <% else %>
      <% tpath = @path_list[0] %>
      <% if tpath.start_with?("f_dl") %>
        <% txt = File.dirname (Pxv::ARCHIVE_PATH + tpath) %>
      <% else %>
        <% txt = File.dirname (Pxv::PXV_TMP_PATH + tpath) %>
      <% end %>
    <% end %>
    <%= txt %>
  </textarea>
  
  <script>
    function copy_to_clipboard() {
      let textarea = document.getElementById("dirpath");
      textarea.select();
      document.execCommand("copy");
    }
  </script>

  <% if artist.status.presence %>
    <h3>Status:<%= artist.status %></h3>
  <% else %>
    <br />
  <% end %>

  <% if @path_list[0] =~ /(\d\d-\d\d-\d\d)/ %>
    <% pub_date = Date.parse($1) %>
  <% end %>

  【DB】
  ファイル数:<%= artist.filenum %>(<%= artist.recent_filenum %>)
  <hr />
    
  <% if pub_date %>
    最新投稿日(FS):
    <%= artist.get_datetime_string(pub_date, true) %>
    (<%= Util::get_date_info(pub_date) %>)
    <br />

    <% if artist.last_ul_datetime and artist.last_ul_datetime > pub_date %>
      <% if @artist.latest_artwork_id.presence %>
        <% url = artist.pxv_artwork_url(@artist.latest_artwork_id) %>
        最新(DB)：(<%= link_to_ex(@artist.latest_artwork_id, url) %>)
        <%= artist.get_datetime_string @artist.last_ul_datetime, true %>
        (<%= Util::get_date_info(@artist.last_ul_datetime) %>)
      <% end %>
      <br />
      <b>↓最新のファイルでない可能性があります。</b>
      <br />
    <% end %>
  <% else %>
    最新投稿日(DB):<%= artist.get_datetime_string(artist.last_ul_datetime, true) %>
    (<%= artist.get_date_info(artist.last_ul_datetime) %>)
    <br />
  <% end %>

  <% show_oldest = false %>
  <% list = Artist.artwork_list(@path_list) %>
  <% list.first(@number_of_display).each.with_index(1) do |(artwork_id, data), idx| %>
    <% path = data[0] %>
    <% #artwork_id = Pxv::get_pxv_art_id(path) %>
    <% url = artist.pxv_artwork_url(artwork_id) %>
    <%= idx %>.
    (<%= link_to_ex artwork_id, url %>)
    <%= path.gsub("%23", "#") %><br />
  <% end %> 
  ---
  <%= artist.reverse_status %>
  ---
  <br />
  <% list.to_a.last(1).each.with_index(1) do |(artwork_id, data), idx| %>
    <% path = data[0] %>
    <% url = artist.pxv_artwork_url(artwork_id) %>
    <%= list.size %>.
    (<%= link_to_ex artwork_id, url %>)
    <%= path.gsub("%23", "#") %>
    <br />

    <% if path =~ /(\d\d-\d\d-\d\d)/ #@path_list[-1] =~ /(\d\d-\d\d-\d\d)/ %>
      <% pub_date = Date.parse($1) %>

      <% if artist.earliest_ul_date and artist.earliest_ul_date.to_date < pub_date %>
        <% if artist.reverse_status != "さかのぼり済" %>
          <b>↑最古のファイルでない可能性があります(<%= %!#{pub_date}!%>)</b> > <%= %!#{artist.earliest_ul_date.to_date}! %>(登録されている日付)
          <% STDERR.puts %!path:"#{list[-1]}/#{path}"! %>
          <% show_oldest = true %>
          <br />
        <% else %>
          xx
        <% end %>
      <% else %>
        zz
      <% end %>
    <% else %>
      yy
    <% end %>
  <% end %>

  <% file_num = 0 %>
  <% if list.presence %>
    <% file_num = Artist.artwork_list_file_num(list) %>
    読み込みファイル数=<%= file_num %> (平均<%= (file_num.to_f / list.size.to_f).round(2) %>枚)
    <br />
    <% recent_filenum = Artist.artwork_list_recent_file_num(list) %>
    <% if @artist.recent_filenum %>
      <% if recent_filenum > @artist.recent_filenum %>
        <% eq_symbol = ">" %>
      <% elsif recent_filenum == @artist.recent_filenum %>
        <% eq_symbol = "=" %>
      <% else %>
        <% eq_symbol = "<" %>
      <% end %>
    <% end %>
  <% end %>

  <% if artist.earliest_ul_date.presence %>
    最初期投稿日(DB):<%= artist.get_datetime_string(artist.earliest_ul_date, true) %>
    (<%= artist.get_date_info(artist.earliest_ul_date) %>)
    <br />
  <% end %>

  <% if eq_symbol %>
    <hr />
    【最近のファイル数】計算:<%= recent_filenum %><%= eq_symbol %>DB:<%= @artist.recent_filenum %>
  <% end %>

  <% if artist.filenum > file_num or show_oldest %>
    <!-- TODO:ファイルとTSVとDB -->
    
    <h3>一部のみ表示？(<%= file_num %>/<%= artist.filenum %>)</h3>

    <% latest_artwork_id, oldest_artwork_id = artist.get_artwork_id_from_file() %>

    <% if !@artist.latest_artwork_id.presence or !@artist.oldest_artwork_id.presence %>
    <% end %>

    <% if @artist.latest_artwork_id.presence %>
      <% url = artist.pxv_artwork_url(@artist.latest_artwork_id) %>
      最新：(<%= link_to_ex(@artist.latest_artwork_id, url) %>)

      <%= artist.get_datetime_string @artist.last_ul_datetime, true %>
    <% else %>
      <% url = artist.pxv_artwork_url(latest_artwork_id) %>
      最新(TSV)：(<%= link_to_ex(latest_artwork_id, url) %>)

      <%= artist.get_datetime_string @artist.last_ul_datetime, true %>
    <% end %>
    <br />

    <% if @artist.oldest_artwork_id.presence %>
      <% url = artist.pxv_artwork_url(@artist.oldest_artwork_id) %>
      最古：(<%= link_to_ex(@artist.oldest_artwork_id, url) %>)

      <%= artist.get_datetime_string @artist.earliest_ul_date, true %>
      (<%= artist.reverse_status %>)
      <br />

      <% if oldest_artwork_id and @artist.oldest_artwork_id > oldest_artwork_id %>
        TSVのほうが古い→
        <% url = artist.pxv_artwork_url(oldest_artwork_id) %>
        最古：(<%= link_to_ex(oldest_artwork_id, url) %>)

      <% end %>
      
      <% if oldest_artwork_id == @artist.pxvid %>
        ※pxv user idと同じなので多分ミス
      <% end %>
    <% else %>
      <% url = artist.pxv_artwork_url(oldest_artwork_id) %>
      最古(TSV)：(<%= link_to_ex(oldest_artwork_id, url) %>)

      <%= artist.get_datetime_string @artist.earliest_ul_date, true %>
      (<%= artist.reverse_status %>)
      
      <% if oldest_artwork_id == @artist.pxvid %>
        ※pxv user idと同じなので多分ミス
      <% end %>
    <% end %>
  <% end %>
  <br />
  
  <% ratio = '15%' %>
  <% list.first(@number_of_display).each.with_index(1) do |(artwork_id, data), idx| %>
    <% path = data[0] %>
    <% title = data[1] %>
    <% date = data[2] %>
    <% fcnt = data[3] %>
    <%= idx %>
    <% name = File.basename path %>
    <% no = 1 %>
    <% if name =~ /^(\d+)\./ %>
      <% no = $1.to_i %>
    <% end %>
    <% if no != 1 %> 
      !1!
    <% end %>
    <% if fcnt > 1 %> 
      (<%= fcnt %>枚)
    <% end %>
    .
    <%= link_to_ex(image_tag(path, width: ratio, height: ratio), path) %>
  <% end %>

  <!-- 最初期のファイル -->
  <% ratio = '15%' %>
  <% list.to_a.last(1).each.with_index(1) do |(artwork_id, data), idx| %>
    <% path = data[0] %>
    <% title = data[1] %>
    <% date = data[2] %>
    <% fcnt = data[3] %>
    <%= list.size %>.
    <%= link_to_ex(image_tag(path, width: ratio, height: ratio), path) %>
  <% end %> 
  <br />
</div>
