<div id="<%= dom_id artist %>">
  
  <input type="button" value="copy" onclick="copy_to_clipboard();" />

  <textarea id="dirpath" name="dirpath" rows="1" cols="255">
    <% if @path_list.size == 0 %>
      <% txt = "" %>
    <% else %>
      <% txt = File.dirname (Pxv::ARCHIVE_PATH + @path_list[0]) %>
    <% end %>
    <%= txt %>
  </textarea>
  <script>
    function copy_to_clipboard() {
      let textarea = document.getElementById("dirpath");
      textarea.select();
      document.execCommand("copy");
    }
  </script>
  <br />
<!-- 
  <% if @path_list[0] =~ /(\d\d-\d\d-\d\d)/ %>
    <font color="red"><%= $1 %></font><br />
    <% if date_diff?(artist, $1) %>
      <h3>日付が異なります</h3>
    <% end %>
  <% end %>

  # 最新のファイルが現在よりnヶ月昔の場合は表示
  #TODO:

  ↓アクセス時間更新してるので無駄
  予測:<%= artist.prediction_up_cnt(true) %>
-->
  <% if @path_list[0] =~ /(\d\d-\d\d-\d\d)/ %>  
    <%= Util::get_date_info(Date.parse($1)) %>
    <br />
  <% end %>

  <% list = Artist.artwork_list(@path_list) %>
  <%# @path_list.first(@number_of_display).each.with_index(1) do |path, idx| %>
  <% list.first(@number_of_display).each.with_index(1) do |(artwork_id, data), idx| %>
    <% path = data[0] %>
    <% artwork_id = Pxv::get_pxv_art_id(path) %>
    <%# if path =~ /\d\d-\d\d-\d\d.*\((\d+)\)/ %>
    <%# artwork_id = $1 %>
    <% url = artist.pxv_artwork_url(artwork_id) %>
    <%= idx %>.(<%= link_to artwork_id, url, target: :_blank, rel: "noopener noreferrer" %>)
    <%= path %><br />
  <% end %> 
  ---
  <%= artist.reverse_status %> 
  ---
  <br />
  <% list.to_a.last(1).each.with_index(1) do |(artwork_id, data), idx| %>
    <% path = data[0] %>
    <% if path =~ /\d\d-\d\d-\d\d.*\((\d+)\)/ %>
      <% artwork_id = $1 %>
      <% url = artist.pxv_artwork_url(artwork_id) %>
      z.(<%= link_to artwork_id, url, target: :_blank, rel: "noopener noreferrer" %>)
      <%= path %><br />
    <% end %>
  <% end %> 
  最初期投稿日：<%= artist.get_datetime_string(artist.earliest_ul_date, true) if artist.earliest_ul_date.presence %>
  <br />
  
  <% list.first(@number_of_display).each.with_index(1) do |(artwork_id, data), idx| %>
    <% path = data[0] %>
    <% title = data[1] %>
    <% date = data[2] %>
    <% fcnt = data[3] %>
    <% ratio = '15%' %>
    <%= idx %>.<%= link_to(image_tag(path, width: ratio, height: ratio), path, target: :_blank, rel: "noopener noreferrer") %>
    <% if fcnt > 1 %> 
      )))
    <% end %> 
  <% end %> 
  <% list.to_a.last(1).each.with_index(1) do |(artwork_id, data), idx| %>
    <% path = data[0] %>
    <% title = data[1] %>
    <% date = data[2] %>
    <% fcnt = data[3] %>
    <% ratio = '15%' %>
    z.<%= link_to(image_tag(path, width: ratio, height: ratio), path, target: :_blank, rel: "noopener noreferrer") %>
  <% end %> 
  <br />
</div>
