<div id="<%= dom_id artist %>">
  
  <input type="button" value="copy" onclick="copy_to_clipboard();" />

  <textarea id="dirpath" name="dirpath" rows="1" cols="255">
    <% if @path_list.size == 0 %>
      <% txt = "" %>
    <% else %>
      <% txt = File.dirname (Pxv::ARCHIVE_PATH + @path_list[0]) %>
    <% end %>
    <%= txt %>
  </textarea>
  <script>
    function copy_to_clipboard() {
      let textarea = document.getElementById("dirpath");
      textarea.select();
      document.execCommand("copy");
    }
  </script>
  <br />
  <% if @path_list[0] =~ /(\d\d-\d\d-\d\d)/ %>  
    最新投稿日：<%= Util::get_date_info(Date.parse($1)) %>
    <br />
  <% end %>

  <% list = Artist.artwork_list(@path_list) %>
  <% list.first(@number_of_display).each.with_index(1) do |(artwork_id, data), idx| %>
    <% path = data[0] %>
    <% artwork_id = Pxv::get_pxv_art_id(path) %>
    <% url = artist.pxv_artwork_url(artwork_id) %>
    <%= idx %>.
    (<%= link_to_ex artwork_id, url %>)
    <%= path.gsub("%23", "#") %><br />
  <% end %> 
  ---
  <%= artist.reverse_status %> 
  ---
  <br />
  <% list.to_a.last(1).each.with_index(1) do |(artwork_id, data), idx| %>
    <% path = data[0] %>
    <% if path =~ /\d\d-\d\d-\d\d.*\((\d+)\)/ %>
      <% artwork_id = $1 %>
      <% url = artist.pxv_artwork_url(artwork_id) %>
      <%= list.size %>.
      (<%= link_to_ex artwork_id, url %>)
      <%= path.gsub("%23", "#") %><br />
    <% end %>
  <% end %> 
  最初期投稿日：<%= artist.get_datetime_string(artist.earliest_ul_date, true) if artist.earliest_ul_date.presence %>
  <br />
  
  <% list.first(@number_of_display).each.with_index(1) do |(artwork_id, data), idx| %>
    <% path = data[0] %>
    <% title = data[1] %>
    <% date = data[2] %>
    <% fcnt = data[3] %>
    <% ratio = '15%' %>
    <%= idx %>.
    <%= link_to_ex(image_tag(path, width: ratio, height: ratio), path) %>
    <% if fcnt > 1 %> 
      )))
    <% end %> 
  <% end %>

  <!-- 最初期のファイル -->
  <% list.to_a.last(1).each.with_index(1) do |(artwork_id, data), idx| %>
    <% path = data[0] %>
    <% title = data[1] %>
    <% date = data[2] %>
    <% fcnt = data[3] %>
    <% ratio = '15%' %>
    <%= list.size %>.
    <%= link_to_ex(image_tag(path, width: ratio, height: ratio), path) %>
  <% end %> 
  <br />
</div>
