<div id="<%= dom_id artist %>">
    <h1 id="stat">stat</h1>
    <%= link_to "stat", "../artists/#{@artist.id}?mode=stat#stat" %>

    <table border="1">
        <tr>
            <th>-</th>
            <% 12.times {|m| %>
                <th><%= m + 1%></th>
            <% } %>
            <th>sum</th>
        </tr>
        <% stats = artist.stats(@path_list) %>
        <% stats.each do |key, val| %>
            <tr>
                <th><%= key %></th>
                <% val.each do |v| %>
                    <% if v == 0 %>
                        <td align="right" bgcolor="gray"><%= v %></td>
                    <% else %>
                        <td align="right"><%= v %></td>
                    <% end %>        
                <% end %>
                <td align="right"><%= stats[key].sum %></td>
            </tr>
        <% end %>
    </table>

    <% if @show_mode == "stat" %>
        <% year = 0 %>
        <% month = 0 %>
        <% list = Artist.artwork_list(@path_list) %>
        <% urllist = [] %>

        <% list.each.with_index(1) do |(artwork_id, data), idx| %>
            <% path = data[0] %>
            <% title = data[1] %>
            <% date = data[2] %>
            <% fcnt = data[3] %>
            <% if date.year != year %>
                <br />
                <% urllist.each do |u| %>
                    (<%= link_to u[4], u[2], target: :_blank, rel: "noopener noreferrer" %>) <%= u[3] %><br />
                <% end %>
                <% urllist = [] %>
                <% year = date.year %>
                <h2><%= year %>年(<%= stats[year].sum %>)</h2>
            <% end %>
            <% if date.month != month and stats[year].sum >= 100 %>
                <br />
                <% urllist.each do |u| %>
                    (<%= link_to u[4], u[2], target: :_blank, rel: "noopener noreferrer" %>) <%= u[3] %><br />
                <% end %>
                <% urllist = [] %>
                <% month = date.month %>
                【<%= date.year %>年<%= date.month %>月】
                <br />
            <% end %>
            <% txt = %!#{title}! %>
            <% url = artist.pxv_artwork_url(artwork_id) %>
            <% urllist << [date, txt, url, %!#{date} #{txt} [#{fcnt} files](#{File::dirname path})!, artwork_id]  %>
            <%#= link_to txt, url, target: :_blank, rel: "noopener noreferrer" %>
            <%#= image_tag path, width: '10%', height: '10%', :alt => txt %>
            <%= idx %>.<%= link_to image_tag(path, width: '10%', height: '10%', :alt => txt), url, target: :_blank, rel: "noopener noreferrer" %>
        <% end %>
        <br />
        <% urllist.each.with_index(1) do |u, idx| %>
            <%= idx %>:(<%= link_to u[4], u[2], target: :_blank, rel: "noopener noreferrer" %>) <%= u[3].gsub("%23", "#") %><br />
        <% end %>
    <% end %>
</div>