<div id="<%= dom_id artist %>">
    <h1 id="stat">stat</h1>
    <%= link_to "stat", "../artists/#{@artist.id}?mode=stat#stat" %> | 
    <%= link_to "投稿間隔空きチェック", artist_path(artist, access_dt_update: "no", thumbnail: :yes, mode: ArtistsController::ShowMode::INTERVAL_CHECK, nday: 14, anchor: "interval_chk") %>

    <table border="1">
        <tr>
            <th>-</th>
            <% 12.times {|m| %>
                <th><%= m + 1%></th>
            <% } %>
            <th>sum</th>
        </tr>
        <% stats = Artist.stats(@path_list) %>
        <% stats.each do |key, val| %>
            <tr>
                <th><%= key %></th>
                <% val.each do |v| %>
                    <% if v == 0 %>
                        <td align="right" bgcolor="gray"><%= v %></td>
                    <% else %>
                        <td align="right"><%= v %></td>
                    <% end %>        
                <% end %>
                <td align="right"><%= stats[key].sum %></td>
            </tr>
        <% end %>
    </table>

    <% if @show_mode == ArtistsController::ShowMode::STAT #"stat" %>
        <% year = 0 %>
        <% month = 0 %>
        <% list = Artist.artwork_list(@path_list) %>
        <% urllist = [] %>

        <% list.each.with_index(1) do |(artwork_id, data), idx| %>
            <% path = data[0] %>
            <% title = data[1] %>
            <% date = data[2] %>
            <% fcnt = data[3] %>
            <% if date.year != year %>
                <br />
                <% urllist.each.with_index(1) do |u, idx| %>
                    <%= idx %>:(<%= link_to u[4], u[2], target: :_blank, rel: "noopener noreferrer" %>) <%= u[3].gsub("%23", "#") %><br />
                <% end %>
                <% urllist = [] %>
                <% year = date.year %>
                <h2><%= year %>年(<%= stats[year].sum %>)</h2>
            <% end %>
            <% if date.month != month and stats[year].sum >= 25 %>
                <br />
                <% urllist.each.with_index(1) do |u, idx| %>
                    <%= idx %>:(<%= link_to u[4], u[2], target: :_blank, rel: "noopener noreferrer" %>) <%= u[3].gsub("%23", "#") %><br />
                <% end %>

                <br />

                <% urllist = [] %>
                <% month = date.month %>
                【<%= date.year %>年<%= date.month %>月】
                <br />
            <% end %>
            <% txt = %!#{title}! %>
            <% url = artist.pxv_artwork_url(artwork_id) %>
            <% tmp_str = %!#{date} #{txt} (#{File::dirname path})! %>
            <% if fcnt > 1 %>
                <% tmp_str += "[#{fcnt} files]" %>
            <% end %>
            <% urllist << [date, txt, url, tmp_str, artwork_id] %>
            <%#= link_to txt, url, target: :_blank, rel: "noopener noreferrer" %>
            <%#= image_tag path, width: '10%', height: '10%', :alt => txt %>
            <%= idx %>.<%= link_to image_tag(path, width: '10%', height: '10%', :alt => txt), url, target: :_blank, rel: "noopener noreferrer" %>
            <% if fcnt > 1 %>
                *<%= fcnt %>)
            <% end %>
        <% end %>
        <br />
        <% urllist.each.with_index(1) do |u, idx| %>
            <%= idx %>:(<%= link_to u[4], u[2], target: :_blank, rel: "noopener noreferrer" %>) <%= u[3].gsub("%23", "#") %><br />
        <% end %>
    <% elsif @show_mode == ArtistsController::ShowMode::INTERVAL_CHECK %>
        <% ratio = '10%' %>
        <% list = Artist.artwork_list(@path_list) %>

        <% if params[:nday] %>
            <% daysn = params[:nday].to_i %>
        <% else %>
            <% daysn = 14 %>
        <% end %>

        <h2 id="interval_chk">公開日の間隔が離れている(<%= daysn %>日)</h2>
        <!-- TODO: 無視する間隔を記録する(artwork id a/b) -->
        <% long_term_list = Artist.interval_list(list, daysn) %>
        <% long_term_list.each do |x| %>
            <% aw = x[0] %>
            <% dayn = x[1] %>
            <% aw2 = x[2] %>

            <% url1 = artist.pxv_artwork_url(aw.art_id) %>
            <% path1 = aw.path_list[0] %>

            <%# if aw2 %>
                <% url2 = artist.pxv_artwork_url(aw2.art_id) %>
                <% path2 = aw2.path_list[0] %>

                (<%= link_to_ex(aw2.art_id, url2) %>)
                <%= aw2.publication_date %>「<%= aw2.title %>」
                <%= link_to_ex(image_tag(path2, width: ratio, height: ratio), path2) %>
            <%# end %>

            <br>
            ↑↑↑<%= dayn %>日間隔空き↓↓↓
            <br>

            (<%= link_to_ex(aw.art_id, url1) %>)
            <%= aw.publication_date %>「<%= aw.title %>」
            <%= link_to_ex(image_tag(path1, width: ratio, height: ratio), path1) %>
            <hr />
        <% end %>
    <% end %>
</div>