<% provide(:title, "#{params[:page_title]} - 一覧") %>
<p style="color: green"><%= notice %></p>

<%= link_to "Return", root_path %>

<h1>Artists</h1>

<a href="#twt_url_list">twt_url_list</a>

<% @artists_group.each do |key, artists| %>
  <h2><%= "#{key}(#{artists.size})[#{@begin_no + 1}..#{[(@begin_no.to_i + @size_per_table), artists.size].min }]" %></h2>
  <table border="1" rules="all">
    <tr>
      <th>id</th>
      <th>pxvname</th>
      <th>評価<br />[補正]</th>
      <th>pxvid</th>
      <th>show</th>
      <th>ファイル総数<br />{最近}</th>
      <th>ポイント<br />(予測)</th>
      <th>最終DL日</th>
      <th>最新投稿日</th>
      <th>最新アクセス日</th>
      <th>状態</th>
      <th>twt/nje</th>
      <th>twt DL日</th>
      <th>コメント<br />特徴</th>
      <% if @thumbnail %>
        <th>pic</th>
        <th>edit</th>
      <% end %>
    </tr>
    <% artists[(@begin_no)..(@begin_no + @size_per_table - 1)].each do |artist| %>
      <% if @twt %>
        <% twt = Twitter.find_by(twtid: artist["twtid"]) %>
      <% else %>
        <% twt = nil %>
      <% end %>
      <tr>
        <td><%= artist["id"] %></td>
        <td><%= pxvname_tag(artist) %></td>
        <%= priority_tag(artist) %>
        <td><%= link_to artist["pxvid"], artist.pxv_user_url, target: :_blank, rel: "noopener noreferrer" %></td>
        <td><%= link_to "■■■", artist, target: :_blank, rel: "noopener noreferrer" %></td>
        <td align="right"><%= artist["filenum"] %><br />{<%= artist["recent_filenum"] %>}</td>
        <td align="right" bgcolor="cyan"><%= artist.point %><br />(<%= artist.prediction_up_cnt(true) %>)</td>


        <td>
          <%= artist.get_datetime_string(artist.last_dl_datetime) %><br />
          (<%= artist.last_dl_datetime_disp %>)
        </td>

        <% if artist.get_date_delta(artist["last_ul_datetime"]) < 30 %>
          <td bgcolor="gray">
        <% elsif artist.get_date_delta(artist["last_ul_datetime"]) > 365 %>
          <td bgcolor="orange">
        <% else %>
          <td>
        <% end %>
        <%= artist.get_datetime_string(artist.last_ul_datetime) %><br />
        (<%= artist.get_date_info(artist["last_ul_datetime"]) %>)
        </td>

        <% if artist.last_access_datetime_p(30) %>
          <td bgcolor="gray"><%= artist.last_access_datetime_disp %></td>
        <% elsif artist.get_date_delta(artist.last_access_datetime) > 365 %>
          <td bgcolor="yellow"><%= artist.last_access_datetime_disp %></td>
        <% else %>
          <td><%= artist.last_access_datetime_disp %></td>
        <% end %>

        <!-- -->
        <td>
          <% if artist.r18 != nil and artist.r18 != "" %>
            [<%= artist.r18 %>]
          <% end %>
          <br />
          <%= artist["status"] %>
        </td>
        <td>
          <% if artist["twtid"] != "" %>
            <%= link_to "@#{artist["twtid"]}", artist.twt_user_url, target: :_blank, rel: "noopener noreferrer" %>
            [<%= link_to "twtサムネイル", artist_twt_path(artist["twtid"]), target: :_blank, rel: "noopener noreferrer" %>]
          <% end %>
          <%= "✓" if @twt and artist.twt_check == "t" %>
          <br />
          <%= link_to "nje:#{artist["njeid"]}", artist.nje_member_url, target: :_blank, rel: "noopener noreferrer" if artist["njeid"] != nil and artist["njeid"] != "" %>
        </td>
        <td><%= artist.get_date_info(twt.last_dl_datetime) if twt %></td>
        <td><%= artist["comment"] %><br /><%= artist["feature"] %></td>
        <% if @thumbnail %>
          <td><%= pic_path_tag(artist.pxvid, 5) %></td>
          <td>
            ・<%#= link_to("「優先度」を+10 & R18", update_no_update_artist_path(id: artist.id, method: "priority_plus_ten:R18"), method: :patch) %><br />
            ・<%#= link_to("「優先度」を-10", update_no_update_artist_path(id: artist.id, method: "priority_minus_ten"), method: :patch) %><br />
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
<%= link_to "<< first", "../artists?#{get_url_params}&begin_no=0" %>|
<%= link_to "< prev", "../artists?#{get_url_params}&begin_no=#{@begin_no.to_i - @size_per_table}" %>|
<%= link_to "next >", "../artists?#{get_url_params}&begin_no=#{@begin_no.to_i + @size_per_table}" %>
<%#= link_to "last >>", "../artists?#{get_url_params}&begin_no=#{@artists_group.size - @size_per_table}" %>

<% if @authors_list.size != 0 %>
  <h2>author name list</h2>
  <% @authors_list.each do |elem| %>
    <% name = elem[0] %>
    <% url = %!https://www.google.com/search?q=#{name}! %>
    「<%= link_to name, url, target: :_blank, rel: "noopener noreferrer" %>」<%= ":#{elem[1]}" %><br />
    <ul>
    <% elem[2].each do |x| %>
      <li><%= "#{x.pxvname}(#{x.pxvid})" %><%= link_to "[show]", x, target: :_blank, rel: "noopener noreferrer" %></ li>
    <% end %>  
    </ul>
  <% end %>
<% end %>

<!-- 未知のPXV ID -->
<% if @unknown_id_list.size != 0 %>
  <h2>unknown pixiv id list(<%= @unknown_id_list.size %>)</h2>
  <% @unknown_id_list.each do |pxvid| %>
    <% pxvurl = Pxv::pxv_user_url(pxvid)#%!https://www.pixiv.net/users/#{pxvid}! %>
    <td><%= link_to pxvid, pxvurl, target: :_blank, rel: "noopener noreferrer" %></td><br />
  <% end %>
<% end %>

<!-- その他のURL -->
<% if @misc_urls.size != 0 %>
  <h2>misc url list(<%= @misc_urls.size %>)</h2>
  <% @misc_urls.each do |url| %>
    <td><%= link_to url, url, target: :_blank, rel: "noopener noreferrer" %></td><br />
  <% end %>
<% end %>

<!-- TWt URL -->
<% if @twt_urls.size > 0 %>
  <h2 id="twt_url_list">twt url list(<%= @twt_urls.size %>)</h2>
  <% @twt_urls.each do |key, url_list| %>
    <% twt = Twitter.find_by(twtid: key) %>
   
    <h3>
      <%= link_to "@" + key, "https://twitter.com/#{key}", target: :_blank, rel: "noopener noreferrer" %>
      <%= %! | #{twt.twt_screen_name}! if twt != nil %>
    </h3>

    <% url_list.each do |url| %>
      <% twturl, twtid = Artist.get_twt_url(url) %>
      ・
      <% if twtid == "" %>
        <%= link_to twturl, twturl, target: :_blank, rel: "noopener noreferrer" %>
      <% else %>
        <%= link_to Twt::timestamp_str(twtid), twturl, target: :_blank, rel: "noopener noreferrer" %>
        | <%= link_to "photo1", twturl + "/photo/1", target: :_blank, rel: "noopener noreferrer" %>
        | <%= link_to %!???!, url, target: :_blank, rel: "noopener noreferrer" %>
      <% end %>
      <br />
    <% end %>
    <br />

    <% if twt != nil %>
      twt:<%= twt.twt_screen_name %>[<%= link_to "show", twt %>](<%= twt.last_dl_datetime_disp %>)
      <% pxv_a = Artist.find_by(pxvid: twt.pxvid) %>
      <br />
      <% if pxv_a != nil %>
        pxv:<%= pxv_a.pxvname %> [<%= link_to "show", pxv_a %>]
        <br />
      <% end %>
    <% end %>
    <% pxv_artist = Artist.find_by(twtid: key) %>
    <% if pxv_artist != nil %>
      pxv:<%= %!#{pxv_artist.pxvname}! %>
      (<%= link_to pxv_artist.pxvid, pxv_artist.pxv_user_url, target: :_blank, rel: "noopener noreferrer" %>)
      [<%= link_to "show", pxv_artist, target: :_blank, rel: "noopener noreferrer" %>]
      <%= pxv_artist.get_datetime_string(pxv_artist.last_ul_datetime) %>
      <br />
    <% end %>

    <% if pxv_artist != nil and pxv_a != nil %>
    <% elsif pxv_artist == nil and pxv_a == nil %>
    <% elsif pxv_artist == nil and pxv_a != nil %>
    <% elsif pxv_artist != nil and pxv_a == nil %>
    <% else %>
    <% end %>
  <% end %>
<% end %>

<hr />

<div class="view_form">
  <%= form_with url: artists_path, local: true, method: :get do |f| %>
    <%= f.label :file, style: "display: block" %>
    <%= f.select :file, 
      options_for_select(
        [
          [''],
          ['urllist'], 
          ['urllist-pxv-only'], 
          ['urllist-unknown-only'], 
          ['urllist-twt-only'], 
          ['urllist-twt-only(latest)'], 
          ['pxvids'], 
          ['namelist'],
          ['namelist_djn'],
          ['namelist_mag'],
          ['same_name'],
          ['same_twtid'],
          ['検索'],
        ],
        selected: params[:file] 
      ) %>
      <br />
    <hr />
    
    <%= f.submit("検索", name: nil, class: 'subtmi-btn') %>
    <hr />
    
    検索：<%= f.text_field :search_word %>
    <%= f.select :match_method, options_for_select([["(自動判断)","auto"], ["を含む","partial_match"], ["完全一致","perfect_match"], ["から始まる","begin_match"],  ["で終わる","end_match"]]) %>
    <%= f.select :target_col, options_for_select([['(自動判断)'], ['pxvname'], ['pxvid']]) %>
    <br />
    <hr />

    <%= f.label :page_title %>
    <%= f.text_field :page_title, :value => params[:page_title] %>
    <br />
    <%= f.label :sort_by, style: "display: block" %>
    <%= f.select :sort_by, 
      options_for_select(
        [
          ['id'], 
          ['point'], 
          ['-point'], 
          ['priority'], 
          ['filenum'], 
          ['last_ul_date'],
          ['pxvname'],
          ['twtid'],
          ['予測▽'],
          ['予測△'],
          ['access_date_X_last_ul_datetime'], 
          ['access_date_X_recent_filenum'], 
          ['access_date_X_recent_filenum_X_ul'], 
          ['access_date_X_pxvname_X_recent_filenum'],
          [''],
        ],
        selected: params[:sort_by] 
      ) %>
    <br />
    <%= f.label :group_by, style: "display: block" %>
    <%= f.select :group_by, 
      options_for_select(
        [
          ['none'],
          ['filenum'], 
          ['last_ul_datetime'], 
          ['last_ul_datetime_X_filenum'], 
          ['last_ul_datetime_ym'], 
          ['recent_filenum'],
          ['pxvname_fl'],
          ['pxvname'],
          ['status'],
          ['r18'],
          ['priority'],
          ['予測'],
          ['rating'],
        ],
        selected: params[:group_by] 
      ) %>
    <br />
    <%= f.label :status, style: "display: block" %>
    <%= f.select :status, 
      options_for_select(
        [
          ['(全て)'], 
          [''], 
          ['退会'],
          ['停止'], 
          ['長期更新なし'], 
          ['作品ゼロ'], 
          ['一部消えた'], 
          ['取得途中'], 
          ['最新から取得し直し中'], 
          ['彼岸'], 
        ],
        selected: params[:status] 
      ) %>
    <br />
    <%= f.label :r18, style: "display: block" %>
    <%= f.select :r18, 
      options_for_select(
        [
          [''],
          ['R18'], 
          ['R15'], 
          ['R12'],
          ['R36'],
        ],
        selected: params[:r18] 
      ) %>
    <br />
    <%= f.label :ポイント %>
    <%= f.number_field :point, :value => params[:point] %>以上
    <br />
    <%= f.label :予測 %>
    <%= f.number_field :prediction, :value => params[:prediction] %>以上
    <br />
    <%= f.label :評価 %>
    <%= f.number_field :rating, :value => params[:rating] %>以上
    <br />
    <%= f.label :ファイル数gt %>
    <%= f.number_field :amount_gt, :value => params[:amount_gt] %>以上
    <br />
    <%= f.label :ファイル数lt %>
    <%= f.number_field :amount_lt, :value => params[:amount_lt] %>以下
    <br />
    <%= f.label :最終アクセス日 %>
    <%= f.number_field :last_access_datetime, :value => params[:last_access_datetime] %>以上経過
    <br />
    <%= f.label :表示数 %>
    <%= f.number_field :display_number, :value => params[:display_number] %>
    <br />
    <%= f.label :対象年 %>
    <%= f.number_field :year, :value => params[:year] %>
    <br />
    <%= f.label :TWtチェック %>
    <%= f.text_field :twt_chk, :value => params[:twt_chk] %>
    <br />
    <%= f.check_box 'thumbnail', {checked: params[:thumbnail] == "true"}, true, false %>
    <%= f.label :サムネイル表示 %>
    <br />
    <%= f.check_box 'ai', {checked: params[:ai] == "true"}, true, false %>
    <%= f.label :AI %>
    <br />
    <%= f.check_box 'twt', {checked: params[:twt] == "true"}, true, false %>
    <%= f.label :TWT %>
    <br />
    <%= f.check_box :nje, {checked: params[:nje] == "true"}, true, false %>
    <%= f.label :nje %>
    <br />
  <% end %>
</div>
