<% page_title = "#{params[:page_title]} - 一覧" %>
<% provide(:title, page_title) %>
<p style="color: green"><%= notice %></p>

<%= link_to "Return", root_path %>

<h1>Artists [<%= page_title %>]</h1>

<% if @twt_urls.size > 0 %>
  <a href="#twt_url_list">twt_url_list</a>
<% end %>

<% search_word = params[:search_word] %>
<% if search_word.presence %>
  検索ワード：「<b><%= search_word %></b>」
<% end %>

<% @artists_group.each do |key, artists| %>
  <% if artists.size < @begin_no %>
    <% next %> 
  <% end %>
  <h2><%= "#{key}(全#{artists.size}件)[#{@begin_no + 1}..#{[(@begin_no.to_i + @size_per_table), artists.size].min }]" %></h2>
  <table border="1" rules="all">
    <tr>
      <th>ID</th>
      <th>評価</th>
      <th>pxvname</th>
      <th>最終DL日</th>
      <th>予測/最新アクセス日</th>
      <th>コメント/特徴</th>
      <th>最新投稿日</th>
      <!-- twt -->
      <th>twt</th>
      <th>twt DL</th>
      <th>twt UL</th>
      <th>ファイル数(最近)</th>
      <% if @thumbnail %>
        <th>pic</th>
      <% end %>
      <th>nje</th>
    </tr>
    <% artists[(@begin_no)..(@begin_no + @size_per_table - 1)].each do |artist| %>
      <% if true#@twt %>
        <% twt = Twitter.find_by_twtid_ignore_case(artist["twtid"]) %>
      <% else %>
        <% twt = nil %>
      <% end %>
      <tr>
        <td>
          <%= link_to_ex(artist.id, artist_path(artist, access_dt_update: "no")) %>
        </td>
        <%= priority_tag(artist) %>
        <td>
          <%= pxvname_tag(artist) %>
        </td>
        <td>
          <%= artist.last_dl_datetime_disp %>
        </td>
        <% pred = artist.prediction_up_cnt(true) %>
        <% ac_delta = artist.get_date_delta(artist.last_access_datetime) %>
        <% ac_bg_color = access_date_bg_color(ac_delta, pred) %>
        <td bgcolor="<%= ac_bg_color %>">
          <%= pred %>
          <br />
          <%= link_to_ex("■pxv■", artist_path(artist, access_dt_update: "yes")) %>
          <br />
          <%= artist.last_access_datetime_disp %>
        </td>
        <td><%= artist.warnings %><br /><%= artist.comment %></td>
        <% ul_delta = artist.get_date_delta(artist.last_ul_datetime) %>
        <% ul_bg_color = date_bg_color(ul_delta) %>
        <td bgcolor="<%= ul_bg_color %>">
          <%= artist.get_date_info(artist.last_ul_datetime) %>
          <% if artist.status.presence %>
            <br />
            <font color="pink"><b>(※<%= artist.status %>)</b></font>
          <% end%>
          <% if artist.reverse_status.presence %>
            <br />
            [<%= artist.reverse_status %>]
          <% end%>
        </td>

        <!-- twt -->
        <td bgcolor="lightskyblue">
          <% if artist.twtid.presence and artist.twtid != "-" %>
            @<%= artist.twtid %>
            <% if twt %>
              【<%= twt.rating %>】<%= twt.r18 %>
              <br />
              <%= twt.prediction %>[<%= link_to_ex "■twt■", twt %>]
              <% if artist.twtid != twt.twtid %>
                <%= link_to_ex "@#{twt.twtid}", artist.twt_user_url %>
              <% end %>
              <br />
              <%= twt.get_date_info(twt.last_access_datetime) if twt.last_access_datetime.presence %>
              <br />
            <% end %>
          <% end %>
        </td>
        <td bgcolor="lightskyblue">
          <% if twt %>
            <%= Util.get_date_info(twt.last_dl_datetime) if twt.last_dl_datetime.presence %>
            <br />
            <%= twt.filenum %>
          <% end %>
        </td>
        <td bgcolor="lightskyblue">
          <% if twt %>
            <%= Util.get_date_info(twt.last_post_datetime) %>
            <br />
            <% if twt.status.presence and twt.status != "TWT巡回" %>
              <font color="red"><b>[<%= twt.status %>]</b></font>
            <% end %>
            <br />
          <% end %>
        </td>
        <td align="right">
          <%= artist.filenum %>
          (<%= artist.recent_filenum %>)
        </td>
        <% if @thumbnail %>
          <td>
            <% if artist.filenum < 1000 %>
              <%= pic_path_tag(artist.pxvid, 3) %>
            <% else %>
              ファイル数が多いので割愛
            <% end %>
          </td>
        <% end %>
        <td bgcolor="pink">
          <br />
          <% if artist.njeid.presence %>
            <%= link_to_ex "nje:#{artist["njeid"]}", artist.nje_member_url %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<%= link_to "<< first", "../artists?#{get_url_params}&begin_no=0" %>|
<%= link_to "< prev", "../artists?#{get_url_params}&begin_no=#{@begin_no.to_i - @size_per_table}" %>|
<%= link_to "next >", "../artists?#{get_url_params}&begin_no=#{@begin_no.to_i + @size_per_table}" %>
<%#= link_to "last >>", "../artists?#{get_url_params}&begin_no=#{@artists_group.size - @size_per_table}" %>


<% @artists_group.each do |key, artists| %>
  <% if artists.size == 0 and params[:file] == "検索" %>
    <% if search_word =~ %r!https?://www\.pixiv\.net/users/(\d+)! %>
      <% pxv_user_id = $1 %>
      <% dirlist = Pxv::stock_dir_list %>
      <% user_name = Pxv::user_name(dirlist, pxv_user_id) %>
      <% if user_name.presence %>
        <h3>DB未登録だが、フォルダあり："<%= user_name %>"(<%= pxv_user_id %>)</h3>
      <% else %>
        <h3>pxv:"<%= pxv_user_id %>" not found</h3>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @authors_list.size != 0 %>
  <h2>author name list</h2>
  <% @authors_list.each do |elem| %>
    <% name = elem[0] %>
    <% url = %!https://www.google.com/search?q=#{name}! %>
    「<%= link_to_ex name, url %>」<%= ":#{elem[1]}" %><br />
    <ul>
    <% elem[2].each do |x| %>
      <li><%= "#{x.pxvname}(#{x.pxvid})" %><%= link_to_ex "[show]", x %></ li>
    <% end %>  
    </ul>
  <% end %>
<% end %>

<hr />

<div class="view_form">
  <%= form_with url: artists_path, local: true, method: :get do |f| %>
    <%= f.label :method, style: "display: block" %>
    <%= f.select :file, 
      options_for_select(
        [
          [''],
          ['urllist'], 
          ['urllist-pxv-only'], 
          ['urllist-pxv-only(latest)'], 
          ['urllist-unknown-only'], 
          ['urllist-twt-only'], 
          ['urllist-twt-only(latest)'], 
          ['unchecked-pxv'], 
          ['unchecked-twt'], 
          ['twt-twt'], 
          ['pxvids'], 
          ['namelist'],
          ['namelist_djn'],
          ['namelist_mag'],
          ['same_name'],
          ['same_twtid'],
          ['ファイル0件未登録'],
          ['twt未登録twt id'],
          ['未登録pxv user id'],#in TWT table
          ['DB未登録pxv user id local dir'],
          [ArtistsController::MethodEnum::REGIST_UL_DIFF],
          [ArtistsController::MethodEnum::REGIST_UL_DIFF_NEAR],
          [ArtistsController::MethodEnum::TWTID_CASE_DIFF],
          [ArtistsController::MethodEnum::TABLE_UPDATE_NEW_USER],
          ['検索'],
        ],
        selected: params[:file] 
      ) %>
      <br />
    <hr />
    
    <%= f.submit("検索", name: nil, class: 'subtmi-btn') %>
    <hr />
    
    検索：<%= f.text_field :search_word, :value => params[:search_word] %>
    <%= f.select :match_method, options_for_select([["(自動判断)","auto"], ["を含む","partial_match"], ["完全一致","perfect_match"], ["から始まる","begin_match"],  ["で終わる","end_match"]]) %>
    <%= f.select :target_col, options_for_select([['(自動判断)'], ['pxvname'], ['pxvid']]) %>
    <br />
    <hr />

    <%= f.label :page_title %>
    <%= f.text_field :page_title, :value => params[:page_title] %>
    <br />
    <%= f.label :sort_by, style: "display: block" %>
    <%= f.select :sort_by, 
      options_for_select(
        [
          ['id'], 
          ['pxv-user-id'], 
          ['point'], 
          ['-point'], 
          ['priority'], 
          ['filenum'], 
          ['recent_filenum'], 
          ['last_ul_date'],
          ['pxvname'],
          ['twtid'],
          ['予測▽'],
          ['予測△'],
          ['access_date_X_last_ul_datetime'], 
          ['access_date_X_recent_filenum'], 
          ['access_date_X_recent_filenum_X_ul'], 
          ['access_date_X_pxvname_X_recent_filenum'],
          [''],
        ],
        selected: params[:sort_by] 
      ) %>
    <br />
    <%= f.label :group_by, style: "display: block" %>
    <%= f.select :group_by, 
      options_for_select(
        [
          ['none'],
          ['filenum'], 
          ['last_ul_datetime'], 
          ['last_ul_datetime_X_filenum'], 
          ['last_ul_datetime_ym'], 
          ['last_ul_datetime_y'], 
          ['recent_filenum'],
          ['pxvname_fl'],
          ['pxvname'],
          ['status'],
          ['r18'],
          ['priority'],
          ['予測'],
          ['rating'],
          ['評価+年齢制限'],
          ['さかのぼり'],
        ],
        selected: params[:group_by] 
      ) %>
    <br />
    <%= f.label :status, style: "display: block" %>
    <%= f.select :status, 
      options_for_select(
        [
          ['(全て)'], 
          [''], 
          ['退会'],
          ['停止'], 
          ['長期更新なし'], 
          ['「長期更新なし」を除外'], 
          ['作品ゼロ'], 
          ['一部消えた'], 
          ['取得途中'], 
          ['最新から取得し直し中'], 
          ["最新追っかけ中", "最新追っかけ中"], 
          ['彼岸'], 
        ],
        selected: params[:status] 
      ) %>
    <br />
    <%= f.label :r18, style: "display: block" %>
    <%= f.select :r18, 
      options_for_select(
        [
          [''],
          ['R18'], 
          ['R15'], 
          ['R12'],
          ['R36'],
        ],
        selected: params[:r18] 
      ) %>
    <br />
    <%= f.label :ポイント %>
    <%= f.number_field :point, :value => params[:point] %>以上
    <br />
    <%= f.label :予測 %>
    <%= f.number_field :prediction, :value => params[:prediction] %>以上
    <br />
    <%= f.label :評価 %>
    <%= f.number_field :rating, :value => params[:rating] %>以上
    <br />
    <%= f.label :直近のファイル数 %>
    <%= f.number_field :recent_filenum, :value => params[:recent_filenum] %>以上
    <br />
    <%= f.label :ファイル数gt %>
    <%= f.number_field :amount_gt, :value => params[:amount_gt] %>以上
    <br />
    <%= f.label :ファイル数lt %>
    <%= f.number_field :amount_lt, :value => params[:amount_lt] %>以下
    <br />
    <%= f.label :最終アクセス日 %>
    <%= f.number_field :last_access_datetime, :value => params[:last_access_datetime] %>日以上経過
    <br />
    <%= f.label :最終投稿（公開）日 %>
    <%= f.number_field :last_ul_datetime, :value => params[:last_ul_datetime] %>日以上経過
    <br />
    <%= f.label :最終アクセス日がn日以上経過した場合は強制表示 %>
    <%= f.number_field :force_disp_day, :value => params[:force_disp_day] %>
    <br />
    <%= f.label :表示数 %>
    <%= f.number_field :display_number, :value => params[:display_number] %>
    <br />
    <%= f.label :対象年 %>
    <%= f.number_field :year, :value => params[:year] %>
    <br />
    <%= f.label :reverse_status, style: "display: block" %>
    <%= f.select :reverse_status, 
      options_for_select(
        [
          [''],
          ["さかのぼり中"],
          ["「さかのぼり済」を除く"],
        ],
        selected: params[:reverse_status] 
      ) %>
    <br />
    <%= f.label :TWtチェック %>
    <%= f.text_field :twt_chk, :value => params[:twt_chk] %>
    <br />
    <%= f.check_box :thumbnail, {checked: params[:thumbnail] == "true"}, true, false %>
    <%= f.label :サムネイル表示 %>
    <br />
    <%= f.check_box :ai, {checked: params[:ai] == "true"}, true, false %>
    <%= f.label :AI %>
    <br />
    <%= f.check_box :exclude_ai, {checked: params[:exclude_ai] == "true"}, true, false %>
    <%= f.label :AI除外 %>
    <br />
    <%= f.check_box :twt, {checked: params[:twt] == "true"}, true, false %>
    <%= f.label :TWT %>
    <br />
    <%= f.check_box :nje, {checked: params[:nje] == "true"}, true, false %>
    <%= f.label :nje %>
    <br />
  <% end %>
</div>
