<% provide(:title, "一覧") %>
<p style="color: green"><%= notice %></p>

<%= link_to "Return", root_path %>

<div class="search_form">
  <%= form_with url: search_path, local: true, method: :get do |f| %>
    検索：<%= f.text_field :search_word %>
    <%= f.select :target_col, options_for_select([['pxvname'], ['pxvid']]) %>
    <%= f.select :match_method, options_for_select([["を含む","partial_match"], ["完全一致","perfect_match"], ["から始まる","begin_match"],  ["で終わる","end_match"]]) %>
    <%= f.submit "検索", class: "btn btn-primary", formtarget: :_blank %>
  <% end %>
</div>

<h1>Artists</h1>

<%= link_to "default", "../artists" %>
<%= link_to "recent", "../artists?group_by=last_ul_datetime&sort_by=access_date_X_recent_filenum_X_ul" %>
<%= link_to "pxvids", "../artists?file=pxvids&display_number=100&group_by=last_ul_datetime&sort_by=access_date_X_recent_filenum_X_ul" %>
<%= link_to "urllist", "../artists?file=urllist&display_number=100&group_by=last_ul_datetime&sort_by=access_date_X_recent_filenum_X_ul" %>
<%= link_to "twt", "../artists?twt=twt&display_number=100&group_by=last_ul_datetime&sort_by=access_date_X_last_ul_datetime" %>
<%= link_to "ai", "../artists?ai=ai&display_number=100&group_by=last_ul_datetime&sort_by=access_date_X_last_ul_datetime" %>
<%= link_to "2023", "../artists?year=2023&last_access_datetime=17&display_number=50&group_by=filenum&sort_by=access_date_X_recent_filenum_X_ul" %>
<%= link_to "many+group:name", "../artists?amount=many&display_number=100&group_by=pxvname&sort_by=access_date_X_pxvname_X_recent_filenum" %>
<%= link_to "many+group:ul+sort:", "../artists?amount=many&display_number=100&group_by=last_ul_datetime&sort_by=access_date_X_last_ul_datetime&amount_gt=500" %>
<%= link_to "mid+group:ul+sort:", "../artists?amount=mid&amount_gt=100&amount_lt=500&display_number=100&group_by=last_ul_datetime&sort_by=access_date_X_last_ul_datetime" %>
<%= link_to "few+group:ul+sort:", "../artists?amount=few&amount_lt=100&display_number=100&group_by=last_ul_datetime&sort_by=access_date_X_last_ul_datetime" %>
<%= link_to "few", "../artists?amount=few&display_number=100&group_by=last_ul_datetime&sort_by=access_date_X_recent_filenum" %>
<%= link_to "priority", "../artists?last_access_datetime=7&display_number=50&group_by=last_ul_datetime&sort_by=priority_X_recent_filenum_X_ul" %>


<a href="#twt_url_list">twt_url_list</a>

<% @artists_group.each do |key, artists| %>
<h2><%= key %>(<%= artists.size %>)</h2>
<table border="1" rules="all">
  <tr>
    <th>id</th>
    <th>pxvname</th>
    <th>pxvid</th>
    <th>show</th>
    <th>ファイル数</th>
    <th>最近</th>
    <th>予想</th>
    <th>優先度</th>
    <th>最終DL日</th>
    <th>最新投稿日</th>
    <th>最新アクセス日</th>
    <th>状態</th>
    <th>twt</th>
    <th>twt DL日</th>
    <th>コメント</th>
  </tr>
  <% artists.first(@size_per_table).each do |artist| %>
    <% pxv_url = %!https://www.pixiv.net/users/#{artist["pxvid"]}! %>
    <% twt_url = %!https://twitter.com/#{artist["twtid"]}! %>
    <% if @twt %>
      <% twt = Twitter.find_by(twtid: artist["twtid"]) %>
    <% else %>
      <% twt = nil %>
    <% end %>
    <tr>
      <td><%= artist["id"] %></td>
      <td><%= artist["pxvname"] %></td>
      <td><%= link_to artist["pxvid"], pxv_url, target: :_blank, rel: "noopener noreferrer" %></td>
      <td><%= link_to "■■■", artist, target: :_blank, rel: "noopener noreferrer" %></td>
      <td align="right"><%= artist["filenum"] %></td>
      <td align="right"><%= artist["recent_filenum"] %></td>
      <td align="right" bgcolor="orange"><%= artist.prediction_up_cnt %></td>
      <td align="right"><%= artist["priority"] %></td>
      <td><%= artist.last_dl_datetime_disp %></td>
      <% if artist.get_date_delta(artist["last_ul_datetime"]) < 30 %>
        <td bgcolor="gray"><%= artist.get_date_info(artist["last_ul_datetime"]) %></td>
      <% else %>
        <td><%= artist.get_date_info(artist["last_ul_datetime"]) %></td>
      <% end %>
      <% if artist.last_access_datetime_p %>
        <td bgcolor="gray"><%= artist.last_access_datetime_disp %></td>
      <% else %>
        <td><%= artist.last_access_datetime_disp %></td>
      <% end %>
      <td><%= artist["status"] %></td>
      <td><%= link_to "@#{artist["twtid"]}", twt_url, target: :_blank, rel: "noopener noreferrer" if artist["twtid"] != "" %></td>
      <td><%= artist.get_date_info(twt.last_dl_datetime) if twt %></td>
      <td><%= artist["comment"] %></td>
    </tr>
  <% end %>
</table>
<% end %>

<% if @unknown_id_list.size != 0 %>
  <h2>unknown pixiv id list(<%= @unknown_id_list.size %>)</h2>
  <% @unknown_id_list.each do |pxvid| %>
    <% url = %!https://www.pixiv.net/users/#{pxvid}! %>
    <td><%= link_to pxvid, url, target: :_blank, rel: "noopener noreferrer" %></td><br />
  <% end %>
<% end %>

<% if @misc_urls.size != 0 %>
  <h2>misc url list(<%= @misc_urls.size %>)</h2>
  <% @misc_urls.each do |url| %>
    <td><%= link_to url, url, target: :_blank, rel: "noopener noreferrer" %></td><br />
  <% end %>
<% end %>

<% if @twt_urls.size != 0 %>
  <h2 id="twt_url_list">twt url list(<%= @twt_urls.size %>)</h2>
  <% @twt_urls.each do |key, url_list| %>
    <% twt = Twitter.find_by(twtid: key) %>
   
    <h3>
      <%= link_to "@" + key, "https://twitter.com/#{key}", target: :_blank, rel: "noopener noreferrer" %>
      <% if twt != nil %>
        <%= link_to twt.twtname, twt %>
      <% end %>
    </h3>
    <% url_list.each do |url| %>
      ・<%= link_to "■■■■■", Artist.get_twt_url(url), target: :_blank, rel: "noopener noreferrer" %>
      |<%= link_to "photo1", Artist.get_twt_url(url) + "/photo/1", target: :_blank, rel: "noopener noreferrer" %>
      |<%= link_to "?■■■■■", url, target: :_blank, rel: "noopener noreferrer" %>
      <br />
    <% end %>
  <% end %>
<% end %>

<hr />
<%= link_to "New artist", new_artist_path %>
