<% page_title = "#{params[:page_title]} - 一覧" %>
<% provide(:title, page_title) %>
<p style="color: green"><%= notice %></p>

<%= link_to "Return", root_path %>

<h1>Artists [<%= page_title %>]<%= %!(#{@artists_total_count}件)!%></h1>

<% if @twt_urls.size > 0 %>
  <a href="#twt_url_list">twt_url_list</a>
<% end %>

<% search_word = params[:search_word] %>
<% if search_word.presence %>
  検索ワード：「<b><%= search_word %></b>」
<% end %>

<% h_bak = "" %>
<% disp_id_list = [] %>
<% @artists_group.each do |key, artists| %>
  <% if artists.size < @begin_no %>
    <%# next %> 
  <% end %>

  <% h_a, h_b = key.split(Artist::PXV_H_SEPARATOR) if key.instance_of?(String) %>
  <% if h_b == nil %>
    <% h_b = key %>
  <% elsif h_bak != h_a %>
    <h2><%= h_a %></h2>
    <% h_bak = h_a %>
  <% else %>
  <% end %>

  <h3>
    <%= "#{h_b}(#{artists.size}件)" %>
  </h3>
  <table border="1" rules="all">
    <tr>
      <th>ID</th>
      <th>評価</th>
      <th>pxvname</th>
      <th>予測/最新アクセス日</th>
      <th>コメント/特徴</th>
      <th>最新投稿日</th>
      <!-- twt -->
      <th>twt</th>
      <th>twt DL</th>
      <th>twt UL</th>
      <th>ファイル数(最近)</th>
      <%# if @thumbnail %>
        <th>pic</th>
      <%# end %>
      <th>nje</th>
    </tr>
    <%# artists[(@begin_no)..(@begin_no + @size_per_table - 1)].each do |artist| %>
    <% loop_cnt = 0 %>
    <% artists.each do |artist| %>
      <% if disp_id_list.include?(artist.pxvid) %>
        <% STDERR.puts %!表示済みなのでスキップ"(#{artist.pxvname}#{artist.pxvid})"|#{h2_tile}!%>
        <% next %>
      <% else %>
        <% disp_id_list << artist.pxvid %>
        <% loop_cnt += 1 %>
        <% if loop_cnt > @size_per_table %>
          <% break %>
        <% end %>
      <% end %>

      <% if true#@twt %>
        <% twt = Twitter.find_by_twtid_ignore_case(artist["twtid"]) %>
      <% else %>
        <% twt = nil %>
      <% end %>
      <tr>
        <td>
          <%#= link_to_ex(artist.id, artist_path(artist, access_dt_update: "no")) %>
          <%= artist.id %>
        </td>
        <%= priority_tag(artist) %>
        <td>
          <%= pxvname_tag(artist) %>
        </td>
        <% pred = artist.prediction_up_cnt(true) %>
        <% ac_delta = artist.get_date_delta(artist.last_access_datetime) %>
        <% ac_bg_color = access_date_bg_color(ac_delta, pred) %>
        <td bgcolor="<%= ac_bg_color %>">
          <% if artist.status.presence %>
            <font color="tomato"><b>(※<%= artist.status %>)</b></font>
            <br />
          <% end%>
          <%= pred %>
          <br />
          <%= link_to_ex("■pxv■", artist_path(artist, access_dt_update: "yes")) %>
          <br />
          <%= artist.last_access_datetime_disp %>
          <% if artist.reverse_status.presence %>
            <br />
            [<%= artist.reverse_status %>]
            <% if artist.reverse_status == Artist::ReverseEnum::REV_DONE %>
              ✔
            <% end%>
          <% end%>
        </td>

        <td><%= artist.warnings %><br /><%= artist.comment %></td>
        <% ul_delta = artist.get_date_delta(artist.last_ul_datetime) %>
        <% ul_bg_color = date_bg_color(ul_delta) %>
        <td bgcolor="<%= ul_bg_color %>">
          <%= artist.get_date_info(artist.last_ul_datetime) %>
          <% au_delta = Util::get_days_date_delta(artist.last_ul_datetime, artist.last_access_datetime) if artist.last_ul_datetime and artist.last_access_datetime %>
          <% if au_delta and au_delta > 30 %>
            <br />
            ※アクセス日と公開日が<%= au_delta %>日離れています。
          <% end %>
        </td>

        <!-- twt -->
        <td bgcolor="lightskyblue">
          <% if artist.twtid.presence and artist.twtid != "-" %>
            @<%= artist.twtid %>
            <% if twt %>
              |<%= twt.r18 %>|<%= twt.drawing_method %>
              <br />
              【<%= twt.rating %>】<%= twt.prediction %>[<%= link_to_ex "■twt■", twt %>]
              <% if twt.status.presence and twt.status != "TWT巡回" %>
                <font color="red"><b>[<%= twt.status %>]</b></font>
              <% end %>
              <% if artist.twtid != twt.twtid %>
                <%= link_to_ex "@#{twt.twtid}", artist.twt_user_url %>
              <% end %>
              <br />
              <%= twt.get_date_info(twt.last_access_datetime) if twt.last_access_datetime.presence %>
              <br />
            <% end %>
          <% end %>
        </td>
        <td bgcolor="lightskyblue">
          <% if twt %>
            <%= Util.get_date_info(twt.last_dl_datetime) if twt.last_dl_datetime.presence %>
            <br />
            <%= twt.filenum %>
          <% end %>
        </td>
        <td bgcolor="lightskyblue">
          <% if twt %>
            <%= Util.get_date_info(twt.last_post_datetime) %>
            <br />
          <% end %>
        </td>
        <td align="right">
          <%= artist.filenum %>
          (<%= artist.recent_filenum %>)
        </td>
        <%# if @thumbnail %>
          <td>
            <% if @thumbnail %>
              <% if artist.filenum < 1000 %>
                <%= pic_path_tag(artist.pxvid, 3) %>
              <% else %>
                ファイル数が多いので割愛
              <% end %>
            <% elsif artist.rating == 0 %>
              <%= pic_path_tag(artist.pxvid, 3) %>
            <% else %>
              
            <% end %>
          </td>
        <%# end %>
        <td bgcolor="pink">
          <br />
          <% if artist.njeid.presence %>
            <%= link_to_ex "nje:#{artist["njeid"]}", artist.nje_member_url %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<%= link_to "<< first", "../artists?#{get_url_params}&begin_no=0" %>|
<%= link_to "< prev", "../artists?#{get_url_params}&begin_no=#{@begin_no.to_i - @size_per_table}" %>|
<%= link_to "next >", "../artists?#{get_url_params}&begin_no=#{@begin_no.to_i + @size_per_table}" %>
<%#= link_to "last >>", "../artists?#{get_url_params}&begin_no=#{@artists_group.size - @size_per_table}" %>

<% if @artists_group.size == 0 and params[:file] == ArtistsController::MethodEnum::SEARCH %>
  <% if search_word =~ Artist::PXV_USER_URL_REGEX %>
    <% pxv_user_id = $1 %>
    <% dirlist = Pxv::stock_dir_list %>
    <% user_name = Pxv::user_name(dirlist, pxv_user_id) %>
    <% if user_name.presence %>
      <h3>DB未登録だが、フォルダあり："<%= user_name %>"(<%= pxv_user_id %>)</h3>
      <%= link_to_ex %!☆pxv☆:@#{pxv_user_id}!, artist_pxv_path(pxv_user_id) %>
    <% else %>
      <h3>pxv:"<%= pxv_user_id %>" not found</h3>
      <%= link_to_ex "New Artist(#{pxv_user_id})", new_artist_path(pxvid: pxv_user_id) %>
    <% end %>
  <% end %>
<% end %>

<% if @authors_list.size > 0 %>
  <h2>author name list</h2>
  <% @authors_list.each do |elem| %>
    <% name = elem[0] %>
    <% url = Util::google_search_url(name)
    「<%= link_to_ex name, url %>」<%= ":#{elem[1]}" %><br />
    <ul>
    <% elem[2].each do |x| %>
      <li><%= "#{x.pxvname}(#{x.pxvid})" %><%= link_to_ex "[show]", x %></ li>
    <% end %>  
    </ul>
  <% end %>
<% end %>

<% if @unknown_id_list.size > 0 %>
  <h2>TWT DBに登録されているがPXV DBにないPXV IDの一覧</h2>
  <% @unknown_id_list.sort.each do |pxv_uid| %>
    <% url = Pxv::pxv_user_url(pxv_uid) %>
    <% host_name = Util::get_host_name_from_uri(url) %>
    <%= pxv_uid %>(<%= link_to_ex(%!→#{host_name}!, url) %>)
    <% twt = Twitter.find_by(pxvid: pxv_uid) %>
    <% if twt %>
      <%= twt.twtname %>(@<%= twt.twtid %>)
      [<%= link_to_ex(%!■twt■!, twt) %>]
    <% end %>
    <br />
  <% end %>
<% end %>


<% if @unassociated_twt_screen_names and @unassociated_twt_screen_names.size > 0 %>
  <h2>PXV DBにはTWT IDが登録されているがTWT DBにはPXV IDが登録されていない</h2>
  <% @unassociated_twt_screen_names.each do |twt_uid| %>
    <%= twt_uid %>
    <% twt = Twitter.find_by(twtid: twt_uid) %>
    <% if twt %>
      <%= twt.twtname %>(@<%= twt.twtid %>)
      [<%= link_to_ex(%!■twt■!, twt) %>]
    <% end %>

    <% pxv = Artist.find_by(twtid: twt_uid) %>
    <% if pxv %>
      <%= pxv.pxvname %>(@<%= pxv.twtid %>)
      [<%= link_to_ex(%!■pxv■!, pxv) %>]
    <% end %>
    <br />
  <% end %>
<% end %>

<hr />

<script>
    function select_text() {
        let text_field = document.getElementById("search_word");
        text_field.select();
        //document.execCommand("copy");
    }

    document.addEventListener("visibilitychange", function() {
      if (document.visibilityState === "visible")
      {
          select_text();
      }
    });
</script>

<div class="view_form">
  <%= form_with url: artists_path, local: true, method: :get do |f| %>
    <%= f.label :method, style: "display: block" %>
    <%= f.select :file, 
      options_for_select(
        [
          [''],
          [ArtistsController::MethodEnum::TABLE_UPDATE_NEW_USER],
          [ArtistsController::MethodEnum::UPDATE_RECORD],
          [ArtistsController::MethodEnum::DUP_USER_ID_CHK],
          [ArtistsController::MethodEnum::NAME_TEST],
          [ArtistsController::MethodEnum::ALL_IN_1],
          [ArtistsController::MethodEnum::ALL_IN_ONE],
          [ArtistsController::MethodEnum::SEARCH],
          ['urllist'], 
          ['urllist-pxv-only'], 
          ['urllist-pxv-only(latest)'], 
          ['urllist-unknown-only'], 
          ['urllist-twt-only'], 
          ['urllist-twt-only(latest)'], 
          ['unchecked-pxv'], 
          ['unchecked-twt'], 
          ['twt-twt'], 
          ['pxvids'], 
          ['namelist'],
          ['namelist_djn'],
          ['namelist_mag'],
          ['same_name'],
          [ArtistsController::MethodEnum::TWT_DUP_TWTID],
          [ArtistsController::MethodEnum::DB_UNREGISTERED_USER],
          [ArtistsController::MethodEnum::TWT_DB_UNREGISTERED_TWT_ID],#['twt未登録twt id'],
          [ArtistsController::MethodEnum::TWT_DB_UNREGISTERED_PXV_USER_ID],#['未登録pxv user id'],#in TWT table
          [ArtistsController::MethodEnum::TWT_DB_UNREGISTERED_PXV_USER_ID_LOCAL_DIR],#['DB未登録pxv user id local dir'],
          [ArtistsController::MethodEnum::UNASSOCIATED_PXV_USER],
          [ArtistsController::MethodEnum::UNASSOCIATED_TWT_ACNT],
          [ArtistsController::MethodEnum::REGIST_UL_DIFF],
          [ArtistsController::MethodEnum::ACCESS_UL_DIFF_FAR],
          [ArtistsController::MethodEnum::SAME_FILENUM],
          [ArtistsController::MethodEnum::REGIST_UL_DIFF_NEAR],
          [ArtistsController::MethodEnum::TWTID_CASE_DIFF],
        ],
        selected: params[:file] 
      ) %>
    
    ファイル名:
    <%= f.text_field :filename, :value => params[:filename] %>
    ("latest", "yy", "yymm", "yymmdd", )
    <hr />
  
    検索ワード：
    <%= f.text_field :search_word, :value => params[:search_word] %>
    <br />
    <%= f.select :match_method,
      options_for_select(
        [
          ["(自動判断)","auto"],
          ["を含む","partial_match"],
          ["完全一致","perfect_match"],
          ["から始まる","begin_match"],
          ["で終わる","end_match"],
        ],
        selected: params[:match_method]
      )
    %>
    検索対象：
    <%= f.select :target_col,
      options_for_select(
        [
          ['(自動判断)', Artist::C_ARTIST_TARGET_AUTO],
          ['pxvname', Artist::C_ARTIST_TARGET_PXVNAME],
          ['pxvid', Artist::C_ARTIST_TARGET_PXVID],
          ['TWTスクリーンネーム', Artist::COLUMN::PXV_TWTID],
        ],
        selected: params[:target_col]
      )
    %>
    <br />

    <%= f.submit("検索", name: nil, class: 'submit-btn') %>
    <br />

    <!-- 
    <input type="button" value="select" onclick="select_text();" />
    <br />
    -->

    <%= f.label :page_title %>
    <%= f.text_field :page_title, :value => params[:page_title] %>
    <br />
    <%= f.label :status, style: "display: block" %>
    <%= f.select :status, 
      options_for_select(
        [
          ['(全て)'], 
          [''], 
          ['退会'],
          ['停止'], 
          ['長期更新なし'], 
          ['「長期更新なし」を除外'], 
          ['作品ゼロ'], 
          ['一部消えた'], 
          ['取得途中'], 
          ['最新から取得し直し中'], 
          ["最新追っかけ中", "最新追っかけ中"], 
          ['彼岸'], 
          ['更新頻度低'], 
          [ArtistsController::Status::ADJUSTMENT]
        ],
        selected: params[:status] 
      ) %>
    <br />
    <%= f.label :r18, style: "display: block" %>
    <%= f.select :r18, 
      options_for_select(
        [
          [''],
          ['R18'], 
          ['R15'], 
          ['R12'],
          ['R36'],
          ['かわいい系'],
          ['健全'],
          ['全年齢'],
        ],
        selected: params[:r18] 
      ) %>
    <br />
    <%= f.label :ポイント %>
    <%= f.number_field :point, :value => params[:point] %>以上
    <br />
    <%= f.label :予測 %>
    <%= f.number_field :prediction, :value => params[:prediction] %>以上
    <br />
    <%= f.label :評価 %>
    <%= f.number_field :rating, :value => params[:rating] %>以上
    <br />
    <%= f.number_field :rating_upper_limit, :value => params[:rating_upper_limit] %>未満
    <br />
    <%= f.label :直近のファイル数 %>
    <%= f.number_field :recent_filenum, :value => params[:recent_filenum] %>以上
    <br />
    <%= f.label :ファイル数gt %>
    <%= f.number_field :amount_gt, :value => params[:amount_gt] %>以上
    <br />
    <%= f.label :ファイル数lt %>
    <%= f.number_field :amount_lt, :value => params[:amount_lt] %>以下
    <br />
    <%= f.label :最終アクセス日 %>
    <%= f.number_field :last_access_datetime, :value => params[:last_access_datetime] %>日以上経過
    <br />
    <%= f.label :最終投稿（公開）日 %>
    <%= f.number_field :last_ul_datetime, :value => params[:last_ul_datetime] %>日以上経過
    <br />
    <%= f.label :DB登録日 %>
    <%= f.number_field :created_at, :value => params[:created_at] %>日以内
    <br />
    <%= f.label :最終アクセス日がn日以上経過した場合は強制表示 %>
    <%= f.number_field :force_disp_day, :value => params[:force_disp_day] %>
    <br />

    <hr />

    <%= f.label :group_by, style: "display: block" %>
    <%= f.select :group_by, 
      options_for_select(
        [
          ['none'],
          [ArtistsController::GROUP_TYPE::FILENUM],
          ['last_ul_datetime'], 
          ['last_ul_datetime_X_filenum'], 
          ['last_ul_datetime_ym'],
          ['last_ul_datetime_ym旧→新'],
          ['last_ul_datetime_y'], 
          ['recent_filenum'],
          ['pxvname_fl'],
          ['pxvname'],
          [ArtistsController::GROUP_TYPE::GROUP_STAT],
          [ArtistsController::GROUP_TYPE::GROUP_STAT_RAT],
          [ArtistsController::GROUP_TYPE::GROUP_STAT_RAT_R18],
          ['r18'],
          ['priority'],
          ['予測'],
          ['rating'],
          [ArtistsController::GROUP_TYPE::GROUP_FEAT_STAT_RAT],
          ['評価+年齢制限'],
          ['さかのぼり'],
          [ArtistsController::GROUP_TYPE::GROUP_ACCESS_OLD_TO_NEW],
          [ArtistsController::GROUP_TYPE::GROUP_MONTH_PRED],
          [ArtistsController::GROUP_TYPE::GROUP_R_A_P],
        ],
        selected: params[:group_by] 
      ) %>
    <br />
    
    <%= f.label :sort_by, style: "display: block" %>
    <%= f.select :sort_by, 
      options_for_select(
        [
          ['id'], 
          ['pxv-user-id'],
          [ArtistsController::SORT_TYPE::SORT_PXV_USER_ID_ASC],
          [ArtistsController::SORT_TYPE::SORT_RATING],
          [ArtistsController::SORT_TYPE::SORT_RATING_O2N],
          ['point'], 
          ['-point'], 
          ['priority'], 
          ['filenum'], 
          ['recent_filenum'], 
          ['last_ul_date'],
          ['pxvname'],
          ['twtid'],
          ['予測▽'],
          ['予測△'],
          [ArtistsController::SORT_TYPE::SORT_ACCESS_OLD_TO_NEW],
          [ArtistsController::SORT_TYPE::SORT_ACCESS_NEW_TO_OLD],
          ['access_date_X_last_ul_datetime'], 
          ['access_date_X_recent_filenum'], 
          ['access_date_X_recent_filenum_X_ul'], 
          ['access_date_X_pxvname_X_recent_filenum'],
          [''],
        ],
        selected: params[:sort_by] 
      ) %>
    <br />

    <%= f.label :表示数 %>
    <%= f.number_field :display_number, :value => params[:display_number] %>
    <br />
    <%= f.label :段階 %>
    <%= f.number_field :step, :value => params[:step] %>
    <br />
    <%= f.label :回数 %>
    <%= f.number_field :num_of_times, :value => params[:num_of_times] %>
    <br />
    <%= f.label :対象年 %>
    <%= f.number_field :year, :value => params[:year] %>
    <br />
    <%= f.label :reverse_status, style: "display: block" %>
    <%= f.select :reverse_status, 
      options_for_select(
        [
          [''],
          ["さかのぼり中"],
          ["「さかのぼり済」を除く"],
        ],
        selected: params[:reverse_status] 
      ) %>
    <br />
    <%= f.label :TWtチェック %>
    <%= f.text_field :twt_chk, :value => params[:twt_chk] %>
    <br />
    <%= f.check_box :thumbnail, {checked: params[:thumbnail] == "true"}, true, false %>
    <%= f.label :サムネイル表示 %>
    <br />
    <%= f.check_box :ai, {checked: params[:ai] == "true"}, true, false %>
    <%= f.label :AI %>
    <br />
    <%= f.check_box :exclude_ai, {checked: params[:exclude_ai] == "true"}, true, false %>
    <%= f.label :AI除外 %>
    <br />
    <%= f.check_box :twt, {checked: params[:twt] == "true"}, true, false %>
    <%= f.label :TWT %>
    <br />
    <%= f.check_box :nje, {checked: params[:nje] == "true"}, true, false %>
    <%= f.label :nje %>
    <br />
  <% end %>
</div>
