<% provide(:title, "一覧") %>
<p style="color: green"><%= notice %></p>

<%= link_to "Return", root_path %>

<div class="search_form">
  <%= form_with url: search_path, local: true, method: :get do |f| %>
    検索：<%= f.text_field :search_word %>
    <%= f.select :target_col, options_for_select([['pxvname'], ['pxvid']]) %>
    <%= f.select :match_method, options_for_select([["を含む","partial_match"], ["完全一致","perfect_match"], ["から始まる","begin_match"],  ["で終わる","end_match"]]) %>
    <%= f.submit "検索", class: "btn btn-primary", formtarget: :_blank %> <!-- 別ウィンドウでの開き方がわからない -->
  <% end %>
</div>
<hr />
<div class="view_form">
  <%= form_with url: artists_path, local: true, method: :get do |f| %>
    <%= f.label :sort_by, style: "display: block" %>
    <%= f.select :sort_by, 
      options_for_select([
        ['priority_X_recent_filenum_X_ul'], 
        ['access_date_X_last_ul_datetime'], 
        ['access_date_X_recent_filenum'], 
        ['access_date_X_recent_filenum_X_ul'], 
        ['access_date_X_pxvname_X_recent_filenum'],
        [''],
        ],
        selected: params[:sort_by] 
      ) %>
    <br />
    <%= f.label :group_by, style: "display: block" %>
    <%= f.select :group_by, 
      options_for_select(
        [
          ['filenum'], 
          ['last_ul_datetime'], 
          ['last_ul_datetime_X_filenum'], 
          ['last_ul_datetime_ym'], 
          ['recent_filenum'],
          ['pxvname'],
          ['status'],
          ['none'],
        ],
        selected: params[:group_by] 
      ) %>
    <br />
    <%= f.label :r18, style: "display: block" %>
    <%= f.select :r18, 
      options_for_select(
        [
          [''],
          ['R18'], 
          ['R15'], 
          ['R12'],
        ],
        selected: params[:r18] 
      ) %>
    <br />
    <%= f.label "amount_gt" %>
    <%= f.number_field :amount_gt, :value => params[:amount_gt] %>
    <br />
    <%= f.label "amount_lt" %>
    <%= f.number_field :amount_lt, :value => params[:amount_lt] %>
    <br />
    <%= f.label "last_access_datetime" %>
    <%= f.number_field :last_access_datetime, :value => params[:last_access_datetime] %>
    <br />
    <%= f.label "display_number" %>
    <%= f.number_field :display_number, :value => params[:display_number] %>
    <br />
    <%= f.label "year" %>
    <%= f.number_field :year, :value => params[:year] %>
    <br />
    <%= f.check_box 'thumbnail', {checked: params[:thumbnail] == "true"}, true, false %>
    <%= f.label "thumbnail" %>
    <br />
    <%= f.check_box 'ai', {checked: params[:ai] == "true"}, true, false %>
    <%= f.label "ai" %>
    <br />
    <%= f.check_box 'twt', {checked: params[:twt] == "true"}, true, false %>
    <%= f.label "twt" %>
    <br />
    <%= f.submit "表示更新", name: nil %>
  <% end %>
</div>

<h1>Artists</h1>

<%= link_to "default", "../artists" %>
<%= link_to "urllist", "../artists?file=urllist&filename=&year=2023&last_access_datetime=23&thumbnail=true&display_number=10&group_by=last_ul_datetime&sort_by=access_date_X_recent_filenum_X_ul" %>
<%= link_to "ai", "../artists?ai=true&last_access_datetime=7&display_number=20&group_by=last_ul_datetime&sort_by=priority_X_recent_filenum_X_ul" %>
<%= link_to "2023", "../artists?year=2023&last_access_datetime=17&display_number=20&group_by=filenum&sort_by=access_date_X_recent_filenum_X_ul" %>

<a href="#twt_url_list">twt_url_list</a>

<% @artists_group.each do |key, artists| %>
  <h2><%= "#{key}(#{artists.size})[#{params[:begin_no]}-#{params[:begin_no].to_i + @size_per_table}]" %></h2>
  <table border="1" rules="all">
    <tr>
      <th>id</th>
      <th>pxvname</th>
      <th>pxvid</th>
      <th>show</th>
      <th>ファイル数/最近</th>
      <th>ポイント</th>
      <th>優先度</th>
      <th>最終DL日</th>
      <th>最新投稿日</th>
      <th>最新アクセス日</th>
      <th>状態</th>
      <th>twt</th>
      <th>twt DL日</th>
      <th>コメント</th>
      <% if @thumbnail %>
        <th>pic</th>
        <th>edit</th>
      <% end %>
    </tr>
    <% artists[(@begin_no+1)..(@begin_no+@size_per_table)].each do |artist| %>
      <% pxv_url = %!https://www.pixiv.net/users/#{artist["pxvid"]}! %>
      <% twt_url = %!https://twitter.com/#{artist["twtid"]}! %>
      <% if @twt %>
        <% twt = Twitter.find_by(twtid: artist["twtid"]) %>
      <% else %>
        <% twt = nil %>
      <% end %>
      <tr>
        <td><%= artist["id"] %></td>
        <td><%= artist["pxvname"] %></td>
        <td><%= link_to artist["pxvid"], pxv_url, target: :_blank, rel: "noopener noreferrer" %></td>
        <td><%= link_to "■■■", artist, target: :_blank, rel: "noopener noreferrer" %></td>
        <td align="right"><%= artist["filenum"] %><br /><%= artist["recent_filenum"] %></td>
        <td align="right" bgcolor="orange"><%= "#{artist.point}(#{artist.prediction_up_cnt(true)})" %></td>
        <% if artist["priority"] > 0 %>
          <td align="right" bgcolor="yellow"><%= artist["priority"] %></td>
        <% elsif artist["priority"] < 0 %>
          <td align="right" bgcolor="gray"><%= artist["priority"] %></td>
        <% else %>
          <td align="right"><%= artist["priority"] %></td>
        <% end %>
        <td><%= artist.last_dl_datetime_disp %></td>
        <% if artist.get_date_delta(artist["last_ul_datetime"]) < 30 %>
          <td bgcolor="gray"><%= artist.get_date_info(artist["last_ul_datetime"]) %></td>
        <% else %>
          <td><%= artist.get_date_info(artist["last_ul_datetime"]) %></td>
        <% end %>
        <% if artist.last_access_datetime_p %>
          <td bgcolor="gray"><%= artist.last_access_datetime_disp %></td>
        <% else %>
          <td><%= artist.last_access_datetime_disp %></td>
        <% end %>
        <td><%= "#{artist["status"]}[#{artist.r18}]" %></td>
        <td><%= link_to "@#{artist["twtid"]}", twt_url, target: :_blank, rel: "noopener noreferrer" if artist["twtid"] != "" %></td>
        <td><%= artist.get_date_info(twt.last_dl_datetime) if twt %></td>
        <td><%= artist["comment"] %></td>
        <% if @thumbnail %>
          <td><%= pic_path_tag(artist.pxvid, 6) %></td>
          <td>
            ・<%= link_to("「優先度」を+10 & R18", update_no_update_artist_path(id: artist.id, method: "priority_plus_ten:R18"), method: :patch) %><br />
            ・<%= link_to("「優先度」を-10", update_no_update_artist_path(id: artist.id, method: "priority_minus_ten"), method: :patch) %><br />
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
<%= link_to "next", "../artists?#{get_url_params}&begin_no=#{params[:begin_no].to_i + @size_per_table}" %>


<% if @authors_list.size != 0 %>
  <h2>list</h2>
  <% @authors_list.each do |elem| %>
    <% name = elem[0] %>
    <% url = %!https://www.google.com/search?q=#{name}! %>
    <%= link_to name, url, target: :_blank, rel: "noopener noreferrer" %><%= ":#{elem[1]}" %><br />
    <ul>
    <% elem[2].each do |x| %>
      <li><%= "#{x.pxvname}(#{x.pxvid})" %><%= link_to "[show]", x, target: :_blank, rel: "noopener noreferrer" %></ li>
    <% end %>  
    </ul>
  <% end %>
<% end %>

<% if @unknown_id_list.size != 0 %>
  <h2>unknown pixiv id list(<%= @unknown_id_list.size %>)</h2>
  <% @unknown_id_list.each do |pxvid| %>
    <% url = %!https://www.pixiv.net/users/#{pxvid}! %>
    <td><%= link_to pxvid, url, target: :_blank, rel: "noopener noreferrer" %></td><br />
  <% end %>
<% end %>

<% if @misc_urls.size != 0 %>
  <h2>misc url list(<%= @misc_urls.size %>)</h2>
  <% @misc_urls.each do |url| %>
    <td><%= link_to url, url, target: :_blank, rel: "noopener noreferrer" %></td><br />
  <% end %>
<% end %>

<% if @twt_urls.size != 0 %>
  <h2 id="twt_url_list">twt url list(<%= @twt_urls.size %>)</h2>
  <% @twt_urls.each do |key, url_list| %>
    <% twt = Twitter.find_by(twtid: key) %>
   
    <h3>
      <%= link_to "@" + key, "https://twitter.com/#{key}", target: :_blank, rel: "noopener noreferrer" %>
      <%= %! | #{twt.twt_screen_name}! if twt != nil %>
    </h3>
    <% if twt != nil %>
      twt:<%= twt.twt_screen_name %>[<%= link_to "show", twt %>](<%= twt.last_dl_datetime_disp %>)
      <% pxv_artist = Artist.find_by(pxvid: twt.pxvid) %>
      <br />
      <% if pxv_artist != nil %>
        pxv:<%= pxv_artist.pxvname %> [<%= link_to "show", pxv_artist %>]
      <% end %>
      <br />
    <% end %>
    <% url_list.each do |url| %>
      <% twturl = Artist.get_twt_url(url) %>
      ・<%= link_to "■■■■■", twturl, target: :_blank, rel: "noopener noreferrer" %>
      |<%= link_to "photo1", twturl + "/photo/1", target: :_blank, rel: "noopener noreferrer" %>
      |<%= link_to "?■■■■■", url, target: :_blank, rel: "noopener noreferrer" %>
      <br />
    <% end %>
  <% end %>
<% end %>

<%#= link_to "New artist", new_artist_path %>
