<% provide(:title, "nje一覧") %>

<h1>nje</h1>

<table border="1" rules="all">
    <tr>
        <th>#</th>
        <th>name</th>
        <th>njeid</th>
        <th>latest</th>
        <th>show</th>
        <th>thumbnail</th>
    </tr>
    <% @nje_artist_list.each.with_index(1) do |(key, artist), idx| %>
        <tr>
            <td><%= idx %></td>
            <td>
                <%= %!#{artist.nje_name}! %>
            </td>
            <td>
                <% artist.nje_id %>
            </td>
            <td>
                <%= artist.latest_ul_date %>
            </td>
            <td>
                <%= link_to "■nje■", key.to_s, target: :_blank, rel: "noopener noreferrer" %>
            </td>
            <td>
                <% artist.artwork_list.first(1).each do |key, artwork| %>
                    <% path = artwork.path_list[0] %>
                    <%= link_to_ex image_tag(path, width: '10%', height: '10%', :alt => path), path %>
                <% end%>
            </td>
        </tr>
    <% end %>
</table>
