<% provide(:title, %!Pxv user 画像一覧 - #{@pxvid}!) %>

<h3 id="pxv_pic_list"><%= @pxvid %></h3>

 PXV:<%= link_to_ex "▶#{@pxvid}", Pxv::pxv_user_url(@pxvid) %><br />

<%= link_to_ex "New Artist", new_artist_path(pxvid: @pxvid) %>

<% pxv_artist = Artist.find_by(pxvid: @pxvid) %>
<% if pxv_artist != nil %>
    pxv:<%= pxv_artist.pxvname %> [<%= link_to_ex "★pxv★", pxv_artist %>]
        <%= pxv_artist.get_datetime_string(pxv_artist.last_ul_datetime) %>
        <%= pxv_artist.status %>
<% end %>
<br />

<% artworks = PxvArtworkList.new(@pxv_pic_list) %>
<% artworks.artwork_list.sort.reverse.each do |artwork| %>
    (<%= link_to_ex "#{artwork.artwork_id}", artwork.pxv_artwork_url %>)
    [<%= artwork.publication_date %>]
    「<%= artwork.title %>」
    <br />
    <%= image_link(artwork.first_pic_path, get_image_class(true)) %>

    <% artwork.path_list[1..3].each do |path| %>
        <%= image_link(path, get_image_class(false)) %>
    <% end %>
    全<%= artwork.path_list.size %>枚
    <hr />
<% end %>
