<% provide(:title, @artist.pxvname) %>
<p style="color: green"><%= notice %></p>

<%
=begin %>
  <%= link_to "戻る", artists_path %>
<%

  <a href="javascript:void(0);" onclick="page_close();">close</a>

=end %>

<script>
  let pic_idx = 0;
  window.onload = (event) => {
    pic_idx = path_ary.length;
    next_pic();
  };

  window.addEventListener('keypress', keypress_event);
  window.addEventListener('keyup', keyup_event);
  
  function page_close() {
    open(location, '_self').close();
  }

  const path_ary = [
      <% @path_list.each do |path| %>
        <%== %!"#{path}",! %>
      <% end %>
  ];

  function next_pic() {
    pic_idx++;
    if (pic_idx >= path_ary.length) {
      pic_idx = 0;
    }
    set_pic(path_ary[pic_idx]);
  }

  function prev_pic() {
    pic_idx--;
    if (pic_idx < 0) {
      pic_idx = path_ary.length - 1;
    }
    set_pic(path_ary[pic_idx]);
  }

  function set_pic(path) {
    let img_elem = document.getElementById("imagexx")
    img_elem.src = path;

    /*img_elem.src.onload = function () {
      var width = img_elem.naturalWidth ;
      var height = img_elem.naturalHeight ;
    }*/

    let txt_elem = document.getElementById("pic_path")
    txt_elem.innerHTML = path;
    
    //txt_elem.innerHTML +=  ":" + width + "x" + height;
  }

  function keypress_event(e) {
    //こっちこない？
    Console.log("test");
    return false; 
  }

  function keyup_event(e) {
    if (e.key == 'ArrowLeft') {
      prev_pic();
    } else if (e.key == 'ArrowRight') {
      next_pic();
    } else if (e.key == 'Escape') {
      page_close();
    }
    //Console.log("test");
    return false; 
  }

  // full screen
  function set_fullscreen() {
    document.body.requestFullscreen();
  }

// full screen
  function unset_fullscreen() {
    document.body.exitFullscreen();
  }
</script>

<% if @show_mode == "viewer" %>
  <%= render "viewer", artist: @artist %>
<% else %>
  <%= render @artist %>

  <hr />
  <%#= link_to "編集", edit_artist_path(@artist) %>
  <%#= link_to "「長期更新なし」に変更", update_no_update_artist_path(method: "no_update"), method: :patch %>
  <%#= link_to("「優先度」を-1", update_no_update_artist_path(method: "priority_minus_one"), method: :patch) %>

  <%= render "pics", artist: @artist %>

  <%= link_to "viewer", "../artists/#{@artist.id}?mode=viewer" %>
  <%= render "form", artist: @artist %>

  <% if @show_mode == nil %>
    <br />
  <% else %>
    <hr />
    <a href="javascript:void(0);" onclick="prev_pic();">前の画像</a>
    <a href="javascript:void(0);" onclick="next_pic();">次の画像</a>
    <br />
    <img id="imagexx" width="20%" height="20%" src="" />
    <div id="pic_path">_</div>
    <hr />
  <% end %>

  <%= render "stat", artist: @artist %>
<% end %>
