<% provide(:title, "stats") %>

<h1>stats</h1>

<% @stats.each do |key, val| %>
    <h2><%= key %></h2>
    <% sum = val.values.inject(:+) %>
    <table border="1" rules="all">
        <tr>
            <th>key</th>
            <th>val</th>
            <th>%</th>
            <th></th>
        </tr>
        <% val.each do |k, v| %>
            <tr>
                <td>
                    <%#= %!"#{k}"! %>
                    <% if key.include?("pxv") %>
                        <% if key =~ /.*:(.*)/ %>
                            <% col = $1 %>
                            <% if col == "status" %>
                                <% url = artists_path(page_title: "xxx", status: k, ai: true) %>
                            <% elsif col == "r18" %>
                                <% url = artists_path(page_title: "xxx", r18: k, ai: true) %>
                            <% end %>
                        <% end %>
                    <% elsif key.include?("twt") %>

                        <% url = twitters_path(page_title: "xxx", mode: TwittersController::ModeEnum::STATS, rating: k, rating_lt: k, target: "AI") %>
                    <% else %>
                    <% end %>
                    <%= link_to_ex("#{k}", url) %>
                </td>
                <td align="right">
                    <%= %!#{v}! %>
                </td>

                <% percent = (v.to_f / sum * 100).round(1) %>
                
                <td align="right">
                    <%= %!#{percent}! %>
                </td>
                <td>
                    <%= "*" * ((percent / 2) + 1) %>
                </td>
            </tr>
        <% end %>
        <tr>
            <td>
                計
            </td>
            <td align="right">
                <%= %!#{sum}! %>
            </td>
            <td>
            </td>
    </table>
<% end %>

<h1>stats</h1>

<% ids = Twt::load_pic_info_tsv() %>
<% ids.each do |screen_name| %>
    <%= screen_name %><br />
<% end %>