<% provide(:title, %!twt 一覧  #{params[:title]}/file:#{params[:filename]}/dir:#{params[:dir]}!) %>

<% pic_mag_pxv = '28%' %>
<% pic_mag_twt = '23%' %>
<% pic_mag_twt_a = '5%' %>

<% pxv_artist_id_list = [] %>
<% recent_access_twt_user_list = [] %>
<%# if @known_twt_url_list.presence and (@target.include?("twt") or @target.include?("twt既知")) %>
<% if @known_twt_url_list.presence %>
    <h2 id="twt_url_list">twt url list (<%= @known_twt_url_list.size %>)</h2>

    <% idx = 0 %>
    <% @known_twt_url_list.each do |key, url_list| %>
        <% twt_account = Twitter.find_by_twtid_ignore_case(key) %>
        <% pxv_artist = Artist.find_by(twtid: key) %>

        <% if twt_account and twt_account.last_access_datetime_p(@hide_day) %>
            <% recent_access_twt_user_list << twt_account %>
            <% next %>
        <% end %>

        <% idx += 1 %>
        <% if idx > 100 %>
            <% break %>
        <% end %>

        <% if twt_account == nil and pxv_artist == nil %>
            <!-- 未登録 -->
            [<%= url_list.size %>]
            <%= idx %>:
            <%= link_to "@" + key, Twt::twt_user_url(key), target: :_blank, rel: "noopener noreferrer" %>
            (<%= link_to "show", key, target: :_blank, rel: "noopener noreferrer" %>)
            <br />
        <% elsif twt_account == nil %>
            <!-- PXVのみ -->
            [<%= url_list.size %>]
            <%= idx %>:
            <%= link_to "@" + key, Twt::twt_user_url(key), target: :_blank, rel: "noopener noreferrer" %>
            (<%= link_to "show", key, target: :_blank, rel: "noopener noreferrer" %>)
            pxv:<%= %!#{pxv_artist.pxvname}! %>
            (<%= link_to pxv_artist.pxvid, pxv_artist.pxv_user_url, target: :_blank, rel: "noopener noreferrer" %>)
            ACCESS:<%= pxv_artist.last_access_datetime_disp %>
            |<%= pxv_artist.status %>
            [<%= link_to "show", pxv_artist, target: :_blank, rel: "noopener noreferrer" %>]
            <br />
        <% else %>
            <!-- twt登録済み -->
            <h3>
                [<%= url_list.size %>]
                <%= idx %>:
                <%= twt_account.twt_screen_name %>
                (<%= link_to "@" + key, Twt::twt_user_url(key), target: :_blank, rel: "noopener noreferrer" %>)
                [
                <%= twt_account.rating %>
                |<%= twt_account.status %>
                |<%= twt_account.drawing_method %>
                (ACCESS:<%= twt_account.last_access_datetime_disp %>)
                ]
                [<%= link_to "show", twt_account, target: :_blank, rel: "noopener noreferrer" %>]
            </h3>
        <% end %>

        <% if twt_account != nil %>
            <!-- (DL:<%= twt_account.last_dl_datetime_disp %>) -->
            
            <% list = twt_account.get_pic_filelist_ex %>
            <% list.first(3).each do |filepath| %>
                <%= link_to image_tag(filepath, width: pic_mag_twt_a, height: pic_mag_twt_a), filepath, target: :_blank, rel: "noopener noreferrer" if filepath.presence %>
            <% end %>
            <% pxv_a = Artist.find_by(pxvid: twt_account.pxvid) %>
            <br />
            <% if pxv_a != nil %>
                <% pxv_artist_id_list << pxv_a.pxvid %>
                | twt-pxv:<%= pxv_a.pxvname %> [<%= link_to "show", pxv_a, target: :_blank, rel: "noopener noreferrer" %>]
                <%= pxv_a.last_access_datetime_disp %>
                <br />
            <% end %>
        <% end %>
        <% if pxv_artist != nil %>
            <% pxv_artist_id_list << pxv_artist.pxvid %>
            <% if pxv_artist.last_access_datetime_p(@hide_day) %>
                <% next %>
            <% end %>
            pxv:<%= %!#{pxv_artist.pxvname}! %>
            (<%= link_to pxv_artist.pxvid, pxv_artist.pxv_user_url, target: :_blank, rel: "noopener noreferrer" %>)
            【<%= pxv_artist.rating %>】
            [<%= link_to "show", pxv_artist, target: :_blank, rel: "noopener noreferrer" %>]
            UL:<%= pxv_artist.get_datetime_string(pxv_artist.last_ul_datetime) %>
            ACCESS:<%= pxv_artist.last_access_datetime_disp %>
            【<%= %!#{pxv_artist.status}! if pxv_artist.status.presence %>】
            <br />
        <% end %>
        <!-- 
        <hr />

        <% if url_list.instance_of?(Array) %>
            <#!-- url list --#>
            <% url_list.each do |url| %>
                <% twturl, twtid = Artist.get_twt_url(url) %>
                ・
                <% if twtid == "" %>
                    <%= link_to twturl, twturl, target: :_blank, rel: "noopener noreferrer" %>
                <% else %>
                    <%= link_to Twt::timestamp_str(twtid), twturl, target: :_blank, rel: "noopener noreferrer" %>
                    | <%= link_to "photo1", twturl + "/photo/1", target: :_blank, rel: "noopener noreferrer" %>
                    | <%= link_to %!???!, url, target: :_blank, rel: "noopener noreferrer" %>
                <% end %>
                <br />
            <% end %>
        <% else %>
            
        <% end %>
        -->
    <% end %>
<% end %>

<% if recent_access_twt_user_list.presence %>
    <h2 >最近twtアクセス[<%= @hide_day %>日以内] (<%= recent_access_twt_user_list.size %>)</h2>
    <% recent_access_twt_user_list.each.with_index(1) do |twt_account, idx| %>
        <%= idx %>.
        <%= twt_account.twt_screen_name %>(@<%= twt_account.twtid %>)
        [<%= twt_account.rating %>
        |<%= twt_account.status %>
        |<%= twt_account.drawing_method %>
        |<%= twt_account.filenum %>
        (ACCESS:<%= twt_account.last_access_datetime_disp %>)
        <%= link_to "[show]", twt_account, target: :_blank, rel: "noopener noreferrer" %>
        <br >
    <% end %>
<% end %>

<% known_twt_account_list = {} %>

<!-- 未知twt -->
<%# if @target.include?("twt未知") and @unknown_twt_url_list.presence %>
<% if @unknown_twt_url_list.presence %>
    <h2>未登録twt url list (<%= @unknown_twt_url_list.size %>)</h2>
    <% @unknown_twt_url_list.each.with_index(1) do |(key, url_list), idx| %>
        <% twt_account = Twitter.find_by_twtid_ignore_case(key) %>
        <% pxv_artist = Artist.find_by(twtid: key) %>
        <% if twt_account or pxv_artist %>
            <% known_twt_account_list[key] = url_list %>
            <% next %>
        <% end %>

        [<%= url_list.size %>]<%= idx %>:
        <%= link_to "@" + key, Twt::twt_user_url(key), target: :_blank, rel: "noopener noreferrer" %>
        (<%= link_to "show", key, target: :_blank, rel: "noopener noreferrer" %>)
        <br />
    <% end %>
<% end %>

<!-- 登録済みtwt -->
<%# if @target.include?("twt既知") and known_twt_account_list.presence %>
<% if known_twt_account_list.presence %>
    <h2>登録済み twt list (<%= known_twt_account_list.size %>)</h2>
    <% known_twt_account_list.each.with_index(1) do |(key, url_list), idx| %>
        [<%= url_list.size %>]<%= idx %>:
        <%= link_to "@" + key, Twt::twt_user_url(key), target: :_blank, rel: "noopener noreferrer" %>
        (<%= link_to "show", key, target: :_blank, rel: "noopener noreferrer" %>)
        <br />
    <% end %>
<% end %>

<% unless @known_pxv_user_id_list.presence %>
    <% @known_pxv_user_id_list, unknown_pxv_user_id_list = Artist::pxv_user_id_classify(pxv_artist_id_list) %>
<% end %>

<% known_pxv_list = [] %>
<% pxv_list = [] %>
<% recent_pxv_list = [] %>
<%# if @target.include?("known_pxv") and @known_pxv_user_id_list.presence %>
<% if @known_pxv_user_id_list.size > 0 %>
    <% @known_pxv_user_id_list.each do |elem| %>
        <% p = elem.p %>
        <% if p.last_access_datetime_p(@hide_day) %>
            <% recent_pxv_list << p %>
            <% next %>
        <% end %>
        <% if p.prediction_up_cnt < @pred %>
            <% pxv_list << p %>
            <% next %>
        <% end %>
        <% known_pxv_list << elem %>
    <% end %>
<% end %>

<% if known_pxv_list.size > 0 %>
    <h2>既知pxv id list (<%= known_pxv_list.size %>)</h2>
    <table border="1" rules="all">
        <tr>
            <th>#</th>
            <th>pxv name</th>
            <th>rating</th>
            <th>access</th>
            <th>ul</th>
            <th>show</th>
            <th>status</th>
            <th>thubmnail p</th>
            <th>thubmnail t</th>
            <th>twt</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <% idx = 0 %>
        <% known_pxv_list.each.with_index(1) do |elem| %>
            <% p = elem.p %>
            <% if idx > 20 %>
                <% break %>
            <% end%>
            <% pxvurl = Pxv::pxv_user_url(elem.pxvid) %>
            <tr>
                <% idx += 1 %>
                <td><%= idx %></td>
                <td>
                    <%= p.pxvname %>(<%= link_to elem.pxvid, pxvurl, target: :_blank, rel: "noopener noreferrer" %>)
                    <% if p.twtid.presence %>
                        <br />
                        <%= %!@#{p.twtid}! %>
                        <br />
                    <% end %>
                    <%= elem.cnt %>
                </td>
                <td><%= p.rating %>|<%= p.r18 %></td>
                <td>
                    <%= p.last_access_datetime_disp %>
                </td>
                <td>
                    <%= p.get_date_info(p.last_ul_datetime) %>
                    <!-- (<%= p.get_datetime_string(p.last_ul_datetime) %>) -->
                </td>
                <td>
                    予測:<%= p.prediction_up_cnt %>
                    <br />
                    <%= link_to "show", p, target: :_blank, rel: "noopener noreferrer" %>
                </td>
                <td><%= p.status %></td>
                <td>
                    <%= pic_path_tag(elem.pxvid, 3, pic_mag_pxv) %>
                </td>

                <% twt = Twitter.find_by_twtid_ignore_case(p.twtid) %>
                <% if twt %>
                    <td>
                        <% list = twt.get_pic_filelist_ex %>
                        <% list.first(3).each do |filepath| %>
                            <%= link_to image_tag(filepath, width: pic_mag_twt, height: pic_mag_twt), filepath, target: :_blank, rel: "noopener noreferrer" if filepath.presence %>
                        <% end %>
                    </td>
                    <td><%= twt.twtname %></td>
                    <td>@<%= twt.twtid %></td>
                    <td><%= twt.last_access_datetime_disp %></td>
                    <td><%= link_to "show", twt, target: :_blank, rel: "noopener noreferrer" %></td>
                <% else %>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                <% end %>
            </tr>
        <% end %>
    </table>
<% end %>

<% if pxv_list.size > 0 %>
    <h2>既知pxv 予測少ないやつ (<%= pxv_list.size %>)</h2>
    <table border="1" rules="all">
        <tr>
            <th>#</th>
            <th>status</th>
            <th>latest投稿日</th>
            <th>アクセス日</th>
            <th>show</th>
            <th>name</th>
            <th>thumbnail</th>
            <th>twt id</th>
            <th>twt access</th>
            <th>twt show</th>
            <th>twt thumbnail</th>
        </tr>
        <% pxv_list.first(10).each.with_index(1) do |p, idx| %>
            <tr>
                <td><%= idx %></td>
                <td><%= p.status %></td>
                <td>
                    <%= p.last_ul_datetime_disp %>
                </td>
                <td>
                    <%= p.last_access_datetime_disp %>
                </td>
                <td>
                    予測:<%= p.prediction_up_cnt(true) %>
                    <br />
                    <%= link_to "show", p, target: :_blank, rel: "noopener noreferrer" %>
                </td>
                <td>
                    <%= p.pxvname %>
                    [<%= p.rating %>|<%= p.r18 %>]
                </td>
                <td>
                    <%= pic_path_tag(p.pxvid, 3, '15%') %>
                </td>
                <td>@<%= p.twtid %></td>
                <% twt = Twitter.find_by_twtid_ignore_case(p.twtid) %>
                <% if twt %>
                    <td><%= twt.last_access_datetime_disp %></td>
                    <td><%= link_to "show", twt, target: :_blank, rel: "noopener noreferrer" %></td>
                    <td>
                        <% list = twt.get_pic_filelist_ex %>
                        <% list.first(3).each do |filepath| %>
                            <%#= link_to image_tag(filepath, width: '13%', height: '13%'), filepath, target: :_blank, rel: "noopener noreferrer" if filepath.presence %>
                        <% end %>
                    </td>
                <% else %>
                    <td></td>
                    <td></td>
                    <td></td>
                <% end %>
            </tr>
        <% end %>
    </table>
<% end %>

<% if recent_pxv_list.size > 0 %>
    <h2>既知pxv 最近アクセス分 [<%= @hide_day %>日以内] (<%= recent_pxv_list.size %>)</h2>
    <table border="1" rules="all">
        <tr>
            <th>#</th>
            <th>status</th>
            <th>アクセス日</th>
            <th>pxv</th>
            <th>rating</th>
            <th>name</th>
            <th>予測</th>
            <th>latest投稿日</th>
            <th>twt</th>
            <th>twt access</th>
        </tr>
        <% recent_pxv_list.each.with_index(1) do |p, idx| %>
            <tr>
                <td><%= idx %></td>
                <td><%= p.status %></td>
                <td><%= p.last_access_datetime_disp %></td>
                <td><%= link_to "show", p, target: :_blank, rel: "noopener noreferrer" %></td>
                <td><%= p.rating %></td>
                <td><%= p.pxvname %></td>
                <td><%= p.prediction_up_cnt(true) %></td>
                <td><%= p.last_ul_datetime_disp %></td>
                <% twt = Twitter.find_by_twtid_ignore_case(p.twtid) %>
                <% if twt %>
                    <td><%= link_to "show", twt, target: :_blank, rel: "noopener noreferrer" %></td>
                    <td><%= twt.last_access_datetime_disp %></td>
                <% else %>
                    <td></td>
                    <td></td>
                <% end %>
            </tr>
        <% end %>
    </table>
<% end %>

<% if @unknown_pxv_user_id_list.presence %>
<%# if @target.include?("unknown_pxv") and @unknown_pxv_user_id_list.presence %>
    <h2>未登録pxv id list (<%= @unknown_pxv_user_id_list.size %>)</h2>
    <% dirlist = Pxv::stock_dir_list %>
    <% @unknown_pxv_user_id_list.each.with_index(1) do |elem, idx| %>
        <% user_name = Pxv::user_name(dirlist, elem.pxvid) %>
        <%= idx %>.
        <% if user_name.presence %>
            <%= user_name %>(<%= elem.pxvid %>)
            [<%= link_to "show", artist_pxv_path(elem.pxvid), target: :_blank, rel: "noopener noreferrer" %>]
            <br />
            <% next %>
        <% end %>
        [<%= elem.cnt %>]
        <% pxvurl = Pxv::pxv_user_url(elem.pxvid) %>
        <%= link_to elem.pxvid, pxvurl, target: :_blank, rel: "noopener noreferrer" %>
        (<%#= link_to "show", artist_pxv_path(elem.pxvid), target: :_blank, rel: "noopener noreferrer" %>)
        <%= user_name %>
        <br />
    <% end %>
<% end %>

<% if @url_file_list.presence %>
    <% @url_file_list.each.with_index(1) do |filename, idx| %>
        <% file = File.basename(filename, ".*") %>
        <% url_t = artists_twt_index_path(filename: file, hide_day: 30, target:"twt") %>
        <% url_u = artists_twt_index_path(filename: file, hide_day: 30, target:"unknown_pxv") %>
        <% url_k = artists_twt_index_path(filename: file, hide_day: 30, target:"known_pxv", pred: 5, force_disp_day: 90) %>
        <%= file %>
        | <%= link_to("twt", url_t, target: :_blank, rel: "noopener noreferrer") %>
        | <%= link_to("既知pxv", url_k, target: :_blank, rel: "noopener noreferrer") %>
        | <%= link_to("未登録pxv", url_u, target: :_blank, rel: "noopener noreferrer") %>
        <br />
    <% end %>
<% end %>

<% if @twt_user_infos.presence %>
    <% @twt_user_infos.each.with_index(1) do |(twtid, value), idx| %>
        <%= value.num_of_files %>:@<%= twtid %>
        <% twt_account = Twitter.find_by_twtid_ignore_case(twtid) %>
        (<%= link_to "show", twt_account, target: :_blank, rel: "noopener noreferrer" %>)
        <br />
    <% end %>
<% end %>

<% if @misc_urls and @misc_urls.size != 0 %>
    <h2>misc url list(<%= @misc_urls.size %>)</h2>
    <% @misc_urls.each do |url| %>
        <%= link_to url, url, target: :_blank, rel: "noopener noreferrer" %>
        <br />
    <% end %>
<% end %>
