<% provide(:title, %!twt 一覧  #{params[:title]}/file:#{params[:filename]}/dir:#{params[:dir]}!) %>
<h2 id="twt_url_list">twt url list (<%= @twt_urls.size %>)</h2>

<% @twt_urls.each_with_index do |(key, url_list), idx| %>
    <% twt_account = Twitter.find_by(twtid: key) %>
    <% pxv_artist = Artist.find_by(twtid: key) %>

    <h3>
        <%= idx %>:
        <%= link_to "@" + key, "https://twitter.com/#{key}", target: :_blank, rel: "noopener noreferrer" %>
        <%= %! | #{twt_account.twt_screen_name}! if twt_account != nil and twt_account.twt_screen_name != "" %>
        <%# if pxv_artist != nil %>
            <!-- [<%= link_to "show", pxv_artist, target: :_blank, rel: "noopener noreferrer" %>] -->
        <%# else %>
            (<%= link_to "show", key, target: :_blank, rel: "noopener noreferrer" %>)
        <%# end %>
    </h3>

    <% if twt_account != nil %>
        twt:<%= twt_account.twt_screen_name %>
        [<%= link_to "show", twt_account, target: :_blank, rel: "noopener noreferrer" %>]
        <!-- (DL:<%= twt_account.last_dl_datetime_disp %>) -->
        (ACCESS:<%= twt_account.last_access_datetime_disp %>)
        <%= twt_account.status %>
        <%= twt_account.drawing_method %>
        <% pxv_a = Artist.find_by(pxvid: twt_account.pxvid) %>
        <br />
        <% if pxv_a != nil %>
            | twt-pxv:<%= pxv_a.pxvname %> [<%= link_to "show", pxv_a, target: :_blank, rel: "noopener noreferrer" %>]
            <br />
        <% end %>
    <% end %>
    <% if pxv_artist != nil %>
        pxv:<%= %!#{pxv_artist.pxvname}! %>
        (<%= link_to pxv_artist.pxvid, pxv_artist.pxv_user_url, target: :_blank, rel: "noopener noreferrer" %>)
        [<%= link_to "show", pxv_artist, target: :_blank, rel: "noopener noreferrer" %>]
        <%= pxv_artist.get_datetime_string(pxv_artist.last_ul_datetime) %>
        <br />
    <% end %>
    <hr />

    <% if url_list.instance_of?(Array) %>
        <!-- url list -->
        <% url_list.each do |url| %>
            <% twturl, twtid = Artist.get_twt_url(url) %>
            ・
            <% if twtid == "" %>
            <%= link_to twturl, twturl, target: :_blank, rel: "noopener noreferrer" %>
            <% else %>
            <%= link_to Artist.timestamp_str(twtid), twturl, target: :_blank, rel: "noopener noreferrer" %>
            | <%= link_to "photo1", twturl + "/photo/1", target: :_blank, rel: "noopener noreferrer" %>
            | <%= link_to %!???!, url, target: :_blank, rel: "noopener noreferrer" %>
            <% end %>
            <br />
        <% end %>
    <% else %>
        
    <% end %>
<% end %>
