<% title = %!url 一覧  #{params[:title]}/file:"#{params[:filename]}"/dir:#{params[:dir]}! %>

<% provide(:title, title) %>

<h1><%= title %></h1>

<% thumb_disp = false %>

<% pic_mag_pxv = '28%' %>
<% pic_mag_twt = '23%' %>
<% pic_mag_twt_a = '5%' %>

<% twt_disp_number = 10 %>
<% pxv_disp_number = 5 %>
<% if params[:target] == ArtistsController::FileTarget::TWT_UNKNOWN_ONLY %>
    <% pxv_disp_number = 6 %>
<% end %>

<% if params[:show_times].presence %>
    <% show_times = params[:show_times].to_i %>
<% end %>

<!-- twt -->
<% pxv_artist_id_list = [] %> <!-- TODO:なんだこれ？ -->
<% twt_group = Hash.new { |h, k| h[k] = [] } %>

<% if params[:target] == ArtistsController::FileTarget::TWT_EXPERIMENT %>
    <% @known_twt_url_list.each do |key, url_list| %>
        <% twt_account = Twitter.find_by_twtid_ignore_case(key) %>
        <% if !twt_account.last_access_datetime_p(@hide_day) %>
            <% twt_group[url_list.size] << [twt_account, url_list] %>
        <% end %>
    <% end %>

    <% @known_twt_url_list = nil %>
<% end %>

<% if @known_twt_url_list.presence %>
    <% @known_twt_url_list.each do |key, url_list| %>
        <% if show_times.presence and url_list.size < show_times %>
            <!-- 飛ばす -->
            <% next %>
        <% end %>

        <% twt_account = Twitter.find_by_twtid_ignore_case(key) %>
        <% key_twt = twt_account.group_key(url_list.size) %>
        <% twt_group[key_twt] << [twt_account, url_list] %>
    <% end %>
<% end %>

<% if @known_twt_url_list.presence %>
    <% known_twt_url_list_size = @known_twt_url_list.size %>
<% else %>
    <% known_twt_url_list_size = 0 %>
<% end %>

<% if known_twt_url_list_size > 0 %>
    <h2>登録済みtwt (<%= known_twt_url_list_size %>)</h2>
<% end %>

<% if twt_group.presence %>
    <% twt_group = twt_group.sort.reverse.to_h #twt_group = twt_group.sort.to_h %>
    <% twt_group.each do |key, val| %>
        <% list = val %>
        <% unless list.presence %>
            <% next %>
        <% end %>
        <h3>twt[<%= key %>] (<%= list.size %>)</h3>
        <table border="1" rules="all">
            <tr>
                <th>#</th>
                <th>method</th>
                <th>rating</th>
                <th>st</th>
                <th>name</th>
                <th>予測</th>
                <th>-</th>
                <th>access</th>
                <th>UL</th>
                <th>サムネイル</th>
                <th>pxv id</th>
                <th>name</th>
                <th>pred</th>
                <th>■</th>
                <th>access</th>
                <th>UL</th>
                <th>thumbnail</th>
                <th>X</th>
            </tr>
            <% list = list.sort_by {|z|
                x = z[0];
                #[x.drawing_method||"", x.prediction, x.rating||0, x.last_access_datetime]}.reverse
                [
                    x.drawing_method||"", 
                    x.status||"", 
                    x.rating||0, 
                    -(x.prediction), 
                    -(z[1].size), 
                    x.last_access_datetime
                ]
                }.reverse
            %>
            <!-- ,  -->
            <% list.first(twt_disp_number).each.with_index(1) do |val, idx| %>
                <% twt_account = val[0] %>
                <% url_list = val[1] %>
                <tr>
                    <td><%= idx %></td>
                    <td>
                        <%= twt_account.drawing_method %>
                    </td>
                    <td>
                        [<%= url_list.size %>]
                        【<%= twt_account.rating %>】<%= twt_account.r18 %>
                    </td>
                    <td>
                        <% if twt_account.status == "TWT巡回" %>
                            <%#= twt_account.status %>
                        <% else %>
                            <b><%= twt_account.status %></b>
                        <% end %>
                    </td>
                    <td>
                        <b>
                            <%= twt_account.twt_screen_name %>
                        </b>
                        (@<%= twt_account.twtid %>)
                    </td>
                    <% pred = twt_account.prediction %>
                    <% bgcolor = pre_bgcolor_ex(pred) %>
                    <td align="right" bgcolor="<%= bgcolor %>">
                        <%= pred %>
                    </td>
                    <td>
                        <%= link_to_ex "■twt■", twt_account %>
                        
                    </td>
                    <td>
                        <%= twt_account.last_access_datetime_disp %>
                    </td>
                    <td>
                        <%= Util.get_date_info(twt_account.last_post_datetime) %>
                    </td>
                    <td>
                        <% if (thumb_disp and pred >= @pred) or (twt_account.rating == 0) %>
                            <% tlist = twt_account.get_pic_filelist_ex %>
                            <% tlist.first(3).each do |filepath| %>
                                <%= link_to_ex(image_tag(filepath, width: '13%', height: '13%'), filepath) if filepath.presence %>
                            <% end %>
                        <% end %>
                        <%= twt_account.filenum %>
                        <%= %!(#{twt_account.update_frequency})! if false %>
                    </td>
                    <!-- pxv -->
                    <td>
                        <%= twt_account.pxvid %>
                    </td>
                    <% if twt_account.pxvid.presence %>
                        <% p = Artist.find_by(pxvid: twt_account.pxvid) %>
                    <% end %>
                    <% if p %>
                        <% p_pred = p.prediction_up_cnt(true) %>
                        <td>
                            【<%= p.rating %>|<%= p.feature %>】<%= p.pxvname %>
                        </td>
                        <td align="right">
                            <%= p_pred %>
                        </td>
                        <td>
                            <% if p.status %>
                                <%= p.status_disp(false) %>
                            <% end %>
                            <%= link_to_ex("■pxv■", artist_path(p, access_dt_update: "yes")) %>
                        </td>
                        <td>
                            <%= p.get_date_info(p.last_access_datetime) %>
                        </td>
                        <td>
                            <%= p.get_date_info(p.last_ul_datetime) %>
                        </td>
                        <td>
                            <% if thumb_disp and p_pred > @pred %>
                                <%= pic_path_tag(p.pxvid, 3, pic_mag_pxv) %>
                            <% end %>
                            <%= p.filenum %>
                        </td>
                    <% else %>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <% end %>
                    <% p = Artist.find_by_twtid_ignore_case(twt_account.twtid, false) %>
                    <% if p %>
                        <td>
                            <%= link_to_ex("■pxv■", artist_path(p, access_dt_update: "yes")) %>
                        </td>
                    <% else %>
                        <td>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </table>
        <% if list.size > twt_disp_number  %>
            残り：<%= list.size - twt_disp_number %>
        <% end %>
    <% end %>
<% end %>

<% known_twt_account_list = {} %>

<!-- 未知twt -->
<% disp_twt_pxv = false%>
<% pxv_list_tmp = [] %>
<% if @unknown_twt_url_list.presence %>
    <% STDERR.puts "[dbgx]#{@unknown_twt_url_list.size}" %>

    <h2>未登録twt url list (<%= @unknown_twt_url_list.size %>)</h2>
    <% twt_dirs = Twt::TwtDirs.new %>
    <% cnt = 0 %>
    <% @unknown_twt_url_list.each.with_index(1) do |(key, url_list), idx| %>
        <% if show_times.presence and url_list.size < show_times %>
            <!-- 飛ばす -->
            <% break %>
        <% end %>

        <% if cnt != url_list.size %>
            <% cnt = url_list.size %>
            <h3><%= cnt %></h3>
        <% end %>

        <% twt_account = Twitter.find_by_twtid_ignore_case(key) %>
        <% if twt_account %>
            <%= idx %>:*<%= key %>*（大文字・小文字チェック）|<%= twt_account.twtid %>|
            <% known_twt_account_list[key] = [url_list, twt_account] %>
            <% #puts %!known=#{key}! %>
            <br />
            <% next %>
        <% else %>
        <% end %>

        <!-- pxv -->
        <% pxv_artist = Artist.find_by_twtid_ignore_case(key) %>
        <% if pxv_artist %>
            <% if disp_twt_pxv %>
                <%= idx %>:
                @<%= key %>
                【<%= pxv_artist.pxvname %>
                |<%= pxv_artist.rating %>
                |<%= pxv_artist.r18 %>
                |<%= pxv_artist.feature %>
                】
                [<%= link_to_ex "■pxv■", artist_path(pxv_artist, access_dt_update: "yes") %>]
                アクセス日:<%= pxv_artist.get_date_info(pxv_artist.last_access_datetime) %>
                公開日:<%= pxv_artist.get_datetime_string(pxv_artist.last_ul_datetime, true) %>
                (<%= pxv_artist.get_date_info(pxv_artist.last_ul_datetime) %>)
                <br />
            <% end %>

            <% pxv_list_tmp << PxvInfo.new(pxv_artist.pxvid, url_list.size, pxv_artist) %>
            <% next %>
        <% end %>

        <% if params[:url_cnt].presence and url_list.size < params[:url_cnt].to_i %>
            <% next %>
        <% end %>

        <%= idx %>:

        <% exist = twt_dirs.user_exist?(key) %>
        <% if exist %>
            !ローカルファイルにあり!(<%= key %>)→
        <% end %>

        <%= link_to_ex "@" + key, Twt::twt_user_url(key) %>
        (<%= link_to_ex "show", key %>)

        <br />
    <% end %>

    <% if params[:url_list].presence %>
        <h2>未登録twt url list (<%= @unknown_twt_url_list.size %>)</h2>
        <% @unknown_twt_url_list.each do |(key, url_list)| %>
            <% url_list.each do |u| %>
                <%= u %><br />
            <% end %>
        <% end %>
    <% end %>
<% end %>


<% pxv_group = Hash.new { |h, k| h[k] = [] } %>

<% Pxv::hash_group2(pxv_group, pxv_list_tmp) %>

<!-- 登録済みtwt -->
<% if known_twt_account_list.presence %>
    <h3>登録済み twt list (<%= known_twt_account_list.size %>)</h3>
    <% known_twt_account_list.each.with_index(1) do |(key, x), idx| %>
        <% url_list = x[0] %>
        <% twt_account = x[1] %>
        [<%= url_list.size %>]<%= idx %>:
        <%= link_to_ex "@" + key, Twt::twt_user_url(key) %>
        (<%= link_to_ex "show", key %>)
        [<%= link_to_ex "■TWT■", twt_account %>]
        (<%= twt_account.twtname %>)
        <%= twt_account.last_access_datetime_disp %>
        <br />
    <% end %>
<% end %>

<!-- 登録済みPXV -->
<% unless @known_pxv_user_id_list.presence %>
    <% @known_pxv_user_id_list, unknown_pxv_user_id_list = Artist::pxv_user_id_classify(pxv_artist_id_list) %>
<% end %>

<% if params[:target] == ArtistsController::FileTarget::PXV_EXPERIMENT %>
    <% @known_pxv_user_id_list.each do |elem| %>
        <% p = elem.p %>
        <% if !(p.last_access_datetime_p(@hide_day)) %>
            <% pred = p.prediction_up_cnt(true) %>
            <% if pred > @pred and p.r18 == "R18" and (p.rating > 75 or p.rating == 0 or p.rating == nil) %>
                <% grp_key = sprintf("%03d:%03d", 100 - (p.rating||0), 100 - elem.cnt) %>
                <% pxv_group[grp_key] << elem %>
            <% end %>
        <% end %>
    <% end %>
    <% @known_pxv_user_id_list = [] %>
<% end %>


<% recent_pxv_list = [] %>
<% if @known_pxv_user_id_list.size > 0 %>
    <% if show_times.presence %>
        <% STDERR.puts %!"#{show_times}" #{@known_pxv_user_id_list.size}=>! %>
        <% @known_pxv_user_id_list.delete_if {|x| x.cnt < show_times} %>
        <% STDERR.puts %!#{@known_pxv_user_id_list.size}! %>
    <% end %>

    <h2>登録済み pxv list (<%= @known_pxv_user_id_list.size %>)</h2>
    <% recent_pxv_list = Pxv::hash_group(@known_pxv_user_id_list, pxv_group, @hide_day) %>
<% end %>

<% if pxv_group.presence %>
    <% div_keys = [] %>
    <% pxv_group.each do |key, val| %>
        <% if val.size > 25 %>
            <% div_keys << key %>
        <% end %>
    <% end %>

    <% div_keys.each do |k| %>
        <% pxv_group[k].each do |elem| %>
            <% p = elem.p %>
            <% if p.rating == 0 or p.rating == nil %>
                <% pxv_group[k + ":00"] << elem %>
            <% else %>
                <% #key_tmp = sprintf("%03d(%03d)", 100 - ((p.rating||0) / 10 * 10), p.rating||0) %>
                <% key_tmp = sprintf("%03d(%03d)", 100 - ((p.rating||0)), p.rating||0) %>
                <% pxv_group[k + ":評価" + key_tmp] << elem %>
            <% end %>
        <% end %>
        <% pxv_group.delete(k) %>
    <% end %>

    <% pxv_group = pxv_group.sort.to_h %>
    <% pxv_group.each do |key, val| %>
        <% list = val %>

        <% #list = list.sort_by {|x| -(x.p.rating||0)} %>
        <% list = list.sort_by {|x| x.p.sort_cond} %>

        <% unless list.presence %>
            <% next %>
        <% end %>
        
        <%# STDERR.puts "[dbg x]#{list.size}" %>
        <h3>PXV [<%= key %>] (<%= list.size %>)</h3>
        <table border="1" rules="all">
            <tr>
                <th>#</th>
                <th>pxv name</th>
                <th>予測</th>
                <th>アクセス</th>
                <th>ul</th>
                <th>thubmnail p</th>
                <th>twt</th>
                <th></th>
                <th>access</th>
                <th>■</th>
                <th>thubmnail t</th>
            </tr>
            <% idx = 0 %>
            <% list.each do |elem| %>

                <% p = elem.p %>
                <% pred = p.prediction_up_cnt(true) %>
                <% if idx >= pxv_disp_number %>
                    <% break %>
                <% end%>
                <% pxvurl = Pxv::pxv_user_url(elem.pxvid) %>
                <tr>
                    <% idx += 1 %>
                    <td>
                        
                        <%= idx %>
                    </td>
                    <td>
                        [<%= elem.cnt %>]<%= p.feature %>【<%= p.rating %>】<%= p.r18_disp %><br />
                        <b><%= p.pxvname %></b>(<%= elem.pxvid %><%#= link_to_ex elem.pxvid, pxvurl %>)
                    </td>
                    <% #bgc = pre_bgcolor(pred, @pred * 2, @pred) %>
                    <% bgc = pred_bg_color(pred) %>
                    <td align="right" bgcolor="<%= bgc %>">
                        <%= pred %>
                    </td>
                    <td>
                        <%= link_to_ex("■pxv■", artist_path(p, access_dt_update: "yes")) %>
                        <br />
                        <%= p.last_access_datetime_disp %>
                    </td>
                    <% ul_delta = p.get_date_delta(p.last_ul_datetime) %>
                    <% ul_bg_color = date_bg_color(ul_delta) %>
                    <td bgcolor="<%= ul_bg_color %>">
                        <b><%= p.status_disp(true) %></b>

                        <%= p.get_date_info(p.last_ul_datetime) %>

                        <% a_u_days = Util::get_days_date_delta(p.last_ul_datetime||Time.new(2001,1,1), p.last_access_datetime||Time.new(2001,1,1)) %>
                        <% if a_u_days > 60 %>
                            <br />
                            [※アクセス日と公開日の差が大きい(<%= a_u_days %>日)]
                        <% end %>
                        <br />
                    </td>
                    <td>
                        <% if (thumb_disp and pred > @pred) or (p.rating == 0) %>
                            <%= pic_path_tag(elem.pxvid, 3, pic_mag_pxv) %>
                        <% end %>
                        <%= p.filenum %>(<%= p.recent_filenum %>)
                    </td>

                    <% twt = Twitter.find_by_twtid_ignore_case(p.twtid) %>
                    <% if twt %>
                        <% twt_pred = twt.prediction %>
                        <td>
                            <%= %!#{twt.drawing_method}! if twt.drawing_method.presence %>
                            <%= %!【#{twt.rating}】! if twt.rating.presence %>
                            <%= twt.twtname %>
                        </td>
                        <td>@<%= twt.twtid %></td>
                        <% ac_delta = twt.get_date_delta(twt.last_access_datetime) %>
                        <% ac_bg_color = date_bg_color(ac_delta) %>
                        <td bgcolor="<%= ac_bg_color %>">
                            <%= twt.last_access_datetime_disp %>
                        </td>
                        <td>
                            <%= twt_pred %>
                            <%= link_to_ex "■twt■", twt %>
                        </td>
                        <td>
                            <% if thumb_disp and twt_pred > @pred * 7 %>
                                <% tlist = twt.get_pic_filelist_ex %>
                                <% tlist.first(3).each do |filepath| %>
                                    <%= link_to_ex image_tag(filepath, width: pic_mag_twt, height: pic_mag_twt), filepath if filepath.presence %>
                                <% end %>
                            <% end %>
                        </td>
                    <% else %>
                        <td><%= p.twtid %></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
        <% if pxv_disp_number < list.size %>
            残り：<%= list.size - pxv_disp_number %>
        <% end %>
    <% end %>
<% end %>

<% if recent_pxv_list.size > 0 %>
    <h2>既知pxv 最近アクセス分 [<%= @hide_day %>日以内] (<%= recent_pxv_list.size %>)</h2>

    <% recent_pxv_group = recent_pxv_list.group_by {|x| x.p.key_for_group_by} %>
    <% recent_pxv_group = recent_pxv_group.sort.reverse.to_h %>
    <% recent_pxv_group.each do |key, val| %>
        <% list = val %>
        <% unless list.presence %>
            <% STDERR.puts "list nil. key:#{key}" %>
            <% next %>
        <% end %>
        <h3>PXV [<%= key %>] (<%= list.size %>)</h3>
        <table border="1" rules="all">
            <tr>
                <th>#</th>
                <th>status</th>
                <th>rating</th>
                <th>name</th>
                <th>アクセス日</th>
                <th>最新投稿日</th>
                <th>予測</th>
                <th>pxv</th>
                <th>twt access</th>
                <th>twt post</th>
                <th>予測</th>
                <th>twt</th>
                <th>@</th>
            </tr>
            <% list = list.sort_by {|z| z.p.sort_cond} %>
            <% list.each.with_index(1) do |elem, idx| %>
                <% p = elem.p %>
                <tr>
                    <td>
                        [<%= elem.cnt %>]
                        <%= p.feature %>
                        <%= idx %>
                    </td>
                    <td><%= p.status %></td>

                    <% if p.rating == 0 %>
                        <% rt_bg_color = 'grey' %>
                    <% else %>
                        <% rt_bg_color = 'beige' %>
                    <% end %>
                    <td bgcolor="<%= rt_bg_color %>">
                        【<%= p.rating %>】<%= p.r18 %>
                    </td>
                    <td><%= p.pxvname %></td>

                    <% acs_delta = p.get_date_delta(p.last_access_datetime) %>
                    <% acs_bg_color = date_bg_color(acs_delta) %>
                    <td bgcolor="<%= acs_bg_color %>">
                        <%= p.last_access_datetime_disp %>
                    </td>

                    <!-- 公開日 -->
                    <% ul_delta = p.get_date_delta(p.last_ul_datetime) %>
                    <% ul_bg_color = date_bg_color(ul_delta) %>
                    <td bgcolor="<%= ul_bg_color %>">
                        <%= p.last_ul_datetime_disp %>
                    </td>

                    <!-- 予測 -->
                    <% pred_cnt = p.prediction_up_cnt(true) %>
                    <% bgc = pre_bgcolor(pred_cnt, @pred * 2, @pred) %>
                    <td align="right" bgcolor="<%= bgc %>">
                        <%= pred_cnt %>
                    </td>

                    <td>
                        <%= link_to_ex("■pxv■", artist_path(p, access_dt_update: "yes")) %>
                    </td>

                    <% twt = Twitter.find_by_twtid_ignore_case(p.twtid) %>
                    <% if twt %>
                        <% acs_delta = twt.get_date_delta(twt.last_access_datetime) %>
                        <% acs_bg_color = date_bg_color(acs_delta) %>
                        <td bgcolor="<%= acs_bg_color %>">
                            <%= twt.last_access_datetime_disp %>
                        </td>
                        <% post_delta = twt.get_date_delta(twt.last_post_datetime) %>
                        <% post_bg_color = date_bg_color(post_delta) %>
                        <td bgcolor="<%= post_bg_color %>">
                            <%= Util.get_date_info(twt.last_post_datetime) %>
                        </td>
                        <td align="right"><%= twt.prediction %></td>
                        <td>
                            【<%= twt.rating %>】
                            <%= link_to_ex "■twt■", twt %>
                        </td>
                        <td></td>
                    <% else %>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><%= link_to_ex("@#{p.twtid}", Twt.twt_user_url(p.twtid)) if p.twtid.presence %></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    <% end %>
<% end %>

<% if @unknown_pxv_user_id_list.presence %>
    <% cnt_bak = 0 %>
    <h2>未登録pxv id list (<%= @unknown_pxv_user_id_list.size %>)</h2>

    <% dirlist = Pxv::stock_dir_list %>
    
    <% @unknown_pxv_user_id_list.each.with_index(1) do |elem, idx| %>
        <% if show_times.presence and elem.cnt < show_times %>
            <!-- 飛ばす -->
            <% break %>
        <% end %>

        <% if cnt_bak != elem.cnt %>
            <h3><%= elem.cnt %></h3>
            <% cnt_bak = elem.cnt %>
        <% end %>

        <% user_name = Pxv::user_name(dirlist, elem.pxvid) %>
        <%= idx %>.
        <% if user_name.presence %>
            <%= user_name %>(<%= elem.pxvid %>)
            [<%= link_to_ex "☆pxv☆", artist_pxv_path(elem.pxvid) %>]
            [<%= elem.cnt %>]
        <% else %>
            [<%= elem.cnt %>]
            <% pxvurl = Pxv::pxv_user_url(elem.pxvid) %>
            <%= link_to_ex(elem.pxvid, pxvurl) %>
            <%#= link_to_ex "show", artist_pxv_path(elem.pxvid) %>
            [<%= link_to_ex "新規作成", new_artist_path(pxvid: elem.pxvid) %>]
        <% end %>

        <% t = Twitter.find_by(pxvid: elem.pxvid) %>
        <% if t %>
            [<%= link_to_ex "■twt■", t %>(<%= t.twtname %>)【<%= t.rating %>|<%= t.r18 %>|<%= t.last_access_datetime_disp %>]
        <% end %>
        <br />
    <% end %>

    <% if params[:url_list].presence %>
        <h2>未登録pxv url list (<%= @unknown_pxv_user_id_list.size %>)</h2>
        <% @unknown_pxv_user_id_list.each do |elem| %>
            <%= Pxv::pxv_user_url(elem.pxvid) %><br />
        <% end %>
    <% end %>
<% end %>

<!-- pxv artwork list -->
<% if @pxv_artwork_id_list.presence %>
    <h2>pxv artwork list (<%= @pxv_artwork_id_list.size %>)</h2>
    <% @pxv_artwork_id_list.sort.uniq.each.with_index(1) do |artwork_id, idx| %>
        <%= idx %>.
        (<%= link_to_ex(artwork_id, Pxv::pxv_artwork_url(artwork_id)) %>)
        <% pa = PxvArtwork.find_by(artwork_id: artwork_id) %>
        <% if pa %>
            <!-- <%= pa.state %>/<%= pa.release_date %>/user_id:<%= pa.user_id %>/「<%= pa.title %>」 -->
            <%= pa.info_txt %>
            [<%= link_to_ex("Edit", edit_pxv_artwork_path(pa)) %>]
        <% else %>
            [<%= link_to_ex("New", new_pxv_artwork_path(artwork_id: artwork_id)) %>]
        <% end %>
        <br />
    <% end %>
<% end %>

<% if @url_file_list.presence %>
    <h2>yy</h2>
    <% start_y = Date.new(2023, 1, 1) %>
    <% end_y = Date.today %>
    <% ye = Util::year_enumrator(start_y, end_y) %>
    <% ye.each do |d| %>
        <% #puts d %>
        <% file = %!target#{d.strftime('%y')}! %>
        <% url_all = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target: "twt,twt既知,twt未知,known_pxv,unknown_pxv", force_disp_day: 90) %>
        <% url_t_u = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target: ArtistsController::FileTarget::TWT_UNKNOWN_ONLY, force_disp_day: 90, show_times: 2) %>
        <% url_p_u = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target: ArtistsController::FileTarget::PXV_UNKNOWN_ONLY, force_disp_day: 90) %>
        <% url_p_k = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target:"known_pxv", force_disp_day: 90) %>
        <% url_t_e = artists_twt_index_path(filename: file, hide_day: 60, pred: 5, target: ArtistsController::FileTarget::TWT_EXPERIMENT, force_disp_day: 90) %>
        <% url_p_e = artists_twt_index_path(filename: file, hide_day: 60, pred: 5, target: ArtistsController::FileTarget::PXV_EXPERIMENT, force_disp_day: 90) %>
        <%= file %>
        | <%= link_to_ex("all", url_all) %>
        | <%= link_to_ex("未登録twt", url_t_u) %>
        | <%= link_to_ex("未登録pxv", url_p_u) %>
        | <%= link_to_ex("登録済みpxv", url_p_k) %>
        | <%= link_to_ex("実験twt", url_t_e) %>
        | <%= link_to_ex("実験pxv", url_p_e) %>
        <br />
    <% end %>

    <h2>yy/mm</h2>
    <% start_m = Date.new(2023, 7, 1) %>
    <% end_m = Date.today %>
    <% me = Util::month_enumrator(start_m, end_m) %>
    <% me.each do |d| %>
        <% #puts d %>
        <% file = %!target#{d.strftime('%y%m')}! %>
        <% url_all = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target: "twt,twt既知,twt未知,known_pxv,unknown_pxv", force_disp_day: 90) %>
        <% url_t_u = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target: ArtistsController::FileTarget::TWT_UNKNOWN_ONLY, force_disp_day: 90, show_times: 2) %>
        <% url_p_u = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target: ArtistsController::FileTarget::PXV_UNKNOWN_ONLY, force_disp_day: 90) %>
        <% url_p_k = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target:"known_pxv", force_disp_day: 90) %>
        <% url_t_e = artists_twt_index_path(filename: file, hide_day: 60, pred: 5, target: ArtistsController::FileTarget::TWT_EXPERIMENT, force_disp_day: 90) %>
        <% url_p_e = artists_twt_index_path(filename: file, hide_day: 60, pred: 5, target: ArtistsController::FileTarget::PXV_EXPERIMENT, force_disp_day: 90) %>
        <%= file %>
        | <%= link_to_ex("all", url_all) %>
        | <%= link_to_ex("未登録twt", url_t_u) %>
        | <%= link_to_ex("未登録pxv", url_p_u) %>
        | <%= link_to_ex("登録済みpxv", url_p_k) %>
        | <%= link_to_ex("実験twt", url_t_e) %>
        | <%= link_to_ex("実験pxv", url_p_e) %>
        <br />
    <% end %>

    <h2>file list (<%= @url_file_list.size %>)</h2>
    <% @url_file_list.each.with_index(1) do |filename, idx| %>
        <% file = File.basename(filename, ".*") %>
        <% url_a = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target:"twt,twt既知,twt未知,known_pxv,unknown_pxv") %>
        <% url_t = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target:"twt") %>
        <% url_tk = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target:"twt,twt既知") %>
        <% url_tu = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target: ArtistsController::FileTarget::TWT_UNKNOWN_ONLY) %>
        <% url_p_u = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target: ArtistsController::FileTarget::PXV_UNKNOWN_ONLY) %>
        <% url_p_k = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target:"known_pxv", force_disp_day: 90) %>

        <%= file %>
        (<%= FileTest.size(filename) / 1024  %> KB)
        <%#= Util::formatFileSize(FileTest.size(filename)) %>
        | <%= link_to_ex("all", url_a) %>
        | <%= link_to_ex("twt", url_t) %>
        | <%= link_to_ex("twt既知", url_tk) %>
        | <%= link_to_ex("twt未知", url_tu) %>
        | <%= link_to_ex("既知pxv", url_p_k) %>
        | <%= link_to_ex("未登録pxv", url_p_u) %>
        <br />
    <% end %>
<% end %>

<% if @twt_user_infos.presence %>
    <% @twt_user_infos.each.with_index(1) do |(twtid, value), idx| %>
        <%= value.num_of_files %>:@<%= twtid %>
        <% twt_account = Twitter.find_by_twtid_ignore_case(twtid) %>
        (<%= link_to_ex "■twt■", twt_account %>)
        <br />
    <% end %>
<% end %>

<% if @misc_urls and @misc_urls.size != 0 %>
    <h2>misc url list(<%= @misc_urls.size %>)</h2>
    <% @misc_urls.sort.uniq.each do |url| %>
        <%= link_to_ex url, url %>
        <br />
    <% end %>
<% end %>
