<% title = %!@#{@twtid}:画像一覧! %>
<% provide(:title, title) %>

<h3 id="twt_pic_list">twt pic (<%= link_to "@#{@twtid}", Twt::twt_user_url(@twtid), target: :_blank, rel: "noopener noreferrer" %>)</h3>

<% twt_acnt = Twitter.find_by_twtid_ignore_case(@twtid) %>
<% if twt_acnt == nil %>
    <%= link_to "New Twt", new_twitter_path(twtid: @twtid, status: "TWT巡回") %>
    <br />
<% else %>
    twt:<%= twt_acnt.twt_screen_name %>[<%= link_to "show", twt_acnt, target: :_blank, rel: "noopener noreferrer" %>]
    <%#= twt_acnt.last_access_datetime_disp %>
    <%= twt_acnt.status %>,<%= twt_acnt.drawing_method %>
    <br />

    <% pxv_acnt = Artist.find_by(pxvid: twt_acnt.pxvid) %>
    <% if pxv_acnt != nil %>
        pxv:<%= pxv_acnt.pxvname %> [<%= link_to "show", pxv_acnt, target: :_blank, rel: "noopener noreferrer" %>]
        <br />
    <% end %>
<% end %>

<% pxv_artist = Artist.find_by_twtid_ignore_case(@twtid) %>
<% if pxv_artist %>
    pxv:<%= pxv_artist.pxvname %> [<%= link_to "show", pxv_artist, target: :_blank, rel: "noopener noreferrer" %>]
        <%= pxv_artist.get_datetime_string(pxv_artist.last_ul_datetime) %>
        <%= pxv_artist.status %>
    <br />
<% else %>
    xxx
<% end %>
<hr />


<% twt_pic_list = @twt_pic_path_list.map {|x| [Twt::twt_path_str(x), x]}.sort.reverse %>

<% freq = (Twt::calc_freq(twt_pic_list.map {|x| x[1]})).to_f %>
更新頻度：<%= freq %>/<%= Twt::CALC_FREQ_UNIT %>日
<% if twt_acnt != nil and twt_acnt.update_frequency != nil %>
    <% current_val_freq = twt_acnt.update_frequency %>
    <%= %!(現在値：#{current_val_freq})! %>
    <% if (freq - current_val_freq).abs >= 50 %>
        現在値との差が大きい
    <% end %>
<% end %>
<br />

<% if params[:picn] == "" %>
    <% show_pic_num = 15 %>
<% elsif params[:picn] == "all" %>
    <% show_pic_num = twt_pic_list.size %>
<% elsif params[:picn] =~ /(\d+)/ %>
    <% show_pic_num = $1.to_i %>
<% else %>
    <% show_pic_num = 15 %>
<% end %>
<% twt_pic_list.first(show_pic_num).each.with_index(1) do |elem, idx| %>
    <% path = elem[1] %>
    <%= idx %>.
    <%= link_to image_tag(path, width: '10%', height: '10%', :alt => path), path, target: :_blank, rel: "noopener noreferrer" %>
<% end %>
<br />

<% twt_pic_list.first(show_pic_num).each.with_index(1) do |elem, idx| %>
    <%= idx %>:<%= elem[0] %><br />
<% end %>
<%= twt_pic_list.size %>
<br />

<h2>url txt</h2>
<% tweet_ids = Twt::get_twt_tweet_ids_from_txts(@twtid) %>
<% tweet_ids.each do |x| %>
    <% url = Twt::twt_tweet_url(@twtid, x) %>
    <%= link_to_ex(url, url) %>
    [<%= Twt::timestamp_str(x) %>]

    <% paths = Twt::search_tweet(@twt_pic_path_list, x) %>
    <% if paths.size > 0 %>
        ファイルあり
    <% else %>
        <% url2 = Twt::twt_tweet_url_dev(x) %>
        <%= link_to_ex(url2, url2) %>
    <% end %>
    <br>
<% end %>

<hr />
<%= form_with url: artists_path, local: true, method: :get do |f| %>
    <%= f.label :file, style: "display: block" %>
    <%= f.select :file, 
      options_for_select(
        [
          ['検索'],
        ],
        selected: params[:file] 
      ) %>
    <br />

    検索：<%= f.text_field :search_word %>
    <%= f.select :match_method, options_for_select([["(自動判断)","auto"], ["を含む","partial_match"], ["完全一致","perfect_match"], ["から始まる","begin_match"],  ["で終わる","end_match"]]) %>
    <%= f.select :target_col, options_for_select([['(自動判断)'], ['pxvname'], ['pxvid']]) %>
    <br />
    <%= f.submit "検索", name: nil %>
<% end %>
