<% provide(:title, %!url 一覧  #{params[:title]}/file:#{params[:filename]}/dir:#{params[:dir]}!) %>

<% thumb_disp = false %>

<% pic_mag_pxv = '28%' %>
<% pic_mag_twt = '23%' %>
<% pic_mag_twt_a = '5%' %>

<% twt_disp_number = 10 %>
<% pxv_disp_number = 5 %>
<% if params[:target] == ArtistsController::FileTarget::TWT_UNKNOWN_ONLY %>
    <% pxv_disp_number = 6 %>
<% end %>
<% rating_thre = 75 %>
<% rating_thre2 = rating_thre - 5 %>

<% hide_day_short = 7 %>

<% pxv_group = Hash.new { |h, k| h[k] = [] } %>
<% recent_pxv_list = [] %>

<% key_pxv_list_no_update_long  = "001.#{ArtistsController::Status::LONG_TERM_NO_UPDATS}" %>
<% key_pxv_list_no_update_6m    = "002.#{ArtistsController::Status::SIX_MONTH_NO_UPDATS}" %>

<% key_pxv_list_no_access_1y    = "011.1年以上アクセスしてない" %>
<% key_pxv_list_no_access_6m    = "012.半年以上アクセスしてない" %>
<% key_pxv_list_no_access_5m    = "013.5ヶ月以上アクセスしてない" %>
<% key_pxv_list_no_access_4m    = "014.4ヶ月以上アクセスしてない" %>
<% key_pxv_list_no_access_3m    = "015.3ヶ月以上アクセスしてない" %>
<% key_pxv_list_no_access_2m    = "016.2ヶ月以上アクセスしてない" %>

<% key_pxv_list_high            = "111.評価高" %>
<% key_pxv_list_set_m           = "111.設定済み(多) > #{@pred * 2}" %>
<% key_pxv_list_set             = "112.設定済み(普)" %>

<% key_pxv_list_unset_many      = "121.未設定(多) > #{@pred * 2}" %>
<% key_pxv_list_unset_few       = "122.未設定(少) < #{@pred * 2}" %>

<% key_pxv_list_pred_few_pred_n = "131.予測少( > n)" %>
<% key_pxv_list_pred_few        = "132.予測少" %>
<% key_pxv_list_pred_few_access = "133.予測少(最近アクセス)" %>

<% key_pxv_list_from_twt_list_a = "141.twt url list a" %>
<% key_pxv_list_from_twt_list_a2= "142.twt url list a2" %>
<% key_pxv_list_from_twt_list_b = "143.twt url list b" %>
<% key_pxv_list_from_twt_list_z = "149.twt url list 最近アクセス" %>

<% key_pxv_list_ai              = "181.AI" %>

<% key_pxv_list_low             = "183.評価低" %>
<% key_pxv_list_low_ltxx        = "184.評価低#{rating_thre2}未満" %>

<% key_pxv_list_recent          = "901.最近アクセス" %>

<% hide_day_b = @hide_day * 1.5 %>
<% key_name_pred_2      = %!01:予測 >= #{@pred * 2}! %>
<% key_name_pred_1      = %!02:予測 >= #{@pred}! %>
<% key_name_etc         = "03:etc" %>
<% key_name_rating_low  = "07:rating < #{rating_thre}" %>
<% key_name_ai          = "08:AI" %>
<% key_name_recent_b    = %!94:最近アクセス #{hide_day_b}日以内! %>
<% key_name_recent_a    = %!95:最近アクセス #{@hide_day}日以内! %>
<% key_name_recent_short= %!96:最近アクセス #{hide_day_short}日以内! %>

<% pxv_artist_id_list = [] %>
<% twt_group = Hash.new { |h, k| h[k] = [] } %>

<% if params[:target] == ArtistsController::FileTarget::TWT_EXPERIMENT %>
    <% @known_twt_url_list.each do |key, url_list| %>
        <% twt_account = Twitter.find_by_twtid_ignore_case(key) %>
        <% if !twt_account.last_access_datetime_p(@hide_day) %>
            <% twt_group[url_list.size] << [twt_account, url_list] %>
        <% end %>
    <% end %>

    <% @known_twt_url_list = nil %>
<% end %>

<% if @known_twt_url_list.presence %>
    <% idx = 0 %>
    <% @known_twt_url_list.each do |key, url_list| %>
        <% twt_account = Twitter.find_by_twtid_ignore_case(key) %>
        <% if twt_account.last_access_datetime_p(hide_day_short) %>
            <% twt_group[key_name_recent_short] << [twt_account, url_list] %>
        <% elsif twt_account.last_access_datetime_p(@hide_day) %>
            <% twt_group[key_name_recent_a] << [twt_account, url_list] %>
        <% elsif twt_account.last_access_datetime_p(hide_day_b) %>
            <% twt_group[key_name_recent_b] << [twt_account, url_list] %>
        <% elsif twt_account.drawing_method == "AI" %>
            <% twt_group[key_name_ai] << [twt_account, url_list] %>
        <% elsif twt_account.rating.presence and twt_account.rating != 0 and twt_account.rating < rating_thre %>
            <% twt_group[key_name_rating_low] << [twt_account, url_list] %>
        <% elsif @pred > 0 and twt_account.prediction >= @pred * 2 %>
            <% twt_group[key_name_pred_2] << [twt_account, url_list] %>
        <% elsif @pred > 0 and twt_account.prediction >= @pred %>
            <% twt_group[key_name_pred_1] << [twt_account, url_list] %>
        <% else %>
            <% twt_group[key_name_etc] << [twt_account, url_list] %>
        <% end %>

        <% idx += 1 %>
        <% if idx > 300 %>
            <% #break %>
        <% end %>
    <% end %>
<% end %>

<% if @known_twt_url_list.presence %>
    <% known_twt_url_list_size = @known_twt_url_list.size %>
<% else %>
    <% known_twt_url_list_size = 0 %>
<% end %>

<% if known_twt_url_list_size > 0 %>
    <h2>登録済みtwt (<%= known_twt_url_list_size %>)</h2>
<% end %>

<% if twt_group.presence %>
    <% twt_group = twt_group.sort.to_h %>
    <% twt_group.each do |key, val| %>
        <% list = val %>
        <% unless list.presence %>
            <% next %>
        <% end %>
        <h3>twt[<%= key %>] (<%= list.size %>)</h3>
        <table border="1" rules="all">
            <tr>
                <th>#</th>
                <th>method</th>
                <th>rating</th>
                <th>st</th>
                <th>name</th>
                <th>up freq</th>
                <th>予測</th>
                <th>-</th>
                <th>access</th>
                <th>UL</th>
                <th>サムネイル</th>
                <th>pxv id</th>
                <th>name</th>
                <th>pred</th>
                <th>■</th>
                <th>access</th>
                <th>UL</th>
                <th>thumbnail</th>
                <th>X</th>
            </tr>
            <% list = list.sort_by {|z|
                x = z[0];
                #[x.drawing_method||"", x.prediction, x.rating||0, x.last_access_datetime]}.reverse
                [
                    x.drawing_method||"", 
                    x.status||"", 
                    -(z[1].size), 
                    -(x.prediction), 
                    x.rating||0, 
                    x.last_access_datetime
                ]
                }
            %>
            <!-- ,  -->
            <% list.first(twt_disp_number).each.with_index(1) do |val, idx| %>
                <% twt_account = val[0] %>
                <% url_list = val[1] %>
                <tr>
                    <td><%= idx %></td>
                    <td>
                        <%= twt_account.drawing_method %>
                    </td>
                    <td>
                        [<%= url_list.size %>]
                        【<%= twt_account.rating %>】<%= twt_account.r18 %>
                    </td>
                    <td>
                        <%= twt_account.status %>
                    </td>
                    <td><%= twt_account.twt_screen_name %>(@<%= twt_account.twtid %>)</td>
                    <td align="right"><%= twt_account.update_frequency %></td>
                    <% pred = twt_account.prediction %>
                    <% #bgcolor = pre_bgcolor(pred, @pred, @pred / 2) %>
                    <% bgcolor = pre_bgcolor_ex(pred) %>
                    <td align="right" bgcolor="<%= bgcolor %>">
                        <%= pred %>
                    </td>
                    <td>
                        <%= link_to_ex "■twt■", twt_account %>
                        
                    </td>
                    <td>
                        <%= twt_account.last_access_datetime_disp %>
                    </td>
                    <td>
                        <%= Util.get_date_info(twt_account.last_post_datetime) %>
                    </td>
                    <td>
                        <% if thumb_disp and pred >= @pred %>
                            <% tlist = twt_account.get_pic_filelist_ex %>
                            <% tlist.first(3).each do |filepath| %>
                                <%= link_to image_tag(filepath, width: '13%', height: '13%'), filepath, target: :_blank, rel: "noopener noreferrer" if filepath.presence %>
                            <% end %>
                        <% end %>
                        <%= twt_account.filenum %>
                    </td>
                    <!-- pxv -->
                    <td>
                        <%= twt_account.pxvid %>
                    </td>
                    <% if twt_account.pxvid.presence %>
                        <% p = Artist.find_by(pxvid: twt_account.pxvid) %>
                    <% end %>
                    <% if p %>
                        <% p_pred = p.prediction_up_cnt(true) %>
                        <td>
                            <%= p.pxvname %>
                        </td>
                        <td align="right">
                            <%= p_pred %>
                        </td>
                        <td>
                            <%= link_to_ex("■pxv■", artist_path(p, access_dt_update: "yes")) %>
                        </td>
                        <td>
                            <%= p.get_date_info(p.last_access_datetime) %>
                        </td>
                        <td>
                            <%= p.get_date_info(p.last_ul_datetime) %>
                        </td>
                        <td>
                            <% if thumb_disp and p_pred > @pred %>
                                <%= pic_path_tag(p.pxvid, 3, pic_mag_pxv) %>
                            <% end %>
                            <%= p.filenum %>
                        </td>
                    <% else %>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <% end %>
                    <% p = Artist.find_by_twtid_ignore_case(twt_account.twtid, false) %>
                    <% if p %>
                        <td>
                            <%= link_to_ex("■pxv■", artist_path(p, access_dt_update: "yes")) %>
                        </td>
                    <% else %>
                        <td>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </table>
        <% if list.size > twt_disp_number  %>
            残り：<%= list.size - twt_disp_number %>
        <% end %>
    <% end %>
<% end %>

<% known_twt_account_list = {} %>

<!-- 未知twt -->
<% pxv_list_tmp = [] %>
<% if @unknown_twt_url_list.presence %>
    <h2>未登録twt url list (<%= @unknown_twt_url_list.size %>)</h2>
    <% twt_dirs = Twt::TwtDirs.new %>
    <% cnt = 0 %>
    <% @unknown_twt_url_list.each.with_index(1) do |(key, url_list), idx| %>
        <% if cnt != url_list.size %>
            <% cnt = url_list.size %>
            <h3><%= cnt %></h3>
        <% end %>

        <% exist = twt_dirs.user_exist?(key) %>
        <% if exist %>
            !ローカルファイルにあり!(<%= key %>)
        <% end %>
        <% twt_account = Twitter.find_by_twtid_ignore_case(key) %>
        <% if twt_account %>
            <%= idx %>:*<%= key %>*（大文字・小文字チェック）|<%= twt_account.twtid %>|
            <% known_twt_account_list[key] = [url_list, twt_account] %>
            <% #puts %!known=#{key}! %>
            <br />
            <% next %>
        <% else %>
        <% end %>

        <!-- pxv -->
        <% pxv_artist = Artist.find_by_twtid_ignore_case(key) %>
        <% if pxv_artist %>
            <!--[<%#= link_to_ex "■pxv■", pxv_artist %>(<%= pxv_artist.pxvname %>)]-->
            <% pxv_list_tmp << PxvInfo.new(pxv_artist.pxvid, url_list.size, pxv_artist) %>
            <% next %>
        <% end %>

        <% if params[:url_cnt].presence and url_list.size < params[:url_cnt].to_i %>
            <% next %>
        <% end %>

        <%= idx %>:
        <%= link_to_ex "@" + key, Twt::twt_user_url(key) %>
        (<%= link_to_ex "show", key %>)

        <br />
    <% end %>
<% end %>


<% twt_list_z, tmp_a = pxv_list_tmp.partition {|x| x.p.last_access_datetime_p(60)} %>
<% tmp_a, tmp_b = tmp_a.partition {|x| x.p.status == ""} %>
<% tmp_a, tmp_a2 = tmp_a.partition {|x| x.p.rating >= 80} %>
<% pxv_group[key_pxv_list_from_twt_list_a] = tmp_a.sort_by {|z|
        x = z.p;
        [
            x.last_access_datetime,
            x.status||"", 
            x.feature||"",
            -(x.prediction_up_cnt(true)), 
            x.rating||0, 
        ]
    }
%>
<% pxv_group[key_pxv_list_from_twt_list_b] = tmp_b %>
<% pxv_group[key_pxv_list_from_twt_list_a2] = tmp_a2 %>
<% pxv_group[key_pxv_list_from_twt_list_z] = twt_list_z %>

<!-- 登録済みtwt -->
<% if known_twt_account_list.presence %>
    <h3>登録済み twt list (<%= known_twt_account_list.size %>)</h3>
    <% known_twt_account_list.each.with_index(1) do |(key, x), idx| %>
        <% url_list = x[0] %>
        <% twt_account = x[1] %>
        [<%= url_list.size %>]<%= idx %>:
        <%= link_to_ex "@" + key, Twt::twt_user_url(key) %>
        (<%= link_to_ex "show", key %>)
        [<%= link_to_ex "■TWT■", twt_account %>]
        (<%= twt_account.twtname %>)
        <%= twt_account.last_access_datetime_disp %>
        <br />
    <% end %>
<% end %>


<!-- 登録済みPXV -->
<% unless @known_pxv_user_id_list.presence %>
    <% @known_pxv_user_id_list, unknown_pxv_user_id_list = Artist::pxv_user_id_classify(pxv_artist_id_list) %>
<% end %>

<% if params[:target] == ArtistsController::FileTarget::PXV_EXPERIMENT %>
    <% @known_pxv_user_id_list.each do |elem| %>
        <% p = elem.p %>
        <% if !(p.last_access_datetime_p(@hide_day)) %>
            <% pred = p.prediction_up_cnt(true) %>
            <% if pred > @pred and p.r18 == "R18" and (p.rating > 75 or p.rating == 0 or p.rating == nil) %>
                <% pxv_group[elem.cnt.to_s] << elem %>
            <% end %>
        <% end %>
    <% end %>
    <% @known_pxv_user_id_list = [] %>
    <% #p pxv_group %>
<% end %>

<% if @known_pxv_user_id_list.size > 0 %>
    <h2>登録済み pxv list (<%= @known_pxv_user_id_list.size %>)</h2>
    <% @known_pxv_user_id_list.each do |elem| %>
        <% p = elem.p %>
        <% pred = p.prediction_up_cnt(true) %>
        <% if p.last_access_datetime_p(@hide_day) %>
            <% recent_pxv_list << elem %>
        <% elsif p.feature == "AI" %>
            <% pxv_group[key_pxv_list_ai] << elem %>
        <% elsif p.rating.presence and p.rating > 90 %>
            <% pxv_group[key_pxv_list_high] << elem %>
        <% elsif p.rating.presence and p.rating > 0 and p.rating < rating_thre %>
            <% if p.rating < rating_thre2 %>
                <% pxv_group[key_pxv_list_low_ltxx] << elem %>
            <% else %>
                <% pxv_group[key_pxv_list_low] << elem %>
            <% end %>
        <% elsif p.rating.presence and p.rating == 0 %>
            <% if pred > @pred * 2 %>
                <% pxv_group[key_pxv_list_unset_many] << elem %>
            <% else %>
                <% pxv_group[key_pxv_list_unset_few] << elem %>
            <% end %>
        <% elsif p.status == ArtistsController::Status::LONG_TERM_NO_UPDATS %>
            <% pxv_group[key_pxv_list_no_update_long] << elem %>
        <% elsif p.status == ArtistsController::Status::SIX_MONTH_NO_UPDATS %>
            <% pxv_group[key_pxv_list_no_update_6m] << elem %>
        <% elsif !(p.last_access_datetime_p(365)) %>
            <% pxv_group[key_pxv_list_no_access_1y] << elem %>
        <% elsif !(p.last_access_datetime_p(180)) %>
            <% pxv_group[key_pxv_list_no_access_6m] << elem %>
        <% elsif !(p.last_access_datetime_p(150)) %>
            <% pxv_group[key_pxv_list_no_access_5m] << elem %>
        <% elsif !(p.last_access_datetime_p(120)) %>
            <% pxv_group[key_pxv_list_no_access_4m] << elem %>
        <% elsif !(p.last_access_datetime_p(90)) %>
            <% pxv_group[key_pxv_list_no_access_3m] << elem %>
        <% elsif !(p.last_access_datetime_p(60)) %>
            <% pxv_group[key_pxv_list_no_access_2m] << elem %>
        <% elsif pred >= @pred %>
            <% if p.rating.presence and pred >= @pred * 2 %>
                <% pxv_group[key_pxv_list_set_m] << elem %>
            <% else %>
                <% pxv_group[key_pxv_list_set] << elem %>
            <% end %>
        <% elsif p.last_access_datetime_p(-60) %>
            <% pxv_group[key_pxv_list_pred_few_access] << elem %>
        <% elsif pred >= 3 %>
            <% pxv_group[key_pxv_list_pred_few_pred_n] << elem %>
        <% else %>
            <% pxv_group[key_pxv_list_pred_few] << elem %>
        <% end %>
    <% end %>
<% end %>

<% if pxv_group.presence %>
    <% div_keys = [] %>
    <% pxv_group.each do |key, val| %>
        <% if val.size > 25 %>
            <% div_keys << key %>
        <% end %>
    <% end %>

    <% div_keys.each do |k| %>
        <% if k == key_pxv_list_low or k == key_pxv_list_low_ltxx %>
            <% next %>
        <% end %>
        <% pxv_group[k].each do |elem| %>
            <% p = elem.p %>
            <% if p.rating == 0 %>
                <% pxv_group[k + ":00"] << elem %>
            <% elsif p.rating >= 85 %>
                <% pxv_group[k + ":85"] << elem %>
            <% else %>
                <% pxv_group[k + ":" + rating_thre.to_s] << elem %>
            <% end %>
        <% end %>
        <% pxv_group.delete(k) %>
    <% end %>

    <% pxv_group = pxv_group.sort.to_h %>
    <% pxv_group.each do |key, val| %>
        <% list = val %>
        <% unless list.presence %>
            <% next %>
        <% end %>
        <h3>PXV [<%= key %>] (<%= list.size %>)</h3>
        <table border="1" rules="all">
            <tr>
                <th>#</th>
                <th>pxv name</th>
                <th>予測</th>
                <th>アクセス</th>
                <th>ul</th>
                <th>thubmnail p</th>
                <th>twt</th>
                <th></th>
                <th>access</th>
                <th>■</th>
                <th>thubmnail t</th>
            </tr>
            <% idx = 0 %>
            <% list.each do |elem| %>
                <% p = elem.p %>
                <% pred = p.prediction_up_cnt(true) %>
                <% if idx >= pxv_disp_number %>
                    <% break %>
                <% end%>
                <% pxvurl = Pxv::pxv_user_url(elem.pxvid) %>
                <tr>
                    <% idx += 1 %>
                    <td>
                        
                        <%= idx %>
                    </td>
                    <td>
                        [<%= elem.cnt %>]<%= p.feature %>【<%= p.rating %>】<%= p.r18 %><br />
                        <b><%= p.pxvname %></b>(<%= link_to_ex elem.pxvid, pxvurl %>)
                    </td>
                    <% bgc = pre_bgcolor(pred, @pred * 2, @pred) %>
                    <td align="right" bgcolor="<%= bgc %>">
                        <%= pred %>
                    </td>
                    <td>
                        <%= link_to_ex("■pxv■", artist_path(p, access_dt_update: "yes")) %>
                        <br />
                        <%= p.last_access_datetime_disp %>
                    </td>
                    <% ul_delta = p.get_date_delta(p.last_ul_datetime) %>
                    <% ul_bg_color = date_bg_color(ul_delta) %>
                    <td bgcolor="<%= ul_bg_color %>">
                        <%= p.get_date_info(p.last_ul_datetime) %>

                        <% a_u_days = Util::get_days_date_delta(p.last_ul_datetime, p.last_access_datetime) %>
                        <% if a_u_days > 60 %>
                            <br />
                            [※アクセス日と公開日の差が大きい(<%= a_u_days %>日)]
                        <% end %>
                        <br />
                        <b><%= p.status_disp %></b>
                    </td>
                    <td>
                        <% if thumb_disp and pred > @pred %>
                            <%= pic_path_tag(elem.pxvid, 3, pic_mag_pxv) %>
                        <% end %>
                        <%= p.filenum %>
                    </td>

                    <% twt = Twitter.find_by_twtid_ignore_case(p.twtid) %>
                    <% if twt %>
                        <% twt_pred = twt.prediction %>
                        <td><%= twt.twtname %></td>
                        <td>@<%= twt.twtid %></td>
                        <% ac_delta = twt.get_date_delta(twt.last_access_datetime) %>
                        <% ac_bg_color = date_bg_color(ac_delta) %>
                        <td bgcolor="<%= ac_bg_color %>">
                            <%= twt.last_access_datetime_disp %>
                        </td>
                        <td>
                            <%= twt_pred %>
                            <%= link_to_ex "■twt■", twt %>
                        </td>
                        <td>
                            <% if thumb_disp and twt_pred > @pred * 7 %>
                                <% tlist = twt.get_pic_filelist_ex %>
                                <% tlist.first(3).each do |filepath| %>
                                    <%= link_to_ex image_tag(filepath, width: pic_mag_twt, height: pic_mag_twt), filepath if filepath.presence %>
                                <% end %>
                            <% end %>
                        </td>
                    <% else %>
                        <td><%= p.twtid %></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
        <% if pxv_disp_number < list.size %>
            残り：<%= list.size - pxv_disp_number %>
        <% end %>
    <% end %>
<% end %>


<% if recent_pxv_list.size > 0 %>
    <h2>既知pxv 最近アクセス分 [<%= @hide_day %>日以内] (<%= recent_pxv_list.size %>)</h2>
    <table border="1" rules="all">
        <tr>
            <th>#</th>
            <th>status</th>
            <th>rating</th>
            <th>name</th>
            <th>アクセス日</th>
            <th>最新投稿日</th>
            <th>pxv</th>
            <th>予測</th>
            <th>twt access</th>
            <th>twt post</th>
            <th>twt</th>
            <th>twt 予測</th>
            <th>twt</th>
        </tr>
        <% recent_pxv_list = recent_pxv_list.sort_by {|z|
                x = z.p;
                [
                    x.status||"", 
                    x.feature||"",
                    x.last_ul_datetime,
                    -(x.prediction_up_cnt(true)), 
                    x.rating||0, 
                    x.last_access_datetime
                ]
            }
        %>
        <% recent_pxv_list.each.with_index(1) do |elem, idx| %>
            <% p = elem.p %>
            <tr>
                <td>
                    [<%= elem.cnt %>]
                    <%= p.feature %>
                    <%= idx %>
                </td>
                <td><%= p.status %></td>

                <% if p.rating == 0 %>
                    <% rt_bg_color = 'grey' %>
                <% else %>
                    <% rt_bg_color = 'beige' %>
                <% end %>
                <td bgcolor="<%= rt_bg_color %>">
                    【<%= p.rating %>】<%= p.r18 %>
                </td>
                <td><%= p.pxvname %></td>

                <td>
                    <%= p.last_access_datetime_disp %>
                </td>

                <!-- 公開日 -->
                <% ul_delta = p.get_date_delta(p.last_ul_datetime) %>
                <% ul_bg_color = date_bg_color(ul_delta) %>
                <td bgcolor="<%= ul_bg_color %>">
                    <%= p.last_ul_datetime_disp %>
                </td>

                <td>
                    <%= link_to_ex("■pxv■", artist_path(p, access_dt_update: "yes")) %>
                </td>

                <!-- 予測 -->
                <% pred_cnt = p.prediction_up_cnt(true) %>
                <% bgc = pre_bgcolor(pred_cnt, @pred * 2, @pred) %>
                <td align="right" bgcolor="<%= bgc %>">
                    <%= pred_cnt %>
                </td>
                <% twt = Twitter.find_by_twtid_ignore_case(p.twtid) %>
                <% if twt %>
                    <td>
                        <%= twt.last_access_datetime_disp %>
                    </td>
                    <% post_delta = twt.get_date_delta(twt.last_post_datetime) %>
                    <% post_bg_color = date_bg_color(post_delta) %>
                    <td bgcolor="<%= post_bg_color %>">
                        <%= Util.get_date_info(twt.last_post_datetime) %>
                    </td>
                    <td><%= link_to_ex "■twt■", twt %></td>
                    <td align="right"><%= twt.prediction %></td>
                    <td></td>
                <% else %>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><%= link_to_ex("@#{p.twtid}", Twt.twt_user_url(p.twtid)) if p.twtid.presence %></td>
                <% end %>
            </tr>
        <% end %>
    </table>
<% end %>

<% if @unknown_pxv_user_id_list.presence %>
<%# if @target.include?("unknown_pxv") and @unknown_pxv_user_id_list.presence %>
    <h2>未登録pxv id list (<%= @unknown_pxv_user_id_list.size %>)</h2>
    <% dirlist = Pxv::stock_dir_list %>
    <% @unknown_pxv_user_id_list.each.with_index(1) do |elem, idx| %>
        <% user_name = Pxv::user_name(dirlist, elem.pxvid) %>
        <%= idx %>.
        <% if user_name.presence %>
            <%= user_name %>(<%= elem.pxvid %>)
            [<%= link_to_ex "☆pxv☆", artist_pxv_path(elem.pxvid) %>]
            [<%= elem.cnt %>]
        <% else %>
            [<%= elem.cnt %>]
            <% pxvurl = Pxv::pxv_user_url(elem.pxvid) %>
            <%= link_to_ex(elem.pxvid, pxvurl) %>
            [<%#= link_to_ex "show", artist_pxv_path(elem.pxvid) %>]
        <% end %>
        <% t = Twitter.find_by(pxvid: elem.pxvid) %>
        <% if t %>
            [<%= link_to_ex "■twt■", t %>(<%= t.twtname %>)【<%= t.rating %>|<%= t.r18 %>|<%= t.last_access_datetime_disp %>]
        <% end %>
        <br />
    <% end %>
<% end %>

<% if @pxv_artwork_id_list.presence %>
    <% @pxv_artwork_id_list.sort.each.with_index(1) do |artwork_id, idx| %>
        <%= idx %>.<%= link_to_ex(artwork_id, Pxv::pxv_artwork_url(artwork_id)) %><br />
    <% end %>
<% end %>

<% if @url_file_list.presence %>
    <h2>file list (<%= @url_file_list.size %>)</h2>
    <% @url_file_list.each.with_index(1) do |filename, idx| %>
        <% file = File.basename(filename, ".*") %>
        <% url_a = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target:"twt,twt既知,twt未知,known_pxv,unknown_pxv") %>
        <% url_t = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target:"twt") %>
        <% url_tk = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target:"twt,twt既知") %>
        <% url_tu = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target: ArtistsController::FileTarget::TWT_UNKNOWN_ONLY) %>
        <% url_p_u = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target: ArtistsController::FileTarget::PXV_UNKNOWN_ONLY) %>
        <% url_p_k = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target:"known_pxv", force_disp_day: 90) %>
        <%= file %>
        | <%= link_to_ex("all", url_a) %>
        | <%= link_to_ex("twt", url_t) %>
        | <%= link_to_ex("twt既知", url_tk) %>
        | <%= link_to_ex("twt未知", url_tu) %>
        | <%= link_to_ex("既知pxv", url_p_k) %>
        | <%= link_to_ex("未登録pxv", url_p_u) %>
        <br />
    <% end %>

    <h2>yy/mm</h2>
    <% start_m = Date.new(2023, 7, 1) %>
    <% end_m = Date.today %>
    <% me = Util::month_enumrator(start_m, end_m) %>
    <% me.each do |d| %>
        <% puts d %>
        <% file = %!target#{d.strftime('%y%m')}! %>
        <% url_all = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target: "twt,twt既知,twt未知,known_pxv,unknown_pxv", force_disp_day: 90) %>
        <% url_t_u = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target: ArtistsController::FileTarget::TWT_UNKNOWN_ONLY, force_disp_day: 90) %>
        <% url_p_u = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target: ArtistsController::FileTarget::PXV_UNKNOWN_ONLY, force_disp_day: 90) %>
        <% url_p_k = artists_twt_index_path(filename: file, hide_day: 30, pred: 5, target:"known_pxv", force_disp_day: 90) %>
        <% url_t_e = artists_twt_index_path(filename: file, hide_day: 60, pred: 5, target: ArtistsController::FileTarget::TWT_EXPERIMENT, force_disp_day: 90) %>
        <% url_p_e = artists_twt_index_path(filename: file, hide_day: 60, pred: 5, target: ArtistsController::FileTarget::PXV_EXPERIMENT, force_disp_day: 90) %>
        <%= file %>
        | <%= link_to_ex("all", url_all) %>
        | <%= link_to_ex("未登録twt", url_t_u) %>
        | <%= link_to_ex("未登録pxv", url_p_u) %>
        | <%= link_to_ex("登録済みpxv", url_p_k) %>
        | <%= link_to_ex("実験twt", url_t_e) %>
        | <%= link_to_ex("実験pxv", url_p_e) %>
        <br />
    <% end %>
<% end %>

<% if @twt_user_infos.presence %>
    <% @twt_user_infos.each.with_index(1) do |(twtid, value), idx| %>
        <%= value.num_of_files %>:@<%= twtid %>
        <% twt_account = Twitter.find_by_twtid_ignore_case(twtid) %>
        (<%= link_to_ex "■twt■", twt_account %>)
        <br />
    <% end %>
<% end %>

<% if @misc_urls and @misc_urls.size != 0 %>
    <h2>misc url list(<%= @misc_urls.size %>)</h2>
    <% @misc_urls.each do |url| %>
        <%= link_to_ex url, url %>
        <br />
    <% end %>
<% end %>
