<div id="<%= dom_id pxv_artwork %>">
  <h2><%= %!#{pxv_artwork.title}(#{pxv_artwork.artwork_id}) - #{pxv_artwork.user_id}! %></h2>
  <% artwork_info = pxv_artwork.artwork_info %>
  <% if artwork_info %>
    <% artwork_path = artwork_info.path_list[0] %>
    <% ratio = '15%' %>
    <%= link_to_ex(image_tag(artwork_path, width: ratio, height: ratio), artwork_path) %>
  <% end %>

  <p>
    <strong>Artwork:</strong>
    <%= pxv_artwork.artwork_id %>(<%= link_to_ex("pxv", pxv_artwork.artwork_url)%>)
  </p>

  <p>
    <strong>User ID:</strong>
    <%= pxv_artwork.user_id %>(<%= link_to_ex("pxv", pxv_artwork.user_url)%>)
  </p>

  <p>
    <strong>Title:</strong>
    <%= pxv_artwork.title %>
  </p>

  <p>
    <strong>State:</strong>
    <%= pxv_artwork.state %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= pxv_artwork.rating %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= pxv_artwork.release_date %>
  </p>

  <p>
    <strong>Number of pic:</strong>
    <%= pxv_artwork.number_of_pic %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= pxv_artwork.remarks %>
  </p>

</div>
