<div id="<%= dom_id pxv_artwork %>">
  <p>
    <strong>Artwork:</strong>
    <%= pxv_artwork.artwork_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= pxv_artwork.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= pxv_artwork.title %>
  </p>

  <p>
    <strong>State:</strong>
    <%= pxv_artwork.state %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= pxv_artwork.rating %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= pxv_artwork.release_date %>
  </p>

  <p>
    <strong>Number of pic:</strong>
    <%= pxv_artwork.number_of_pic %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= pxv_artwork.remarks %>
  </p>

</div>
