<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% if tweet.tweet_id.presence %>
      <% tweet_id_val = tweet.tweet_id %>
    <% elsif params[:tweet_id].presence %>
      <% tweet_id_val = params[:tweet_id] %>
    <% else %>
      <% tweet_id_val = "" %>
    <% end %>
    <%= form.label :tweet_id, style: "display: block" %>
    <%= form.number_field :tweet_id, value: tweet_id_val %>

    <%= link_to_ex("▶x(#{tweet_id_val})", Twt::twt_tweet_url_i(tweet_id_val)) %>
  </div>

  <div>
    <%= form.label :screen_name, style: "display: block" %>
    <%= form.text_field :screen_name, autofocus: true %>

    <% twt = Twitter.find_by(twtid: tweet.screen_name) %>
    <% if twt %>
      <% if twt.sp? %>
          <h3>SP対象？</h3>
      <% end %>
      [<%= link_to_ex "■twt■(@#{tweet.screen_name})", twitter_path(twt, refresh: "y") %>]
      A:<%= twt.last_access_datetime_disp %>
    <% end %>
  </div>

  <div>
    <% val = get_val(tweet.status, :status) %>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status,
      Tweet::status_enum_array(),
      { selected: val },
      include_blank: "選択して下さい"
    %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.number_field :rating %>
  </div>

  <div>
    <%= form.label :num, style: "display: block" %>
    <%= form.number_field :num %>
  </div>
  
  <div>
    <%= form.label :remarks, style: "display: block" %>
    <%= form.text_field :remarks %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<script>
    function select_text(elem_id) {
        let text_field = document.getElementById(elem_id);
        text_field.select();
        //document.execCommand("copy");
    }

    document.addEventListener("visibilitychange", function() {
      if (document.visibilityState === "visible")
      {
          select_text("tweet_" + "screen_name");
      }
    });
</script>
