<div id="<%= dom_id tweet %>">
  <p>
    <strong>Tweet:</strong>
    <%= tweet.tweet_id %>
    <strong>Screen name:</strong>
    <%= tweet.screen_name %>
    <strong>Status:</strong>
    <%= tweet.status %>
    <strong>Rating:</strong>
    <%= tweet.rating %>
    <strong>Num:</strong>
    <%= tweet.num %>
  </p>

</div>
