<div id="<%= dom_id tweet %>">
    <p>
        <% if tweet.status != Tweet::StatusEnum::SAVED %>
            <h3><%= tweet.status %></h3>
        <% end %>
        <strong>Tweet ID:</strong>
        <%= tweet.tweet_id %>
        <strong>スクリーンネーム:</strong>
        <%= tweet.screen_name %>
        <strong>評価:</strong>
        <%= tweet.rating %>
        <strong>枚数:</strong>
        <%= tweet.num %>
        <strong>備考:</strong>
        <%= tweet.remarks %>
    </p>

    <% twt = Twitter.find_by(twtid: tweet.screen_name) %>
    <% if twt %>
        <%#= twitter_info_tag(twt) %>
    <% elsif tweet.screen_name.presence %>
    <% end %>
    [<%= link_to_ex %!☆twt☆:@#{tweet.screen_name}!, artist_twt_path(tweet.screen_name, picn: 33) %>]
    [<%= link_to_ex("tweets db", tweets_path(screen_name: tweet.screen_name)) %>]
    <br />

    <% (@pic_list||[]).each do |path| %>
        <% if path.include? tweet.tweet_id.to_s %>
            <%= link_to_ex image_tag(path, width: '10%', height: '10%', :alt => path), path %>
        <% else %>
        <% end %>
    <% end %>
    <%= link_to_ex("▶x", Twt::twt_tweet_url_i(tweet.tweet_id)) %><br />
</div>
