<% page_title = "TWEET一覧" %>
<% provide(:title, page_title) %>
<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<div id="tweets">
    <!-- ############# -->
    <% if @tweet_cnt_list and @tweet_cnt_list.size > 0 %>
        <h2>@tweet_cnt_list</h2>
        <% @tweet_cnt_list.each.with_index(1) do |e, idx| %>
            <% screen_name = e[0] %>
            <% cnt = e[1] %>
            <%= idx %>.

            <% twt = Twitter.find_by_twtid_ignore_case(screen_name) %>
            <% if twt %>
                <%= twt.twtname %>
                (@<%= screen_name %>)
                [<%= link_to_ex("■twt■", twt) %>]
            <% else %>
                <% STDERR.puts %!miss:"#{screen_name}"! %>
            <% end %>

            全<%= cnt %>件
            <% tmp_ary = Tweet.summary_str(@tweet_sum_hash, screen_name) %>
            [<%= tmp_ary.join(",") %>]
            <br />
            <%# puts idx %>
        <% end %>
    <% end %>

    <!-- ############# -->
    <% if @url_list_summary and @url_list_summary.size > 0 %>
        <% url_list_work = [] %>
        <% @url_list_summary.each.with_index(1) do |e, idx| %>
            <% if e.todo_cnt < @todo_cnt %>
                <% next %>
            <% end %>

            <% twt = Twitter.find_by_twtid_ignore_case(e.screen_name) %>

            <% if @target.presence and twt.drawing_method.presence %>
                <% if twt.drawing_method != @target %>
                    <%# STDERR.puts %!"#{@target}/#{twt.drawing_method}"! %>
                    <% next %>
                <% end %>
            <% end %>

            <% if @created_at > 0 and twt.created_at_day_num > @created_at %>
                <% next %>
            <% end %>

            <% url_list_work << [e, twt] %>
        <% end %>
    <% end %>
    
    <% if url_list_work %>
        <% h1_bak = "" %>
        <% filesize_list = Twt::get_pic_filesize_list %>

        <% url_list_work = url_list_sort_by(url_list_work, params[:sort_by]) %>
        <% group_hash = Twitter::url_list_work_to_hash(url_list_work, @hide_within_days, @rating_gt, params[:sort_by]) %>
        <% group_hash.each do |k,v| %>

            <% h1, h2 = k.split(Twitter::TWT_H_SEPARATOR) %>
            <% if h1 != h1_bak %>
                <h2><%= h1 %></h2>
                <% h1_bak = h1 %>
            <% end %>

            <% header3 = %!#{h2}(#{v.size})! %>
            <h3><%= header3 %></h3>

            <% v.each.with_index(1) do |(e, twt), idx| %>

                <% if twt.last_access_datetime_p(@hide_within_days) %>
                    <%# next %>
                <% end %>

                <!--
                <%= twt.status %>|<%= twt.drawing_method %>
                -->
                [残<%= e.todo_cnt %>(全<%= e.url_cnt%>)]

                【<%= twt.rating %>】
                <%= twt.twtname %>(@<%= e.screen_name %>)

                [
                <% if filesize_list[e.screen_name] and filesize_list[e.screen_name] / 1024 > Twt::FILESIZE_THRESHOLD_KB %>
                    <font color="red">※ファイルサイズ大<%= sprintf("(%4d KB)", filesize_list[e.screen_name] / 1024) %>※</font>
                <% end %>
                <%= link_to_ex("■twt■", twt) %>
                ]

                [
                <% prediction = twt.prediction %>
                <% if prediction > 50 %>
                    <font color="orange">★★★予測数多い</font>
                <% end %>
                予測:<%= prediction %>
                <% if prediction > 50 %>
                    ★★★
                <% end %>
                A:<%= twt.last_access_datetime_disp %>
                ファイル数:<%= twt.filenum %>
                ]


                <% if twt.status == Twitter::TWT_STATUS::STATUS_SCREEN_NAME_CHANGED %>
                    <% if twt.new_twtid %>
                        ★新アカウント→
                        <% n_twt = Twitter.find_by_twtid_ignore_case(twt.new_twtid) %>
                        <%= link_to_ex("■twt■", twt) %>
                    <% end %>
                <% end %>

                <% if !twt.select_cond_aio(@pred) %>
                    <br />
                    <% next %>
                <% end %>

                <% if twt.last_access_datetime_p(@hide_within_days) or (@pred > 0 and @pred > twt.prediction) %>
                <% end %>

                <% %>
                <% pxv = Artist.find_by(twtid: e.screen_name) %>
                <% if pxv %>    
                    <%= pxv.pxvname %>[<%= link_to_ex(%!■pxv■!, pxv) %>]A:<%= pxv.last_access_datetime_disp %>
                <% end %>
                <br />
                <br />
            <% end %>
        <% end %>
    <% end %>

    <!-- ############# -->
    <h2>@known_twt_url_list</h2>
    <table border="1" rules="all">
        <tr>
            <th>#</th>
            <th>name</th>
            <th>rat</th>
            <th>link</th>
            <th>予測</th>
            <th>stat</th>
            <th>access</th>
            <th>ul</th>
            <th>twt</th>
            <th>cnt</th>
            <th>twtname(twtid)</th>
            <th>status</th>
            <th>link</th>
            <th>予測</th>
            <th>アクセス</th>
        </tr>
        <% twt_group = Twitter::twt_build_group(@known_twt_url_list) %>
        <% twt_group.each.with_index(1) do |(screen_name, url_list, twt, pxv), idx| %>

            <% if twt.last_access_date_within?(@hide_within_days) %>
                <% next %>
            <% end %>

            <% if twt.rating and twt.rating < @rating_gt %>
                <%# STDERR.puts %!#{twt.rating} < #{@rating_gt}! %>
                <% next %>
            <% end %>

            <% if pxv and pxv.last_access_date_within?(3) %>
                <% next %>
            <% elsif pxv and pxv.last_access_date_within?(@hide_within_days) %>
                <% if Util::get_date_delta(pxv.last_ul_datetime) < 30 %>
                    <% next %>
                <% else %>
                <% end %>
            <% end %>

            <% if pxv and pxv.rating and pxv.rating < @rating_gt %>
                <%# STDERR.puts %!#{pxv.rating} < #{@rating_gt}! %>
                <% next %>
            <% end %>

            <tr>
                <td><%= idx %></td>
                <% if pxv %>
                    <td>
                        <%= pxv.pxvname %>
                    </td>
                    <td>
                        【<%= pxv.feature %>|<%= pxv.rating %>|<%= pxv.r18 %>】
                    </td>
                    <td>
                        [<%= link_to_ex(%!■pxv■!, pxv) %>]
                    </td>
                    <td>
                        <%= pxv.prediction_up_cnt() %>
                    </td>
                    <td>
                        <%= pxv.status %>
                    </td>
                    <td>
                        <%= pxv.last_access_datetime_disp %>
                    </td>
                    <td>
                        <%= pxv.get_date_info(pxv.last_ul_datetime) %>
                    </td>
                <% else %>
                    <td>
                        ※pxv未登録
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                <% end %>
                <td>
                    <%= twt.status %>
                </td>
                <td>
                    <%= url_list.size %>[<%= Tweet.check_registered_record(url_list) %>]
                </td>
                <td>
                    <%= twt.drawing_method %>
                    <%= twt.twtname %>(@<%= screen_name %>)
                </td>
                <td>
                    【<%= twt.rating %>|<%= twt.r18 %>】
                </td>
                <td>
                    [<%= link_to_ex("■twt■", twt) %>]
                </td>
                <td>
                    <%= twt.prediction %>
                </td>
                <td>
                    <%= twt.last_access_datetime_disp %>
                </td>
            </tr>
        <% end %>
    </table>

    <% if @unknown_twt_url_list and @unknown_twt_url_list.size > 0 %>
        <h2>@unknown_twt_url_list</h2>
        <% @unknown_twt_url_list.each.with_index(1) do |(key, url_list), idx| %>
            <%# break %>
            <%= key %><%= url_list.size %><br />
        <% end %>
    <% end %>

    <h2>@tweets</h2>
    <% @tweets.each do |tweet| %>
        <%= render tweet %>
        <p>
            <%= link_to "Show this tweet", tweet %>
        </p>
    <% end %>

    <% if @tweet_ids %>
        <% scrn_name = params[:screen_name] %>
        <h2>@<%= scrn_name %></h2>
        <% @tweet_ids.each do |x| %>
            [<%= Twt::timestamp_str(x) %>]
            <% url = Twt::twt_tweet_url(scrn_name, x) %>
            🅿️
            <%= link_to_ex(x, url) %>
            <% tweet = Tweet.find_by(tweet_id: x) %>
            <% if tweet %>
                【<%= tweet.status %>】
                <%= link_to_ex("■tweet■", tweet) %>
            <% else %>
                [DB登録なし]
            <% end %>
            <br>

            <% hit = false %>
            <% @pic_list.each do |path| %>
                <% if path.include? x.to_s %>
                    <%= link_to_ex image_tag(path, width: '10%', height: '10%', :alt => path), path %>
                    <% hit = true %>
                <% else %>
                <% end %>
            <% end %>
            <% unless hit %>
                ファイルみつからず
            <% end %>
            <br />
        <% end %>
    <% else %>
        
    <% end %>
</div>

<hr />
<%= link_to "New tweet", new_tweet_path %>
