<% provide(:title, "home") %>
<h1>My Application</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= @message %>
<ul>
<% 
=begin %>
<% @links.each do |link| %>
    <li><a href="/<%= link %>"><%= link %></a></li>
<% end %>
<% 
=end %>
<% @menus.each do |menu| %>
    <% if menu[:path] == "" %>
        <% if menu[:label] == "-" %>
            <hr />
        <% else %>
            <h2><%= menu[:label] %></h2>
        <% end %>
    <% else %>
        <% label = menu[:label] %>
        <% path = menu[:path] %>
        <% path2 = UrlTxtReader::append_page_title_query(path, label) %>
        <li><%= link_to_ex(label, path2) %></li>
    <% end %>
<% end %>
</ul>


<h2>検索</h2>

<div class="view_form">
    <%= form_with url: artists_path, local: true, method: :get do |f| %>
            <%= f.label :file, style: "display: block" %>
            <%= f.select :file, 
                options_for_select(
                        [
                        ['検索'],
                        ],
                        selected: '検索'
                ) %>
                <br />
            検索：<%= f.text_field :search_word %>
            <%= f.select :match_method, options_for_select([["(自動判断)","auto"], ["を含む","partial_match"], ["完全一致","perfect_match"], ["から始まる","begin_match"],  ["で終わる","end_match"]]) %>
            <%= f.select :target_col, options_for_select([['(自動判断)'], ['pxvname'], ['pxvid']]) %>
            <br />
            <%= f.submit("検索", name: nil, class: 'subtmi-btn') %>
            <hr />
    <% end %>
</div>

<h2>計算</h2>
tweet id:
<input type=”text” id="tweet_id_text" value="" />
<input type="button" value="calc" onclick="get_info();" />
<p id="calc_result">result</p>

<script>
    function get_date(tweet_id) {
        //let c = window.document.URL.split("/")[5];
        let a = BigInt(tweet_id) >> 22n;
        let b = Number(a + 1288834974657n);
        let date = new Date(b).toLocaleString('ja-JP');
        return date;
        /*
        let year = date.getFullYear();
        let month = date.getMonth();
        let day = date.getDate();
        let hour = date.getHours();
        let min = date.getMinutes();
        let sec = date.getSeconds();
        
        return "" + year + month + day;*/
    }

    function get_info() {
        let text_box = document.getElementById("tweet_id_text");
        let text = text_box.value;

        let datetxt = ""
        //let regex = /twitter\.com\/\w+\/status\/(\d+)/;
        let regex = /(?:x|twitter)\.com\/\w+\/status\/(\d+)/;
        if (regex.test(text)) {
            let r = text.match(regex)
            let n = Number(r[1]);
            datetxt = get_date(n);
        } else {
            let r = text.match(/(\d+)/)
            let n = Number(r[0]);
            datetxt = get_date(n);
        }

        const result = document.querySelector('#calc_result');
        result.textContent = datetxt;
    }
</script>

<h2>memo</h2>

<ul>
    <li>既存チェック</li>
    <ul>
        <li>投稿頻度高いやつ(優先度が低いやつはチェック間隔を空ける)</li>
        <ul>
            <li>・1/1w</li>
            <li>・1/2w</li>
            <li>・1/3w</li>
        </ul>
        <li>投稿頻度低いやつ</li>
        <ul>
            <li>・1/1y</li>
            <li>・1/6m</li>
            <li>・1/3m</li>
        </ul>
    </ul>
    <li>新規開拓</li>
</ul>

・最近更新していない場合はチェック頻度を下げる（チェック感覚を開ける）
・最新追っかけ中
・pxv更新なしのtwtチェック
・最近登録したが投稿日が昔→