<style>
.btn_s {
    padding-left: 1em;
    padding-right: 1em;
    height: 2em;
    width: 50px;
}

.btn_s_plus {
    background: lime;
}

.btn_s_minus {
    background: aqua;
}
</style>

<%= form_with(model: twitter) do |form| %>
  <% pxv = Artist.find_by_twtid_ignore_case(@twitter.twtid) %>
  <% if twitter.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(twitter.errors.count, "error") %> prohibited this twitter from being saved:</h2>

      <ul>
        <% twitter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= link_to %!表示リフレッシュ!, twitter_path(@twitter, refresh: "y") if @twitter.twtid %>

  <% if pxv.presence %>
    PXV最終投稿日:<%= pxv.get_datetime_string(pxv.last_ul_datetime) %>
  <% end %>

  <% unaccessible_tw_cnt = @twitter.unaccessible_tweet_count %>
  <% if unaccessible_tw_cnt > 0 %>
    <h3>アクセス不可URLあり(<%= unaccessible_tw_cnt %>件)</h3>
  <% end %>

  <% if @twitter.twtid %>
    <h3>TWTを開く→<%= link_to_ex(%!@#{@twitter.twtid}!, Twt::twt_user_media_url(@twitter.twtid)) %></h3>
  <% end %>

  <div>
    <%= form.label :twtid, style: "display: block" %>
    <% if params[:twtid].presence %>
      <% param_twtid = params[:twtid] %>
      @<%= form.text_field :twtid, value: param_twtid %>
      <h3>TWTを開く→<%= link_to_ex %!@#{param_twtid}!, Twt::twt_user_url(param_twtid) %></h3>
    <% else %>
      @<%= form.text_field :twtid %>
    <% end %>
  </div>

  <div>
    <% if twitter.twtname.presence %>
      <% twtname = twitter.twtname %>
    <% elsif params[:twtname].presence %>
      <% twtname = params[:twtname] %>
    <% else %>
      <% twtname = "" %>
    <% end %>

    <%= form.label :twtname, style: "display: block" %>
    <%= form.text_field :twtname, value: twtname %>
  </div>

  <div>
    <%= form.label :評価, style: "display: block" %>
    <%= form.number_field :rating, in: 0..150 %>
    <input type="button" value="+5" onclick="plus_rate('rating', 5);" class="btn_s" />
    <input type="button" value="+1" onclick="plus_rate('rating', 1);" class="btn_s" />
    <input type="button" value="-5" onclick="plus_rate('rating', -5);" class="btn_s" />
    <input type="button" value="-1" onclick="plus_rate('rating', -1);" class="btn_s" />
    <br />
    <input type="button" value="90" onclick="set_rate('rating', 90);" class="btn_s" />
    <input type="button" value="85" onclick="set_rate('rating', 85);" class="btn_s" />
    <input type="button" value="80" onclick="set_rate('rating', 80);" class="btn_s" />
    <input type="button" value="75" onclick="set_rate('rating', 75);" class="btn_s" />
  </div>

  <div>
    <%= form.label "更新頻度(100日間での投稿数)", style: "display: block" %>
    <%= form.number_field :update_frequency %>
    <input type="button" value="*2" onclick="multiple_val('update_frequency', 2);" class="btn_s btn_s_plus" />
    <input type="button" value="/2" onclick="div_val('update_frequency', 2);" class="btn_s btn_s_minus" />
    <input type="button" value="+100" onclick="plus_rate('update_frequency', 100);" class="btn_s btn_s_plus" />
    <input type="button" value="+10" onclick="plus_rate('update_frequency', 10);" class="btn_s btn_s_plus" />
    <input type="button" value="-100" onclick="plus_rate('update_frequency', -100);" class="btn_s btn_s_minus" />
    <input type="button" value="-10" onclick="plus_rate('update_frequency', -10);" class="btn_s btn_s_minus" />
  </div>

  <div>
    <% if twitter.status.presence %>
      <% status_value = twitter.status %>
    <% elsif params[:status].presence %>
      <% status_value = params[:status] %>
    <% else %>
      <% status_value = "" %>
    <% end %>
    <% puts %!#{status_value}/#{params[:status]}/#{twitter.status}!% %>

    <%= form.label :状態, style: "display: block" %>
    <%= form.select :status,
      [
        ["TWT巡回", "TWT巡回"],
        ["TWT巡回不要", "TWT巡回不要"],
        ["長期更新なし★", "長期更新なし"], 
        ["TWT巡回不要(PXVチェック)", "TWT巡回不要(PXVチェック)"],
        ["最近更新してない？☆", "最近更新してない？"], 
        ["アカウント削除", "削除"],
        ["存在しない", "存在しない"],
        ["凍結", "凍結"],
        ["非公開アカウント", "非公開アカウント"],
        [Twitter::TWT_STATUS::STATUS_WAITING, Twitter::TWT_STATUS::STATUS_WAITING],
        ["別アカウントに移行（存在はするが更新していない？）", "別アカウントに移行"],
        ["アカウントID(スクリーンネーム)変更", "アカウントID変更"],
      ],
      { selected: status_value },
      include_blank: "選択して下さい" %>
    
    <br />
    <input type="button" value="TWT巡回に変更" onclick="set_noupdate(0);" />
    <input type="button" value="最近更新してない？" onclick="set_noupdate(4);" />
    <input type="button" value="長期更新なしに変更" onclick="set_noupdate(2);" />
    <script>
      function set_noupdate(idx) {
        let status_sel_box = document.getElementById("twitter_status");
        let options = status_sel_box.options;
        options[idx].selected = true;
      }
    </script>
  </div>

  <div>
    <%= form.label :描画方法, style: "display: block" %>
    <%= form.select :drawing_method,
      [
        ["手描き", "手描き"],
        ["AI", "AI"],
        ["3D", "3D"],
        ["パクリ（転載）", "パクリ"],
      ],
      include_blank: "選択して下さい" %>
    <input type="button" value="AI" onclick="set_draw_method(2);" />
    <input type="button" value="手描き" onclick="set_draw_method(1);" />
    <script>
      function set_draw_method(idx) {
        let status_sel_box = document.getElementById("twitter_drawing_method");
        let options = status_sel_box.options;
        options[idx].selected = true;
      }
    </script>
  </div>

  <div>
    <%= form.label :r18, style: "display: block" %>

    <%= form.radio_button :r18, :R18 %>
    <%= form.label :r18_r18, Twitter::RESTRICT::R18 %>
    <br />

    <%= form.radio_button :r18, :R15 %>
    <%= form.label :r18_r15, Twitter::RESTRICT::R15 %>
    <br />

    <%= form.radio_button :r18, :R12 %>
    <%= form.label :r18_r12, Twitter::RESTRICT::R12 %>
    <br />

    <%= form.radio_button :r18, :全年齢 %>
    <%= form.label :r18_全年齢, Twitter::RESTRICT::NOTHING %>
    <br />
  </div>

  <hr />
  
  <div>
    <%= form.submit("更新", class: 'subtmi-btn') %>
    <input type="button" value="DL日時を現在時刻に設定" onclick="set_time('twitter_last_dl_datetime');" />
  </div>

  <div>
    <%= form.label :pxvid, style: "display: block" %>
    <%= image_tag 'favicon20250122.ico', size: '30x30' %>
    <% if @twitter.pxvid.presence %>
      <%= link_to_ex "#{@twitter.pxvid}", Pxv::pxv_user_url(@twitter.pxvid) %>
      <br />
      <%= form.number_field :pxvid %>
    <% else %>
      <% if params[:pxvid].presence %>
        <%= form.number_field :pxvid, value: params[:pxvid] %>
      <% elsif pxv.presence %>
        <%= form.number_field :pxvid, value: pxv.pxvid %>
        <font color='red'>new</font>
        <%= pxv.pxvname %>
        [<%= link_to_ex(%!■pxv■!, pxv) %>]
      <% else %>
        <%= form.number_field :pxvid %>
      <% end %>

      ←
      <input type="button" value="取り出し" onclick="get_pxv_user_id();" />
      <input type=”text” id="pxv_user_id_work" value="" />
    <% end %>

    <% if pxv.presence and twitter.pxvid == "" %>
      <%= %!pxvid="#{pxv.pxvid}"! %>
      【<%= pxv.rating %>】
      [A:<%= pxv.last_access_datetime_disp %>
      [<%= twitter_status_tag(pxv) %>|<%= pxv.feature %>|<%= pxv.pxvname %>|<%= pxv.r18 %>]
      [<%= link_to_ex("■pxv■", artist_path(pxv.id, access_dt_update: "yes")) %>]
      予測：<%= pxv.prediction_up_cnt(true) %>
      <br />
      <%= pic_path_tag(twitter.pxvid, 5, '10%', true) %>
      <br />
    <% else %>
      <% pxv2 = Artist.find_by(pxvid: @twitter.pxvid) %>
      <% if pxv2.presence %>
        <br />
        【<%= pxv2.rating %>】<%= pxv2.r18 %>|<%= pxv2.filenum %>
        <br />
        <%= pxv2.pxvname %>(@<%= pxv2.twtid %>)
        [<%= twitter_status_tag(pxv2) %>|<%= pxv2.feature %>]
        <br />
        予測：<%= pxv2.prediction_up_cnt(true) %>
        [<%= link_to_ex("■pxv■", artist_path(pxv2.id, access_dt_update: "yes")) %>]
        A:<%= pxv2.last_access_datetime_disp %>(最新UL:<%= pxv2.last_ul_datetime_disp %>)
        <br />
        <% if pxv2.filenum < 500 %>
          <%= pic_path_tag(@twitter.pxvid, 5, '10%', true) %>
          <br />
        <% end %>
      <% else %>
        <% if @twitter.pxvid.presence %>
          <% dirlist = Pxv::stock_dir_list %>
          <% user_name = Pxv::user_name(dirlist, twitter.pxvid) %>
          <br />
          <% if user_name.presence %>
            "<%= user_name %>"(DB未登録。フォルダはあり。)
            <%= link_to_ex %!☆pxv☆:@#{user_name}!, artist_pxv_path(twitter.pxvid) %>
            <% dir_exist = true %>
          <% else %>
            ※フォルダなし？
          <% end %>
        <% end %>

        <% unless dir_exist %>
          <% pxv3 = Artist.looks("pxvname", twtname, "partial_match") %>
          <% if pxv3.presence and @twitter.twtname.presence and @twitter.twtname.size > 2 %>
            <% ruiji = true %>
          <% elsif @twitter.twtname.presence %>
            <% go_google = true %>
          <% end %>
        <% end %>

        <% if ruiji %>
          <br />
          類似名あり：<br />
          <% pxv3.each do |pxv_n| %>
            <%= pxv_n.feature %>【<%= pxv_n.pxvname %>(<%= pxv_n.pxvid %>)|<%= pxv_n.rating %>|<%= pxv_n.last_access_datetime_disp %>】
            <% if pxv_n.twtid == @twitter.twtid %>
              TWT ID一致
            <% else %>
              TWT ID不一致: ["<%= @twitter.twtid %>"(twt) != 
            <% end %>
            @"<%= pxv_n.twtid %>"(pxv)]
            <%= link_to_ex("■pxv■", artist_path(pxv_n.id, access_dt_update: "yes")) %>
            <br />
          <% end %>
        <% end %>

        <% if go_google %>
          <br />
          google検索→
          <% url = Util::google_search_url(@twitter.twtname) %>
          「<%= link_to_ex(@twitter.twtname, url) %>」
          <br />
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= form.label :コメント, style: "display: block" %>
    <%= form.text_field :comment %>
  </div>

  <div>
    <%= form.label :備考, style: "display: block" %>
    <%= form.text_field :remarks %>
  </div>

  <hr />

  <div>
    <%= form.label :主ID, style: "display: block" %>
    @<%= form.text_field :main_twtid %>
    <%= link_to_ex "@#{@twitter.main_twtid}", Twt::twt_user_url(@twitter.main_twtid) if @twitter.main_twtid.presence %>
    <% main_twtid = Twitter.find_by_twtid_ignore_case(@twitter.main_twtid) %>
    <% if main_twtid.presence %>
      <%= twitter_info_tag(main_twtid) %>
    <% elsif @twitter.main_twtid.presence %>
      [<%= link_to_ex %!☆twt☆:@#{@twitter.main_twtid}!, artist_twt_path(@twitter.main_twtid) %>]
    <% end %>
  </div>

  <div>
    <%= form.label :副ID, style: "display: block" %>
    @<%= form.text_field :sub_twtid %>
    <%= link_to_ex "@#{@twitter.sub_twtid}", Twt::twt_user_url(@twitter.sub_twtid) if @twitter.sub_twtid.presence %>
    <% sub_twt = Twitter.find_by_twtid_ignore_case(@twitter.sub_twtid) %>
    <% if sub_twt.presence %>
      <%= twitter_info_tag(sub_twt) %>
    <% end %>
  </div>

  <div>
    <%= form.label :別ID, style: "display: block" %>
    @<%= form.text_field :alt_twtid %>
    <%=  %>
    <%= link_to_ex "@#{@twitter.alt_twtid}", Twt::twt_user_url(@twitter.alt_twtid) if @twitter.alt_twtid.presence %>
    <% alt_twt = Twitter.find_by_twtid_ignore_case(@twitter.alt_twtid) %>
    <% if alt_twt.presence %>
      <%= twitter_info_tag(alt_twt) %>
    <% end %>
  </div>

  <div>
    <%= form.label "新ID(screen name)", style: "display: block" %>
    @<%= form.text_field :new_twtid %>
    <%= link_to_ex "@#{@twitter.new_twtid}", Twt::twt_user_url(@twitter.new_twtid) if @twitter.new_twtid.presence %>
    <% new_twt = Twitter.find_by_twtid_ignore_case(@twitter.new_twtid) %>
    <% if new_twt.presence %>
      <%= twitter_info_tag(new_twt) %>
    <% end %>
  </div>

  <div>
    <%= form.label "旧ID(screen name)", style: "display: block" %>
    @<%= form.text_field :old_twtid %>
    <%= link_to_ex "@#{@twitter.old_twtid}", Twt::twt_user_url(@twitter.old_twtid) if @twitter.old_twtid.presence %>
    <% old_twt = Twitter.find_by_twtid_ignore_case(@twitter.old_twtid) %>
    <% if old_twt.presence %>
      <%= twitter_info_tag(old_twt) %>
    <% end %>
  </div>

  <hr />

  <div>
    <%= form.label :公開範囲, style: "display: block" %>
    <%= TwittersHelper::PRIVATE_ICON %><%= form.select :private_account,
      tw_visibility_list,
      include_blank: "選択して下さい" %>
  </div>

  <div>
    <%= form.label :警告, style: "display: block" %>
    <%= form.select :warning,
      [
        ["パクリ", "パクリ"],
        ["重複投稿", "重複投稿"],
      ],
      include_blank: "選択して下さい" %>
  </div>

  <hr />

  <% if @twt_pic_path_list %>
    <% twt_pic_list = @twt_pic_path_list.map {|x| [Twt::twt_path_str(x), x]}.sort.reverse %>
    <% if twt_pic_list and twt_pic_list[0] != nil %>
      <% latest_tweet_id, _ = Twt::get_tweet_info_from_filepath(twt_pic_list[0][1]) %>
      <% oldest_tweet_id, _ = Twt::get_tweet_info_from_filepath(twt_pic_list[-1][1]) %>
      <% ul_date = Twt::get_time_from_path(twt_pic_list[0][1]).round #in_time_zone("Asia/Tokyo") %>
    <% end %>
  <% else %>
    <% ul_date = nil %>
  <% end %>

  <div>
    <% tweet_id = twitter.latest_tweet_id %>
    <% if latest_tweet_id %>
      <% if tweet_id == nil %>
        <% tweet_id = latest_tweet_id %>
      <% elsif latest_tweet_id > tweet_id %>
        <% tweet_id = latest_tweet_id %>
      <% end %>        
    <% end %>
    <% puts %!#{twitter.latest_tweet_id}/#{latest_tweet_id}/#{tweet_id}! %>

    <%= form.label :最新tweetId, style: "display: block" %>

    <% if tweet_id != twitter.latest_tweet_id %>
      現在の値:"<%= twitter.latest_tweet_id %>"↓<font color='red'>更新あり</font><br />
    <% end %>

    <%= form.number_field :latest_tweet_id, value: tweet_id %>
  </div>

  <div>
    <% tweet_id = twitter.oldest_tweet_id %>
    <% if oldest_tweet_id %>
      <% if tweet_id == nil %>
        <% tweet_id = oldest_tweet_id %>
      <% elsif oldest_tweet_id < tweet_id %>
        <% tweet_id = oldest_tweet_id %>
      <% end %>        
    <% end %>

    <%= form.label :最古tweetId, style: "display: block" %>

    <% if tweet_id != twitter.oldest_tweet_id %>
      現在の値:"<%= twitter.oldest_tweet_id %>"↓<font color='red'>更新あり</font><br />
    <% end %>

    <%= form.number_field :oldest_tweet_id, value: tweet_id %>
  </div>

  <div>
    <%= form.label :最新投稿日時, style: "display: block" %>
    <% if ul_date and (@twitter.last_post_datetime and ul_date > @twitter.last_post_datetime) %>
      <!-- 
      2025-01-12 21:55:36 +0900       (Time)
      2025-01-12 21:55:36 +0900       ActiveSupport::TimeWithZone
      ↑なんかイコールにならない。なんで？ 

      ↑msが違った。
      2025-01-12 21:55:36.496000051 JST +09:00
      2025-01-12 21:55:36.000000000 JST +09:00

      roundでms丸められるぽい
      -->
      <% #STDERR.puts %!#{ul_date}\t(#{ul_date.class})! %>
      <% #STDERR.puts %!#{@twitter.last_post_datetime}\t(#{@twitter.last_post_datetime.class})! %>
      <% #p ul_date %>
      <% #p @twitter.last_post_datetime %>
      "<%= l @twitter.last_post_datetime %>"↓<font color='red'>更新あり</font>
      <br />
      <%= form.datetime_field :last_post_datetime, value: ul_date.strftime("%Y-%m-%d %H:%M:%S") %>
    <% elsif ul_date and @twitter.last_post_datetime == nil %>
      <font color='red'>new</font>↓
      <br />
      <%= form.datetime_field :last_post_datetime, value: ul_date.strftime("%Y-%m-%d %H:%M:%S") %>
    <% else %>
      <%= form.datetime_field :last_post_datetime %>
    <% end %>
  </div>
  
  <div>
    <%= form.label :総ファイル数, style: "display: block" %>
    <% if @twitter.filenum %>
      <% old_filenum = @twitter.filenum %>
    <% else %>
      <% old_filenum = 0 %>
    <% end %>

    <% if @twt_pic_path_list %>
      <% new_filenum = @twt_pic_path_list.size %>
    <% else %>
      <% new_filenum = 0 %>
    <% end %>

    <% if old_filenum < new_filenum %>
      現在の値:"<%= @twitter.filenum %>"↓<font color='red'>更新あり</font>
      <br />
      <%= form.number_field :filenum, value: @twt_pic_path_list.size %>
    <% else %>
      <%= form.number_field :filenum %>
    <% end %>
  </div>

  <div>
    <%= form.label :平均ファイルサイズ, style: "display: block" %>

    <% avg_filesize = @twitter.filesize %>
    <%= form.number_field :filesize, value: avg_filesize %>
  </div>

  <div>
    <%= form.label :動画数, style: "display: block" %>
    <%= form.number_field :video_cnt %>
  </div>

  <hr />

  <div>
    <%= form.label :zip化日時, style: "display: block" %>
    <%= form.datetime_field :zipped_at %>
  </div>

  <div>
    <%= form.label :変更履歴, style: "display: block" %>
    <%= form.text_area :change_history %>
  </div>

  <hr />

  <div>
    <%= form.label :最新アクセス日時, style: "display: block" %>
    <%= form.datetime_field :last_access_datetime %>
  </div>
<% end %>

<script>
  function set_time(elem_id) {
    let elem = document.getElementById(elem_id);
    let date = new Date(elem.value);

    const now = new Date();
    now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
    now.setSeconds(date.getSeconds());//よくわからないが秒の値を変更前と合わせないとブラウザでエラーになる
    
    let isostr = now.toISOString();
    //2024-01-31T13:54:35.371Z
    //                   54321
    let val = isostr.slice(0, -5);
    //let val = isostr.slice(0, -8);
    elem.value = val;
  }

  function set_rate(elem_id, point) {
    let elem = document.getElementById("twitter_" + elem_id);
    elem.value = point;
  }

  function plus_rate(elem_id, point) {
    let elem = document.getElementById("twitter_" + elem_id);
    let prio_val = parseInt(elem.value);
    elem.value = prio_val + point;
  }

  function multiple_val(elem_id, val) {
    let elem = document.getElementById("twitter_" + elem_id);
    let prio_val = parseInt(elem.value);
    elem.value = prio_val * val;
  }

  function div_val(elem_id, val) {
    let elem = document.getElementById("twitter_" + elem_id);
    let prio_val = parseInt(elem.value);
    elem.value = prio_val / val | 0;//整数にしたい
  }

  function get_pxv_user_id() {
      let text_box = document.getElementById("pxv_user_id_work");
      let text = text_box.value;

      let datetxt = ""
      let regex = /pixiv\.net\/\/users\/(\d+)/;
      if (regex.test(text)) {
          let r = text.match(regex)
          let n = Number(r[1]);
          datetxt = n;
      } else {
          let r = text.match(/(\d+)/)
          let n = Number(r[0]);
          datetxt = n;
      }
      
      const result = document.getElementById('twitter_pxvid');
      result.value = datetxt;
  }
</script>
