<%= form_with(model: twitter) do |form| %>
  <% pxv = Artist.find_by(twtid: @twitter.twtid) %>
  <% if twitter.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(twitter.errors.count, "error") %> prohibited this twitter from being saved:</h2>

      <ul>
        <% twitter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if pxv.presence %>
    PXV最終投稿日:<%= pxv.get_datetime_string(pxv.last_ul_datetime) %>
  <% end %>
  <% if @twitter.twtid %>
    <h3>TWTを開く→<%= link_to %!@#{@twitter.twtid}!, Twt::twt_user_url(@twitter.twtid), target: :_blank, rel: "noopener noreferrer" %></h3>
  <% end %>
  <div>
    <%= form.label :twtid, style: "display: block" %>
    <% if params[:twtid].presence %>
      <% param_twtid = params[:twtid] %>
      @<%= form.text_field :twtid, value: param_twtid %>
      <h3>TWTを開く→<%= link_to %!@#{param_twtid}!, Twt::twt_user_url(param_twtid), target: :_blank, rel: "noopener noreferrer" %></h3>
    <% else %>
      @<%= form.text_field :twtid %>
    <% end %>
    
  </div>

  <div>
    <% if twitter.twtname.presence %>
      <% twtname = twitter.twtname %>
    <% elsif params[:twtname].presence %>
      <% twtname = params[:twtname] %>
    <% else %>
      <% twtname = "" %>
    <% end %>

    <%= form.label :twtname, style: "display: block" %>
    <%= form.text_field :twtname, value: twtname %>
  </div>

  <div>
    <%= form.label :評価, style: "display: block" %>
    <%= form.select :rating,
      [
        ["100", "100"],
        ["95", "95"], 
        ["90", "90"], 
        ["85", "85"], 
        ["80", "80"], 
        ["75", "75"], 
        ["70", "70"], 
        ["65", "65"], 
        ["60", "60"], 
        ["55", "55"], 
        ["50", "50"], 
        ["45", "45"], 
        ["40", "40"], 
        ["35", "35"], 
        ["30", "30"], 
        ["25", "25"], 
        ["20", "20"], 
        ["15", "15"], 
        ["10", "10"], 
      ],
      include_blank: "選択して下さい" %>
  </div>

  <div>
    <%= form.label "更新頻度(100日間での投稿数)", style: "display: block" %>
    <%= form.number_field :update_frequency %>
  </div>

  <div>
    <% if twitter.status.presence %>
      <% status_value = twitter.status %>
    <% elsif params[:status].presence %>
      <% status_value = params[:status] %>
    <% else %>
      <% status_value = "" %>
    <% end %>
    <% puts %!#{status_value}/#{params[:status]}/#{twitter.status}!% %>

    <%= form.label :状態, style: "display: block" %>
    <%= form.select :status,
      [
        ["TWT巡回", "TWT巡回"],
        ["TWT巡回不要", "TWT巡回不要"],
        ["長期更新なし★", "長期更新なし"], 
        ["TWT巡回不要(PXVチェック)", "TWT巡回不要(PXVチェック)"],
        ["最近更新してない？", "最近更新してない？"], 
        ["アカウント削除", "削除"],
        ["存在しない", "存在しない"],
        ["凍結", "凍結"],
        ["非公開アカウント", "非公開アカウント"],
        ["別アカウントに移行（存在はするが更新していない？）", "別アカウントに移行"],
        ["アカウントID変更", "アカウントID変更"],
      ],
      { selected: status_value },
      include_blank: "選択して下さい" %>
    <input type="button" value="TWT巡回に変更" onclick="set_noupdate(0);" />
    <input type="button" value="長期更新なしに変更" onclick="set_noupdate(2);" />
    <script>
      function set_noupdate(idx) {
        let status_sel_box = document.getElementById("twitter_status");
        let options = status_sel_box.options;
        options[idx].selected = true;
      }
    </script>
  </div>

  <div>
    <%= form.label :描画方法, style: "display: block" %>
    <%= form.select :drawing_method,
      [
        ["手描き", "手描き"],
        ["AI", "AI"],
        ["3D", "3D"],
        ["パクリ（転載）", "パクリ"],
      ],
      include_blank: "選択して下さい" %>
    <input type="button" value="AI" onclick="set_draw_method(2);" />
    <input type="button" value="手描き" onclick="set_draw_method(1);" />
    <script>
      function set_draw_method(idx) {
        let status_sel_box = document.getElementById("twitter_drawing_method");
        let options = status_sel_box.options;
        options[idx].selected = true;
      }
    </script>
  </div>

  <div>
    <%= form.label :pxvid, style: "display: block" %>
    <% if @twitter.pxvid.presence %>
      <%= form.number_field :pxvid %>
      <%= link_to "#{@twitter.pxvid}", Pxv::pxv_user_url(@twitter.pxvid), target: :_blank, rel: "noopener noreferrer" %>
    <% else %>
      <% if params[:pxvid].presence %>
        <%= form.number_field :pxvid, value: params[:pxvid] %>
      <% elsif pxv.presence %>
        <%= form.number_field :pxvid, value: pxv.pxvid %>
      <% else %>
        <%= form.number_field :pxvid %>
      <% end %>
    <% end %>

    <% if pxv.presence %>
      <br />
      <% if pxv.pxvid != twitter.pxvid %>
        <%= %!pxvid="#{pxv.pxvid}"! %>
        <br />
      <% end %>
      PXVアクセス:
      【<%= pxv.rating %>】
      [<%= pxv.last_access_datetime_disp %>]
      [<%= pxv.status %>|<%= pxv.feature %>]
      [<%= link_to "show", artist_path(pxv.id), target: :_blank, rel: "noopener noreferrer" %>]
    <% else %>
      <% pxv2 = Artist.find_by(pxvid: @twitter.pxvid) %>
      <% if pxv2.presence %>
        【<%= pxv2.rating %>】
        [<%= pxv2.last_access_datetime_disp %>]
        [<%= pxv2.status %>|<%= pxv2.feature %>]
        [<%= link_to "show", artist_path(pxv2.id), target: :_blank, rel: "noopener noreferrer" %>]
      <% end %>
    <% end %>
  </div>

  <hr />
  
  <div>
    <%= form.label :r18, style: "display: block" %>
    <%#= form.select :r18,
      [
        ["R18", "R18"],
        ["R15", "R15"],
        ["R12", "R12"],
        ["全年齢", "全年齢"],
      ],
      include_blank: "選択して下さい" %>

    <%= form.radio_button :r18, :R18 %>
    <%= form.label :r18_r18, "R18" %>
    <br />

    <%= form.radio_button :r18, :R15 %>
    <%= form.label :r18_r15, "R15" %>
    <br />

    <%= form.radio_button :r18, :R12 %>
    <%= form.label :r18_r12, "R12" %>
    <br />

    <%= form.radio_button :r18, :全年齢 %>
    <%= form.label :r18_全年齢, "全年齢" %>
    <br />
  </div>


  <div>
    <%= form.submit("更新", class: 'subtmi-btn') %>
  </div>

  <hr />

  <div>
    <%= form.label :センシティブ, style: "display: block" %>
    <%= form.select :sensitive,
      [
        ["有り", "有り"],
        ["なさそう？", "なさそう？"],
      ],
      include_blank: "選択して下さい" %>
  </div>

  <hr />

  <div>
    <%= form.label :コメント, style: "display: block" %>
    <%= form.text_field :comment %>
  </div>

  <div>
    <%= form.label :備考, style: "display: block" %>
    <%= form.text_field :remarks %>
  </div>

  <div>
    <%= form.label :別ID, style: "display: block" %>
    @<%= form.text_field :alt_twtid %>
    <%=  %>
    <%= link_to "@#{@twitter.alt_twtid}", Twt::twt_user_url(@twitter.alt_twtid), target: :_blank, rel: "noopener noreferrer" if @twitter.alt_twtid.presence %>
    <% alt_twt = Twitter.find_by(twtid: @twitter.alt_twtid) %>
    <% if alt_twt.presence %>
      <%= alt_twt.twtname %>
      【<%= alt_twt.rating %>|<%= alt_twt.status %>】
      [<%= link_to "show", alt_twt, target: :_blank, rel: "noopener noreferrer" %>]
      |<%= alt_twt.last_access_datetime_disp %>|
    <% end %>
  </div>

  <div>
    <%= form.label :旧ID, style: "display: block" %>
    @<%= form.text_field :old_twtid %>
    <%= link_to "@#{@twitter.old_twtid}", Twt::twt_user_url(@twitter.old_twtid), target: :_blank, rel: "noopener noreferrer" if @twitter.old_twtid.presence %>
    <% old_twt = Twitter.find_by(twtid: @twitter.old_twtid) %>
    <% if old_twt.presence %>
      <%= old_twt.twtname %>
      【<%= old_twt.rating %>|<%= old_twt.status %>】
      [<%= link_to "show", old_twt, target: :_blank, rel: "noopener noreferrer" %>]
      |<%= old_twt.last_access_datetime_disp %>|
    <% end %>
  </div>

  <div>
    <%= form.label :警告, style: "display: block" %>
    <%= form.select :warning,
      [
        ["パクリ", "パクリ"],
      ],
      include_blank: "選択して下さい" %>
  </div>

  <div>
    <%= form.label :総ファイル数, style: "display: block" %>
    <%= form.number_field :filenum %>
  </div>

  <div>
    <%= form.label :最近のファイル数, style: "display: block" %>
    <%= form.number_field :recent_filenum %>
  </div>

  <div>
    <%= form.label :最終DL日時, style: "display: block" %>
    <%= form.datetime_field :last_dl_datetime %>
    <input type="button" value="現在時刻に設定" onclick="set_time('twitter_last_dl_datetime');" />
  </div>

  <div>
    <%= form.label :earliest_dl_datetime, style: "display: block" %>
    <%= form.datetime_field :earliest_dl_datetime %>
  </div>
  
  <script>
    function set_time(elem_id) {
      let elem = document.getElementById(elem_id);
      const now = new Date();
      now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
      let isostr = now.toISOString();
      //2024-01-31T13:54:35.371Z
      //                   54321
      //let val = isostr.slice(0, -5);
      let val = isostr.slice(0, -8);
      elem.value = val;
    }
  </script>

  <div>
    <%= form.label :最新アクセス日時, style: "display: block" %>
    <%= form.datetime_field :last_access_datetime %>
  </div>

  <div>
    <%= form.label :最新投稿日時, style: "display: block" %>
    <%= form.datetime_field :last_post_datetime %>
  </div>

<% end %>
