
<div id="<%= dom_id twitter %>">

    <% twt_pic_list = TwtImageList.new(@twt_pic_path_list) %>
    <% date_group = TwtImageList::group_by_date(twt_pic_list.list) %>

    <% class_str = "fixed-height-img" %>
    <h2>ファイル数(<%= twt_pic_list.list.size %>)</h2>

    <% key_dates = Util::group_consecutive_dates(date_group.keys) %>

    <!-- ### ### -->
    <% date = key_dates.last.last %>
    <% elem = date_group[date].last %>
    <% since_date = elem.datetime %>
    <h3>最新(<%= elem.tweet_id %>)[<%= smart_date since_date %>]</h3>
    <b><%= Twt::twt_img_search_str(twitter.twtid, since_date, nil) %></b>
    <br />
    <% elem_list = date_group[date].select {|x| x.tweet_id == elem.tweet_id} %>
    <% elem_list.each do |e| %>
        <%= link_to_ex(image_tag(e.file_path, class: class_str, :alt => e.file_path), e.file_path) %>
    <% end %>
    <br />
    <%= %!#{elem.tweet_id}##{elem.pic_no}"#{elem.file_path}"! %><br />

    <!-- ### ### -->
    <% date = key_dates.first.first %>
    <% elem = date_group[date].first %>
    <% until_date = elem.datetime %>
    <h3>最古(<%= elem.tweet_id %>)[<%= smart_date until_date %>]</h3>
    <b><%= Twt::twt_img_search_str(twitter.twtid, nil, until_date) %></b>
    <br />
    <%= link_to_ex(image_tag(elem.file_path, class: class_str, :alt => elem.file_path), elem.file_path) %>
    <br />
    <%= %!#{elem.tweet_id}##{elem.pic_no}"#{elem.file_path}"! %><br />

    <!-- ### ### -->
    <h3>途中</h3>
    <% if key_dates.size > 1 %>
        <% (key_dates.size - 1).times.reverse_each do |i| %>
            <% elem = date_group[key_dates[i].last].last %>
            <% since_date = Twt::get_timestamp(elem.tweet_id) %>

            <% elem2 = date_group[key_dates[i + 1].first].first %>
            <% until_date = Twt::get_timestamp(elem2.tweet_id) %>

            <h4>
                <%= (until_date.to_date - since_date.to_date).to_i %>日
                (<%= smart_date Twt::get_timestamp(elem2.tweet_id) %>
                ←<%= smart_date Twt::get_timestamp(elem.tweet_id) %>)
            </h4>
            <b><%= Twt::twt_img_search_str(twitter.twtid, since_date, until_date) %></b>
            <br />

            新<%= link_to_ex(image_tag(elem2.file_path, class: class_str, :alt => elem2.file_path), elem2.file_path) %>
            ←<%= link_to_ex(image_tag(elem.file_path, class: class_str, :alt => elem.file_path), elem.file_path) %>旧
            <br />

            <%= %!#{elem2.tweet_id}##{elem2.pic_no}"#{elem2.file_path}"! %><br />
            <%= %!#{elem.tweet_id}##{elem.pic_no}"#{elem.file_path}"! %><br />
            <br />
            
        <% end %>
    <% end %>

    
    <h2><%= twt_pic_list.list.size %></h2>
    <% {}.each.with_index(1) do |(k, v), idx| %>
        <h3><%= k %>(<%= v.size %>)</h3>
        <% v.each do |elem| %>
            <%= %!#{elem.tweet_id}##{elem.pic_no}"#{elem.file_path}"! %><br />
        <% end %>
    <% end %>
    <% date_group = {} %>
    <% date_group.each do |k, v| %>
        <%= %!#{k}:#{v.size}! %><br />
    <% end %>
    
</div>