
<div id="<%= dom_id twitter %>">
    <% twt_pic_list = TwtImageList.new(@twt_pic_path_list, true) %>
    <% date_group = TwtImageList::group_by(twt_pic_list.list) %>
    <% key_dates = Util::group_consecutive_dates(date_group.keys) %>

    <h2>ファイル数(<%= twt_pic_list.list.size %>)</h2>

    <!-- ### ### -->
    <% date = key_dates.last.last %>
    <% elem = date_group[date].last %>
    <% since_date = elem.datetime %>
    <h3>最新(<%= elem.tweet_id %>)[<%= smart_date since_date %>]</h3>
    <b><%= Twt::twt_img_search_str(twitter.twtid, since_date, Time.current) %></b>
    <br />
    <% elem_list = date_group[date].select {|x| x.tweet_id == elem.tweet_id} %>
    <% elem_list.each do |e| %>
        <%= image_link(e.file_path, get_image_class(e.first_pic?)) %>
    <% end %>
    <br />
    <%= tweet_info_str(elem) %><br />

    <!-- ### ### -->
    <% date = key_dates.first.first %>
    <% elem = date_group[date].first %>
    <% until_date = elem.datetime %>
    <h3>最古(<%= elem.tweet_id %>)[<%= smart_date until_date %>]</h3>
    <b><%= Twt::twt_img_search_str(twitter.twtid, nil, until_date) %></b>
    <br />
    <% elem_list = date_group[date].select {|x| x.tweet_id == elem.tweet_id} %>
    <% elem_list.each do |e| %>
        <%= image_link(e.file_path, get_image_class(e.first_pic?)) %>
    <% end %>
    <br />
    <%= tweet_info_str(elem) %><br />

    <% delta_threshold = 1 %>
    <!-- ### ### -->
    <h3>途中</h3>
    <% if key_dates.size > 1 %>
        <% (key_dates.size - 1).times.reverse_each do |i| %>

            <% since = key_dates[i].last %>
            <% elem_s = date_group[since].first %>
            <% since_date = Twt::get_timestamp(elem_s.tweet_id) %>

            <% until_d = key_dates[i + 1].first %>
            <% elem_u = date_group[until_d].last %>
            <% until_date = Twt::get_timestamp(elem_u.tweet_id) %>

            <% delta = (until_date.to_date - since_date.to_date).to_i %>
            <% if delta < delta_threshold %>
                <% next %>
            <% end %>

            <h4>
                <%= delta %>日
            </h4>

            <b><%= Twt::twt_img_search_str(twitter.twtid, since_date, until_date) %></b>
            <br />
            
            (<%= smart_date until_date %>
            ←<%= smart_date since_date %>)
            <br />

            新(<%= smart_date until_date %>)
            <% elem_list = date_group[until_d].select {|x| x.tweet_id == elem_u.tweet_id} %>
            <% elem_list.each do |e| %>
                <%= image_link(e.file_path, get_image_class(e.first_pic?)) %>
            <% end %>
            ←旧(<%= smart_date since_date %>)
            <% elem_list = date_group[since].select {|x| x.tweet_id == elem_s.tweet_id} %>
            <% elem_list.each do |e| %>
                <%= image_link(e.file_path, get_image_class(e.first_pic?)) %>
            <% end %>

            <br />

            <%= tweet_info_str(elem_u) %><br />
            <%= tweet_info_str(elem_s) %><br />
        <% end %>
    <% end %>

    <h2>date_group(<%= twt_pic_list.list.size %>)</h2>
    <h3>date</h3>
    <!-- 日付ごとの件数 -->
    <% date_group.to_a.to_h.each do |k, v| %>
        <% key_dates.each do |e| %>
            <% if k == e.last.to_date %>
                <b><%= k + 1 %>～ファイルなし</b>
                <br />
                <% elem_u = date_group[k].last %>
                <%= %!#{elem_u.tweet_id}##{elem_u.pic_no}"#{elem_u.file_path}"! %>
                <br />
                <% break %>
            <% end %>
        <% end %>

        <%= %!#{k}:#{v.size}! %>枚
        <% post_n = v.map {|x| x.tweet_id}.sort.uniq.size %>
        <%= %!(#{post_n}post)! if post_n != v.size %>
        <br />
    <% end %>

    <h3>m</h3>
    <% month_group = TwtImageList::group_by(twt_pic_list.list, :beginning_of_month) %>
    <% month_group.to_a.reverse.to_h.each do |k, v| %>
        <%= %!#{k.to_date}:#{v.size}! %>枚
        <br />
    <% end %>

    <h2>key_dates(<%= key_dates.size %>)</h2>
    <% key_dates.reverse.each do |e| %>
        <%= e.first.to_date %> ～ <%= e.last.to_date %><br />
    <% end %>
</div>