<div id="<%= dom_id twitter %>">
  <p>
    <strong>Twtid:</strong>
    @<%= twitter.twtid %>
  </p>

  <p>
    <strong>Twtname:</strong>
    <%= twitter.twtname %>
  </p>

  <p>
    <strong>Filenum:</strong>
    <%= twitter.filenum %>
  </p>

  <p>
    <strong>Recent filenum:</strong>
    <%= twitter.recent_filenum %>
  </p>

  <p>
    <strong>Last dl datetime:</strong>
    <%= twitter.last_dl_datetime %>
  </p>

  <p>
    <strong>Earliest dl datetime:</strong>
    <%= twitter.earliest_dl_datetime %>
  </p>

  <p>
    <strong>Last access datetime:</strong>
    <%= twitter.last_access_datetime %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= twitter.comment %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= twitter.remarks %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= twitter.status %>
  </p>

  <p>
    <strong>Pxvid:</strong>
    <%= twitter.pxvid %>
  </p>

</div>
