<div id="<%= dom_id twitter %>">

  <p>
    <strong>状態:</strong>
    <%= twitter.status %>
    <strong> 評価:</strong>
    <%= twitter.rating %>
    <strong> 描画方法:</strong>
    <%= twitter.drawing_method %>
    <strong>コメント:</strong>
    <%= twitter.comment %>
    <strong>備考:</strong>
    <%= twitter.remarks %>
    <strong>Pxvid:</strong>
    <%= twitter.pxvid %>
    <strong>ファイル数:</strong>
    <%= twitter.filenum %>
    <strong>直近ファイル数:</strong>
    <%= twitter.recent_filenum %>
  </p>

</div>
