<div id="<%= dom_id twitter %>">

  <p>
    <strong>状態:</strong>
    <%= twitter.status %>
    <strong> 描画方法:</strong>
    <%= twitter.drawing_method %>
    <strong>コメント:</strong>
    <%= twitter.comment %>
    <strong>備考:</strong>
    <%= twitter.remarks %>
    <strong>Pxvid:</strong>
    <%= twitter.pxvid %>
    <strong>alt:</strong>
    <%= twitter.alt_twtid %>
    <strong>old:</strong>
    <%= twitter.old_twtid %>
  </p>

</div>
