<div id="<%= dom_id twitter %>">
    <p>
        <%= twitter.drawing_method %>

        <strong>全画像数：</strong>
        <%= twitter.filenum %>

        <%= %!「#{twitter.comment}」! if twitter.comment.presence %>
        <%= %!|「#{twitter.remarks}」! if twitter.remarks.presence %>
        <%= %!|「#{twitter.warning}」! if twitter.warning.presence %>

        【
        <% if twitter.pxvid.presence %>
            <strong>Pxvid:</strong>
            <%= twitter.pxvid %>
        <% end %>

        <% if twitter.main_twtid.presence %>
            <strong>主:</strong>
            @<%= twitter.main_twtid %>
        <% end %>

        <% if twitter.sub_twtid.presence %>
            <strong>副:</strong>
            @<%= twitter.sub_twtid %>
        <% end %>

        <% if twitter.alt_twtid.presence %>
            <strong>別:</strong>
            @<%= twitter.alt_twtid %>
        <% end %>

        <% if twitter.new_twtid.presence %>
            <strong>新:</strong>
            @<%= twitter.new_twtid %>
        <% end %>

        <% if twitter.old_twtid.presence %>
            <strong>旧:</strong>
            @<%= twitter.old_twtid %>
        <% end %>
        】

        <strong>登録日:</strong>
        <%= twitter.datetime_disp(twitter.created_at) %>

        <strong>アクセス日:</strong>
        <%= twitter.datetime_disp(twitter.last_access_datetime) %>
    </p>
</div>
