<div id="<%= dom_id twitter %>">

  <p>
    
    <%= twitter.comment %>
    |<%= twitter.remarks %>
    <strong>Pxvid:</strong>
    <%= twitter.pxvid %>
    <strong>alt:</strong>
    <%= twitter.alt_twtid %>
    <strong>sub:</strong>
    <%= twitter.sub_twtid %>
    <strong>main:</strong>
    <%= twitter.main_twtid %>
    <strong>old:</strong>
    <%= twitter.old_twtid %>
    <strong>old:</strong>
    <%= twitter.old_twtid %>
    |<%= twitter.filenum %>
  </p>

</div>
