<style type="text/css">
textarea {
	width: 900px;
	height: 80px;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.button_a {
    background-color: #ff7b00;
}

.button:hover {
  background-color: #0056b3;
}
</style>

<div id="<%= dom_id twitter %>">
    <!-- PXV画像 
    <%
=begin %>
    ※HTMLのコメントにするだけだとERB実行されるっぽい※
    <% if twitter.pxvid.presence %>
        PXV:<br />
        <%= pic_path_tag(twitter.pxvid, 5, '10%', true) %>
        <br />
        TWT:<br />
    <% end %>
    <%
=end %>
    -->

    <% show_pic_num = 5 %>
    <% if params[:picn] == "" %>
    <% elsif params[:picn] == "all" %>
        <% show_pic_num = @twt_pic_path_list.size %>
    <% elsif params[:picn] =~ /(\d+)/ %>
        <% show_pic_num = $1.to_i %>
    <% else %>
    <% end %>

    <% if params[:pic_lf] =~ /(\d+)/ %>
        <% pic_lf = $1.to_i %>
    <% else %>
        <% pic_lf = 0 %>
    <% end %>

    <% if params[:corr] =~ /(\d+)/ %>
        <% corr = $1.to_i %>
    <% else %>
        <% corr = 0 %>
    <% end %>

    <% twt_pic_list = @twt_pic_path_list.map {|x| [Twt::twt_path_str(x), x, Twt::get_tweet_info_from_filepath(x)]}.sort.reverse %>
    <% twt_acnt = twitter %>

    <!-- ファイル名リスト -->
    <textarea id="pic_list" name="pic_list" rows="455" cols="400">
        <% twt_pic_list.first(show_pic_num).each.with_index(1) do |elem, idx| %>
<%= idx %>:<%= elem[0] %>
        <% end %>
    </textarea>
    <br />

    <% search_tweet_id = params[:search_id]%>
    <% if search_tweet_id.presence %>
        <h3>検索ID:"<%= search_tweet_id %>"</h3>
        <br />

        <% s_tweet_id = Twt::get_tweet_id_from_url(search_tweet_id) %>
        <% paths = Twt::search_tweet(@twt_pic_path_list, s_tweet_id) %>
        <% if paths %>
            <%= paths.size %>件ヒット<br />
            <% d_ratio = '10%' %>

            <% paths.each.with_index(1) do |path, idx| %>
                <%= idx %>.
                <%= link_to_ex(image_tag(path, width: d_ratio, height: d_ratio, :alt => path), path) %>
            <% end %>
        <% else %>
            見つかりませんでした。
        <% end %>
        <hr />
    <% end %>

    <% fsize_sum = 0 %>
    <!-- サムネイル -->
    <% if true #@twt_ids == nil %>
        <% twt_pic_list.first(show_pic_num).each.with_index(1) do |elem, idx| %>
            <%= idx %>
            <% path = elem[1] %>
            <% if elem[2][1] != 0 %>
                (<%= "複" %>)
                <% d_ratio = '5%' %>
            <% else %>
                <% d_ratio = '10%' %>
            <% end %>
            .

            <% phys_path = Util::get_public_path(elem[1]) %>
            <% filesize = FileTest.size(phys_path) %>
            <% fsize_sum += filesize %>

            <%= link_to_ex(image_tag(path, width: d_ratio, height: d_ratio, :alt => path), path) %>
            <% if corr != 0 and corr == idx %>
                <br />
            <% end %>
            <% if pic_lf != 0 and idx % pic_lf == 0 %>
                <br />
                <% i = idx - 3 %>
                <% 3.times do |x| %>
                    <%= i + 1 %>.
                    <%= twt_pic_list[i][0] %>
                    <% tweetid = twt_pic_list[i][2][0] %>
                    (<%= link_to_ex(tweetid, Twt::twt_tweet_url_dev(tweetid)) %>)
                    <br />
                    <% i += 1 %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
    
    <% if twt_pic_list.size > show_pic_num %>
        <%= link_to "...全て表示", twitter_path(picn: 'all', pic_lf: '3', corr: '0', refresh: "y") %>
    <% end %>
    <%= link_to("重複チェック", twitter_path(dup_chk: 't', refresh: "y"), class: 'button button_a') %>
    <% if twitter.filenum != twt_pic_list.size %>
        (読み込み:<%= twt_pic_list.size %>)
    <% end %>
    <br />
    <%#= link_to("url txtチェック", twitter_path(file_check: 't', picn: 'all', pic_lf: '', corr: '0'), class: 'button') %>
    <%= link_to("url txtチェック", twitter_path(file_check: 't', pic_lf: '', corr: '0'), class: 'button') %>

    <% if twitter.filenum and twitter.filenum > twt_pic_list.size %>
        <h3>すべての画像が表示されていない可能性があります(<%= twt_pic_list.size %>/<%= twitter.filenum %>)</h3>
        <% if twt_pic_list.size == 0 %>
            <% if twitter.latest_tweet_id %>
                最新tweet id:
                <b><%= Twt::tweet_id_with_comma(twitter.latest_tweet_id) %></b>
                (公開日時：<%= Twt::date_info(twitter.latest_tweet_id) %>)
                <br />
            <% elsif twitter.last_post_datetime %>
                おおよそのtweet id:
                <% tweet_id = Twt::time2tweet_id(twitter.last_post_datetime) %>
                <b>
                    <%= Twt::tweet_id_with_comma(tweet_id) %>
                </b>
                (最新DLファイル投稿日:
                <b>
                    <%= l twitter.last_post_datetime %>
                </b>)
                (<%= Util.get_date_info(twitter.last_post_datetime) %>)
                <br />
            <% else %>
                ????
            <% end %>
        <% end %>
    <% else %>
        <br />
    <% end %>

    <% pl = twt_pic_list.map {|x| x[1]} %>
    <% freq_90d = Twt::calc_freq(pl, 90) %>
    <% freq_30d = Twt::calc_freq(pl, 30) %>
    <% freq_15d = Twt::calc_freq(pl, 15) %>
    <% ary = [freq_90d, freq_30d, freq_15d] %>
    <% avg = ary.sum / ary.size %>
    【更新頻度<%= Twt::CALC_FREQ_UNIT %>日あたり(90/30/14)】
    <% if avg > 0 and (twt_acnt != nil and twt_acnt.update_frequency != nil) %>
        <% current_val_freq = twt_acnt.update_frequency %>
        設定値：<%= %!#{current_val_freq}! %>
        <% tval = [current_val_freq / 10, 100].max %>
        <% if (avg - current_val_freq).abs >= tval %>
            [※現在の設定値との差が大きい]
        <% end %>
        →
    <% elsif twt_acnt.update_frequency %>
        設定値：<%= %!#{twt_acnt.update_frequency}! %>
    <% else %>
        ※値が設定されていません※
    <% end %>
    <% if twt_pic_list.size > 0 %>
        計算結果"<%= avg %>"
        (<%= freq_90d %>/<%= freq_30d %>/<%= freq_15d %>)
        <% if show_pic_num > 0 %>
            ファイルサイズ平均：<%= (fsize_sum / show_pic_num) / 1024 %> KB
            合計：<%= (fsize_sum) / 1024 / 1024 %> MB
        <% end %>
        (<%= show_pic_num %> files)
        <% tweet_id_list = twt_pic_list.map {|x| x[2]} %>
        1投稿あたりの平均画像数:<%= Twt::image_num_a_post(tweet_id_list) %>
    <% end %>
    <br />

    <hr />

    <!-- tweet id -->
    <% twt_pic_list.first(1).each do |elem| %>
        <% tweet_id = elem[2][0] %>
        <b>
        <%#= tweet_id.to_s.reverse.gsub(/\d{3}/, '\0,').reverse %>
        <%= Twt::tweet_id_with_comma(tweet_id) %>
        </b>
        (公開日時：<%= Twt::date_info(tweet_id) %>)
        <% dt = Twt::get_time_from_path(twt_pic_list[0][1]) %>
        【以降の投稿数予測】<%= twitter.prediction(dt) %>
        <% #if @twitter.status == Twitter::TWT_STATUS::STATUS_NOT_EXIST %>
            (id変わったとき用→)
            <%= link_to_ex tweet_id, Twt::twt_tweet_url_dev(tweet_id) %>
        <% #end %>
        <br />
    <% end %>

    <!-- URLのテキストファイルに含まれる画像が存在するかチェック -->
    <% if @twt_ids #.presence %>
        <h2>チェック</h2>

        <% if @twt_ids.size == 0 %>
            対象なし
        <% end %>

        <% @twt_ids.each.with_index(1) do |tweet_id, idx| %>
            #<%= idx %>.
            <% tweet = Tweet.find_by(tweet_id: tweet_id) %>
            <% hit = false %>
            <% @twt_pic_path_list.each do |path| %>
                <% if path.include? tweet_id.to_s %><!-- TODO:これはだめでは？ -->
                    <% hit = true %>
                    hit!(<%= Twt::timestamp_str(tweet_id) %>)|<%= tweet_id %> 
                    <% if params[:show_pic].presence %>
                        <%= link_to_ex image_tag(path, width: '10%', height: '10%', :alt => path), path %>
                    <% end %>

                    <% if tweet.presence %>
                        <% if tweet.status != Tweet::StatusEnum::SAVED %>
                            <% Tweet::update_record(tweet_id, Tweet::StatusEnum::SAVED) %>
                            【レコード更新】"<%= tweet.status %>"" => "<%= Tweet::StatusEnum::SAVED %>"
                        <% else %>
                            "<%= tweet.status %>"
                        <% end %>
                    <% else %>
                        <!-- DBになければDBに登録 -->
                        <% Tweet::create_record(@twitter.twtid, tweet_id) %>
                        |DBレコード新規登録
                    <% end %>
                    <br />
                    <% break %>
                <% else %>
                <% end %>
            <% end %>

            <% if hit %>
            <% else %>
                <%= %!#{Twt::timestamp_str tweet_id}(#{tweet_id}))! %> no hit...
                <%= link_to_ex(tweet_id, Twt::twt_tweet_url(@twitter.twtid, tweet_id)) %>
                <% if tweet.presence %>
                    <% if tweet.status == Tweet::StatusEnum::UNACCESSIBLE %>
                        <b><%= Tweet::StatusEnum::UNACCESSIBLE %></b>
                        (id変わったとき用→)
                        <%= link_to_ex(tweet_id, Twt::twt_tweet_url_dev(tweet_id)) %>
                    <% elsif params[:tweet_id].to_i == tweet_id and params[:tweet_st] == Tweet::StatusEnum::DELETED %>
                        <% Tweet::update_record(tweet_id, Tweet::StatusEnum::DELETED) %>
                        '削除済み'として更新しました。
                    <% elsif tweet.status == Tweet::StatusEnum::DELETED %>
                        <b><%= Tweet::StatusEnum::DELETED %></b>
                    <% else %>
                        <%= %!"#{tweet.status}"! if tweet.presence %>
                        <% if false %>
                            <% url = twitter_path(file_check: 't', picn: 'all', pic_lf: '', corr: '0', show_pic: 't', tweet_st: Tweet::StatusEnum::DELETED, tweet_id: tweet_id) %>
                            <%= link_to("'削除済み'として更新", url, class: 'button') %>
                        <% end %>
                    <% end %>
                <% else %>
                    <% if params[:tweet_id].to_i == tweet_id and params[:tweet_st] == Tweet::StatusEnum::UNACCESSIBLE %>
                        <!-- -->
                        <% Tweet::create_record(@twitter.twtid, tweet_id, Tweet::StatusEnum::UNACCESSIBLE) %>
                        'アクセス不可'として更新しました。
                    <% else %>
                        <% url = twitter_path(file_check: 't', picn: 'all', pic_lf: '', corr: '0', show_pic: 't', tweet_st: Tweet::StatusEnum::UNACCESSIBLE, tweet_id: tweet_id) %>
                        <%= link_to("'アクセス不可'として更新", url, class: 'button') %>
                        (id変わったとき用→)
                        <%= link_to_ex(tweet_id, Twt::twt_tweet_url_dev(tweet_id)) %>
                    <% end %>
                <% end %>
                <br />
            <% end %>
        <% end %>
    <% end %>

    <% if (params[:dup_chk].presence and params[:dup_chk] == "t") %>
        <% pic_list = @twt_pic_path_list.map {|x| Util::get_public_path(x)} %>
        <% db_update = true %>
        <% dup_path_list = Twt::db_update_dup_files(pic_list, @twitter.twtid, db_update) %>
        <h3>重複チェック結果(<%= dup_path_list.size %>)</h3>
        <% if dup_path_list.size > 0 %>
            <% base_path = UrlTxtReader::public_path %>
            <% d_ratio = '5%' %>
            <% dup_path_list.each do |path| %>
                <% ppath = Util::convert_path(base_path, path) %>
                <%= link_to_ex(image_tag(ppath, width: d_ratio, height: d_ratio, :alt => ppath), ppath) %>
            <% end %>
        <% else %>
            重複なし
        <% end %>
    <% end %>
</div>