<style type="text/css">
textarea {
	width: 900px;
	height: 80px;
}
</style>

<div id="<%= dom_id twitter %>">
    <% if params[:picn] == "" %>
        <% show_pic_num = 10 %>
    <% elsif params[:picn] == "all" %>
        <% show_pic_num = @twt_pic_path_list.size %>
    <% elsif params[:picn] =~ /(\d+)/ %>
        <% show_pic_num = $1.to_i %>
    <% else %>
        <% show_pic_num = 10 %>
    <% end %>

    <% if params[:pic_lf] =~ /(\d+)/ %>
        <% pic_lf = $1.to_i %>
    <% else %>
        <% pic_lf = 0 %>
    <% end %>

    <% if params[:corr] =~ /(\d+)/ %>
        <% corr = $1.to_i %>
    <% else %>
        <% corr = 0 %>
    <% end %>

    <% twt_pic_list = @twt_pic_path_list.map {|x| [Twt::twt_path_str(x), x]}.sort.reverse %>
    <% twt_acnt = twitter %>

    <textarea id="pic_list" name="pic_list" rows="100" cols="255">
        <% twt_pic_list.first(show_pic_num).each.with_index(1) do |elem, idx| %>
<%= idx %>:<%= elem[0] %>
        <% end %>
    </textarea>
    <br />

    全画像数：<%= twt_pic_list.size %>
    <% if twt_pic_list.size > show_pic_num %>
        <%#= link_to "...全て表示", params.merge(picn: 'all') %>
        <%= link_to "...全て表示", twitter_path(picn: 'all', pic_lf: '3', corr: '0') %>
    <% end %>
    <br />
    
    <!-- サムネイル -->
    <% twt_pic_list.first(show_pic_num).each.with_index(1) do |elem, idx| %>
        <% path = elem[1] %>
        <%= idx %>
        <%= link_to image_tag(path, width: '10%', height: '10%', :alt => path), path, target: :_blank, rel: "noopener noreferrer" %>
        <% if corr != 0 and corr == idx %>
            <br />
        <% end %>
        <% if pic_lf != 0 and idx % pic_lf == 0 %>
            <%= twt_pic_list[idx - 1][0] %>
            <br />
        <% end %>
    <% end %>
    <br />

    <% pl = twt_pic_list.map {|x| x[1]} %>
    <% freq1 = Twt::calc_freq(pl) %>
    <% freq2 = Twt::calc_freq(pl, 14) %>
    更新頻度：<%= freq1 %>/<%= Twt::CALC_FREQ_UNIT %>日
    <% if twt_acnt != nil and twt_acnt.update_frequency != nil %>
        <% current_val_freq = twt_acnt.update_frequency %>
        <%= %!(現在の設定値：#{current_val_freq})! %>
        <% if (freq1 - current_val_freq).abs >= 50 %>
            現在の設定値との差が大きい
        <% end %>
    <% else %>
        ※値が設定されていません※
    <% end %>
    <br />
    直近の更新頻度：<%= freq2 %>
    <br />

</div>