<style type="text/css">
textarea {
	width: 900px;
	height: 80px;
}
</style>

<div id="<%= dom_id twitter %>">
    <!-- PXV画像 
    <% if twitter.pxvid.presence %>
        PXV:<br />
        <%= pic_path_tag(twitter.pxvid, 5, '10%', true) %>
        <br />
        TWT:<br />
    <% end %>
    -->

    <% show_pic_num = 5 %>
    <% if params[:picn] == "" %>
    <% elsif params[:picn] == "all" %>
        <% show_pic_num = @twt_pic_path_list.size %>
    <% elsif params[:picn] =~ /(\d+)/ %>
        <% show_pic_num = $1.to_i %>
    <% else %>
    <% end %>

    <% if params[:pic_lf] =~ /(\d+)/ %>
        <% pic_lf = $1.to_i %>
    <% else %>
        <% pic_lf = 0 %>
    <% end %>

    <% if params[:corr] =~ /(\d+)/ %>
        <% corr = $1.to_i %>
    <% else %>
        <% corr = 0 %>
    <% end %>

    <% twt_pic_list = @twt_pic_path_list.map {|x| [Twt::twt_path_str(x), x, Twt::get_tweet_id_from_filepath(x)]}.sort.reverse %>
    <% twt_acnt = twitter %>

    <!-- ファイル名リスト -->
    <textarea id="pic_list" name="pic_list" rows="455" cols="400">
        <% twt_pic_list.first(show_pic_num).each.with_index(1) do |elem, idx| %>
<%= idx %>:<%= elem[0] %>
        <% end %>
    </textarea>
    <br />

    <!-- サムネイル -->
    <% twt_pic_list.first(show_pic_num).each.with_index(1) do |elem, idx| %>
        <% if @twt_ids != nil %>
            <% break %>
        <% end %>
        <% path = elem[1] %>
        <%= idx %>.
        <%= link_to image_tag(path, width: '10%', height: '10%', :alt => path), path, target: :_blank, rel: "noopener noreferrer" %>
        <% if elem[2][1] != 0 %>
            <%= "複" %>
        <% end %>
        <% if corr != 0 and corr == idx %>
            <br />
        <% end %>
        <% if pic_lf != 0 and idx % pic_lf == 0 %>
            <br />
            <% i = idx - 3 %>
            <% 3.times do |x| %>
                <%= i + 1 %>.<%= twt_pic_list[i][0] %>
                <br />
                <% i += 1 %>
            <% end %>
        <% end %>
    <% end %>
    
    <% if twt_pic_list.size > show_pic_num %>
        <%= link_to "...全て表示", twitter_path(picn: 'all', pic_lf: '3', corr: '0', refresh: "y") %>
    <% end %>
    <%= link_to "url txtチェック", twitter_path(file_check: 't', picn: 'all', pic_lf: '', corr: '0') %>
    全画像数：<%= twt_pic_list.size %>
    <br />

    <% pl = twt_pic_list.map {|x| x[1]} %>
    <% freq_90d = Twt::calc_freq(pl, 90) %>
    <% freq_30d = Twt::calc_freq(pl, 30) %>
    <% freq_15d = Twt::calc_freq(pl, 15) %>
    <% ary = [freq_90d, freq_30d, freq_15d] %>
    <% avg = ary.sum / ary.size %>
    【更新頻度<%= Twt::CALC_FREQ_UNIT %>日あたり(90/30/14)】
    <% if twt_acnt != nil and twt_acnt.update_frequency != nil %>
        <% current_val_freq = twt_acnt.update_frequency %>
        設定値：<%= %!#{current_val_freq}! %>
        <% if (avg - current_val_freq).abs >= 100 %>
            [※現在の設定値との差が大きい]
        <% end %>
        →
    <% else %>
        ※値が設定されていません※
    <% end %>
    計算結果"<%= avg %>"
    (<%= freq_90d %>/<%= freq_30d %>/<%= freq_15d %>)
    <% if twt_pic_list[0] != nil %>
        <% dt = Twt::get_time_from_path(twt_pic_list[0][1]) %>
        【予測】<%= twitter.prediction(dt) %>
    <% end %>
    <br />

    <hr />

    <!-- tweet id -->
    <% twt_pic_list.first(1).each do |elem| %>
        <% tweet_id = elem[2][0] %>
        <b>
        <%= tweet_id.to_s.reverse.gsub(/\d{3}/, '\0,').reverse %>
        </b>
        <br />
    <% end %>

    <!-- URLのテキストファイルに含まれる画像が存在するかチェック -->
    <% if @twt_ids != nil %>
        <h2>チェック</h2>
        <% if @twt_ids.size == 0 %>
            対象なし
        <% end %>
        <% @twt_ids.each do |tweet_id| %>
            <% hit = false %>
            <% @twt_pic_path_list.each do |path| %>
                <% if path.include? tweet_id.to_s %>
                    <%= tweet_id %> hit!(<%= Twt::timestamp_str(tweet_id) %>)
                    <br />
                    <%= link_to image_tag(path, width: '10%', height: '10%', :alt => path), path, target: :_blank, rel: "noopener noreferrer" %>
                    <br />
                    <% hit = true %>
                    <% break %>
                <% end %>
            <% end %>
            <% if hit == false %>
                <%= %!#{tweet_id}(#{Twt::timestamp_str tweet_id}))! %> not hit...
                <%= link_to tweet_id, Twt::twt_tweet_url(@twitter.twtid, tweet_id), target: :_blank, rel: "noopener noreferrer" %>
                <br />
            <% end %>
        <% end %>
    <% end %>

    <% #tweet_ids = Twt::get_twt_tweet_ids_from_txts(@twitter.old_twtid) %>
</div>