<% if @twitters_total_count.presence %>
  <% twitters_total_count = @twitters_total_count %>
<% else %>
  <% twitters_total_count = -1 %>
<% end %>

<% rem = twitters_total_count - @num_of_disp %>
<% if rem > 0 %>
  <% rem_str = %!/残り#{rem}件! %>
<% end %>

<% if params[:mode] == TwittersController::ModeEnum::SEARCH %>
  <% page_title = "twt検索:「#{params[:search_word]}」" %>
<% elsif twitters_total_count < 0 %>
  <% page_title = "#{params[:page_title]}" %>
<% elsif @twitters_total_count %>
  <% page_title = "#{params[:page_title]} (#{@twitters_total_count}件)" %>
<% else %>
  <% page_title = "#{params[:page_title]} (#{twitters_total_count}件#{rem_str}) a" %>
<% end %>
<% page_title += " - TWT一覧 a" %>

<% provide(:title, page_title) %>
<p style="color: green"><%= notice %></p>

<% pic_disp_mag = '13%' %>

<%= link_to "Return", root_path %>

<h1><%= "#{page_title}" %></h1>

<% search_word = params[:search_word] %>
<% if search_word.presence %>
  検索ワード：「<b><%= search_word %></b>」
<% end %>

<% if @twitters_group.size == 0 and params[:mode] == TwittersController::ModeEnum::SEARCH %>
  <% scrn_name = Twt::get_screen_name(search_word) %>
  <% user_exist = Twt::user_exist?(scrn_name) %>
  <% if user_exist %>
    <h3>DB未登録だがフォルダあり:"@<%= scrn_name %>"</h3>
    <%= link_to_ex %!☆twt☆:@#{scrn_name}!, artist_twt_path(scrn_name) %>
  <% else %>
    <h3>twt:"<%= scrn_name %>" not found</h3>
    <%= link_to_ex %!☆twt☆:@#{scrn_name}!, artist_twt_path(scrn_name) %>
    <% pt = Artist.find_by(twtid: scrn_name) %>
    <% if pt %>
      PXVには登録あり:"<%= pt.pxvname %>"[<%= link_to_ex "■pxv■", pt %>](@<%= pt.twtid %>)
    <% end %>
  <% end %>
<% end %>

<div id="twitters">

  <% ha_bak = "" %>
  <% done_id_hash = {} %>
  <% @twitters_group.each do |key, twitters| %>

    <% h_a, h_b = key.split(Twitter::TWT_H_SEPARATOR) if key.instance_of?(String) %>
    <% if h_b == nil %>
      <% h_b = key %>
    <% elsif h_a != ha_bak %>
      <h2><%= h_a %></h2>
      <% ha_bak = h_a %>
    <% end %>

    <h3>
      <% h2_txt = %!#{h_b}(#{twitters.size}件)! %>
      <% if twitters.size > @num_of_disp %>
        <% h2_txt += %!(のこり#{twitters.size - @num_of_disp}件)! %>
      <% end %>
      <%= h2_txt %>
    </h3>
    <table border="1" rules="all">
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>twtname(twtid)</th>
        <th>
          予測/最終アクセス日
        </th>
        <th>Twt post date</th>
        <th>pxvid</th>
        <th>PXV最終アクセス日</th>
        <th>PXV最終UL日</th>
        <th>サムネイル</th>
      </tr>
      <% cnt = 0 %>
      <%# twitters.first(@num_of_disp).each.with_index(1) do |twitter, idx| %>
      <% twitters.each.with_index(1) do |twitter, idx| %>
        <% if cnt >= @num_of_disp %>
          <% break %>
        <% end %>

        <% if done_id_hash.has_key?(twitter.id) %>
          <% next %>
        <% end %>

        <% done_id_hash[twitter.id] = true %>
        <% cnt += 1 %>

        <% twt_url = Twt::twt_user_url(twitter.twtid) %>

        <tr>
          <td><%= idx %></td>
          <td>
            <%#= link_to twitter["id"], twitter %>
            <%= twitter.id %>
          </td>
          <td>
            <% if @url_list_summary %>
              <% ele = @url_list_summary.find {|x| x.screen_name == twitter.twtid} %>
              [<%= ele.todo_cnt %>件]
            <% end %>
            <%= TwittersHelper::PRIVATE_ICON if twitter.private_account == Twitter::TWT_VISIBILITY::TV_PRIVATE %>
            <%= dm_disp(twitter.drawing_method) %>【<%= twitter.rating %>】<%= twitter.r18 %>
            <% if twitter.r18 == Twitter::RESTRICT::R18 %>
              <%= TwittersHelper::R18_ICON %>
            <% end %>
            <br />
            <b><%= twitter.twtname %></b>
            (@<%= twitter.twtid %>)
            <br />
            [<%= twitter.status %>]
            <br />
          
            <% if twitter.comment.presence %>
              <b><%= %!※#{twitter.comment}! %></b>
            <% end %>
            <%= twitter.remarks %>
          </td>

          <% prediction = twitter.prediction %>
          <% pred_2 = (twitter.update_frequency||0) / 100 %>
          <% pred = prediction + pred_2 %>
          <% pred_bg_clr = pred_bg_color(pred) %>
          <td bgcolor="<%= pred_bg_clr %>">
            <%= prediction %><%= %!(#{pred})! if pred - prediction > 5  %>
            
            <% if twitter.filesize %>
              <% if twitter.sp? #filesize_huge? %>
                <font color="red">
                  <%= twitter.filesize_kb %>
                  <% if twitter.ul_freq_low? %>
                    ただし低頻度
                  <% end %>
                </font>
              <% end %>
            <% end %>
            <br />

            [<%= link_to_ex "■twt■", twitter %>]
            <br />
            <%= twitter.get_date_info(twitter.last_access_datetime) if twitter.last_access_datetime.presence %>
            <br />
            [頻度：<%= twitter.update_frequency %>]
          </td>

          <% if twitter.last_post_datetime %>
            <% ul_delta = twitter.get_date_delta(twitter.last_post_datetime) %>
            <% # ul_bg_color = "beige" %>
            <% ul_bg_color = td_date_bg_color(ul_delta) %>
            <td bgcolor="<%= ul_bg_color %>">
              <%= Util.get_date_info(twitter.last_post_datetime) %>
            </td>
          <% else %>
            <td></td>
          <% end %>

          <% pxv = Artist.find_by(pxvid: twitter.pxvid) %>
          <% if twitter.artist_pxvid.presence and twitter.pxvid != twitter.artist_pxvid %>
            <% pxv2 = Artist.find_by(id: twitter.artist_id) %>
          <% end %>

          <!-- pxv id -->
          <td bgcolor="pink">
            <% if pxv2.presence %>
              <% if pxv2.rating == 0 %>
                <b>NEW!</b>
              <% end %>
              <%= %!#{pxv2.feature}【#{pxv2.rating}】! %>
              <%= twitter.pxvname if twitter.twtname != twitter.pxvname %>
              (<%= link_to_ex pxv2.pxvid, pxv2.pxv_user_url %>)
              [<%= link_to_ex("■pxv■x", artist_path(pxv2, access_dt_update: "yes")) %>]
            <% elsif pxv.presence %>
              <%= %!#{pxv.feature}【#{pxv.rating}】! %>
              <%= twitter.pxvname if twitter.twtname != twitter.pxvname %>
              (<%= link_to_ex pxv.pxvid, pxv.pxv_user_url %>)
              [<%= link_to_ex("■pxv■", artist_path(pxv, access_dt_update: "yes")) %>]
            <% end %>
          </td>

          <!-- pxv access -->
          <td bgcolor="pink">
            <% if pxv.presence %>
              予測：<%= pxv.prediction_up_cnt(true) %>
              <% if twitter.artist_status.presence %>
                PXVID:<%= %!#{twitter.artist_pxvid}! %>
                <br />
                <font color="red">
                  <b><%= %!※#{twitter.artist_status}! %></b>
                </font>
              <% end %>
              <br />

              <% if pxv2.presence %>
                [<%= link_to_ex("■pxv■(#{pxv2.id})", artist_path(pxv2, access_dt_update: "yes")) %>]
                (@<%= pxv2.twtid %>)
                <br />
                <font color="red">
                  <b><%= %!※#{pxv2.status}! if pxv2.status.presence %></b>
                </font>
              <% else %>
                [<%= link_to_ex("■pxv■(#{pxv.id})", artist_path(pxv, access_dt_update: "yes")) %>]
                <%= twitter.artist_id %>
                (@<%= pxv.twtid %>)
                <br />
                <font color="red">
                  <b><%= %!※#{pxv.status}! if pxv.status.presence %></b>
                </font>
              <% end %>
              <br />

              <% if twitter.artists_last_access_datetime.presence %>
                <%= %!(#{twitter.get_date_info(twitter.artists_last_access_datetime)})! %>
              <% end %>
              <%= pxv.filenum %>(<%= pxv.recent_filenum %>)
              <% if pxv.twtid != twitter.twtid %>
                <hr />
                @<%= pxv.twtid %><br />
                [<%= link_to_ex("■pxv■(#{pxv.id})", artist_path(pxv, access_dt_update: "yes")) %>]
                <br />
                <%= %!(#{pxv.last_access_datetime_disp})! %>
              <% else %>
              <% end %>
            <% elsif pxv2.presence %>
              <%= %!(#{pxv2.last_access_datetime_disp})! %>
            <% end %>
          </td>

          <!-- pxv ul -->
          <td bgcolor="pink">
            <% if twitter.last_ul_datetime.presence %>
              <% d = Date.parse(twitter.last_ul_datetime) %><!-- なぜかわからないがstring"22-11-31"になってる -->
              <%#= twitter.get_datetime_string(twitter.last_ul_datetime, true) %>
              <%#= twitter.get_datetime_string(d, true) %>
              <br />
              <%= %!(#{twitter.get_date_info(d)})! %>
              <% if pxv2.presence and pxv2.reverse_status.presence %>
                <br />
                <%= %![#{pxv2.reverse_status}]! %>
              <% end %>
            <% end %>
          </td>

          <!-- サムネイル -->
          <td>
            <% if @thumbnail or (!twitter.status.presence and (twitter.filenum||0) < 100) %>
              <% list = twitter.get_pic_filelist() %>
              <% if list.size < 500 %>
                <% thumbnail = true %>
              <% end %>
            <% end %>

            <% if thumbnail %>
                <% twt_pic_list = list.map {|x| [Twt::twt_path_str(x), x]}.sort.reverse %>

                <!-- -->
                <%= twitter.filenum %><%= %!(#{twt_pic_list.size})! if twitter.filenum != twt_pic_list.size %>

                <!-- -->
                <% fnum = 3 %>
                <% list = twt_pic_list.map {|x| x[1]}.first(fnum) %>
                <% list.each do |filepath| %>
                  <%= link_to image_tag(filepath, width: pic_disp_mag, height: pic_disp_mag), filepath, target: :_blank, rel: "noopener noreferrer" if filepath.presence %>
                <% end %>
            <% else %>
              <%= twitter.filenum %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <% if twitters.size > @num_of_disp %>
      <%= %!(のこり#{twitters.size - @num_of_disp}件)! %>
    <% end %>
  <% end %>
</div>

<hr />

<style>
button.horizontal {
  padding-left: 1em;
  padding-right: 1em;
  height: 3em;
}
</style>

<script>
    function select_text() {
        let text_field = document.getElementById("search_word");
        text_field.select();
        //document.execCommand("copy");
    }
    
    document.addEventListener("visibilitychange", function() {
      if (document.visibilityState === "visible")
      {
          select_text();
      }
    });
</script>

<div class="view_form">
  <%= form_with url: twitters_path, local: true, method: :get do |f| %>
   
    <%= f.submit("検索", name: nil, class: 'submit-btn') %>
    検索：<%= f.text_field :search_word, :value => params[:search_word] %>
    <br />
    <%= f.select :match_method, options_for_select([
      ["(自動判断)", "auto"],
      ["を含む", "partial_match"],
      ["完全一致","perfect_match"],
      ["から始まる","begin_match"],
      ["で終わる","end_match"]]) %>
    検索対象：
    <%= f.select :target_col, options_for_select(
      [[Twitter::SEARCH_TARGET::AUTO],
      [Twitter::SEARCH_TARGET::TWT_TWTID],
      [Twitter::SEARCH_TARGET::TWT_TWTNAME]]) %>
    <!-- 
    <input type="button" value="select" onclick="select_text();" />
    <br />
    -->
    <br />
    モード：<%= f.text_field :mode, :value => params[:mode] %>
    <br />
    filename：<%= f.text_field :filename, :value => params[:filename] %>
    <br />
    <%= f.label :ページタイトル %>
    <%= f.text_field :page_title, :value => params[:page_title] %>
    <hr />

    <%= f.label :target %>
    <%= f.text_field :target, :value => params[:target] %>
    <br />
    <%= f.label :評価lt %>
    <%= f.number_field :rating_lt, :value => params[:rating_lt] %>以下
    <br />
    <%= f.label :評価 %>
    <%= f.number_field :rating, :value => params[:rating] %>以上
    <br />
    <%= f.label :非表示日数 %>
    <%= f.number_field :hide_within_days, :value => params[:hide_within_days] %>日以内にアクセスがあれば対象外
    <br />
    <%= f.label :強制表示日数 %>
    <%= f.number_field :force_disp_day, :value => params[:force_disp_day] %>
    <br />
    <%= f.label :DB登録日 %>
    <%= f.number_field :created_at, :value => params[:created_at] %>日以内にDB登録されたレコード
    <br />
    <%= f.label :ファイル数 %>
    <%= f.number_field :pfilenum, :value => params[:pfilenum] %>以上
    <br />
    <%= f.label :予測 %>
    <%= f.number_field :pred, :value => params[:pred] %>以上
    <br />
    <%= f.label :更新頻度 %>
    <%= f.number_field :ul_freq, :value => params[:ul_freq] %>以上
    <br />
    <%= f.label :todo_cnt %>
    <%= f.number_field :todo_cnt, :value => params[:todo_cnt] %>
    <br />
    <hr />

    <!-- ##################################### -->
    <%= f.label :表示数 %>
    <%= f.number_field :num_of_disp, :value => params[:num_of_disp] %>
    <br />

    <%= f.label :ソート %>
    <%= f.select :sort_by, options_for_select(
        [
          ["予測降順(▽)", TwittersController::SORT_BY::PRED],
          ["予測昇順(△)", TwittersController::SORT_BY::PRED_ASC],
          ["アクセス日順（旧→新）", TwittersController::SORT_BY::ACCESS],
          ["評価順", TwittersController::SORT_BY::RATING],
          ["登録日順", TwittersController::SORT_BY::SORT_CREATE]
        ],
        selected: params[:sort_by] 
      )
    %>
    <br />

    <%= f.label :grpソート %>
    <%= f.select :grp_sort_by, options_for_select(
        [
          ["予測△順", TwittersController::GRP_SORT::GRP_SORT_PRED],
          ["予測▽順", TwittersController::GRP_SORT::GRP_SORT_PRED_DESC],
          [TwittersController::GRP_SORT::GRP_SORT_UL_FREQ, TwittersController::GRP_SORT::GRP_SORT_UL_FREQ],
          ["アクセス日順（旧→新）", TwittersController::GRP_SORT::GRP_SORT_ACCESS],
          ["アクセス日順W（旧→新）", TwittersController::GRP_SORT::GRP_SORT_ACCESS_W],
          [TwittersController::GRP_SORT::GRP_SORT_ACCESS_W_P, TwittersController::GRP_SORT::GRP_SORT_ACCESS_W_P],
          [TwittersController::GRP_SORT::GRP_SORT_R_A_P, TwittersController::GRP_SORT::GRP_SORT_R_A_P],
          [TwittersController::GRP_SORT::GRP_SORT_R_P, TwittersController::GRP_SORT::GRP_SORT_R_P],
          [TwittersController::GRP_SORT::GRP_SORT_R_A, TwittersController::GRP_SORT::GRP_SORT_R_A],
          ["評価順", TwittersController::GRP_SORT::GRP_SORT_RATE],
          [TwittersController::GRP_SORT::GRP_SORT_UL, TwittersController::GRP_SORT::GRP_SORT_UL],
          [TwittersController::GRP_SORT::GRP_SORT_UL_ACCESS, TwittersController::GRP_SORT::GRP_SORT_UL_ACCESS],
          [TwittersController::GRP_SORT::GRP_SORT_REGISTERED, TwittersController::GRP_SORT::GRP_SORT_REGISTERED],
          [TwittersController::GRP_SORT::GRP_SORT_NO_UPDATE, TwittersController::GRP_SORT::GRP_SORT_NO_UPDATE],
          [TwittersController::GRP_SORT::GRP_SORT_DEL, TwittersController::GRP_SORT::GRP_SORT_DEL],
          [TwittersController::GRP_SORT::GRP_SORT_SPEC, TwittersController::GRP_SORT::GRP_SORT_SPEC],
          ["自動(おまかせ)", TwittersController::GRP_SORT::GRP_SORT_AUTO],
        ],
        selected: params[:grp_sort_by] 
      )
    %>
    <br />
    <%= f.label :グループ化指定文字列 %>
    <%= f.text_field :grp_sort_spec, :value => params[:grp_sort_spec] %>
    <br />

    <%= f.label :step %>
    <%= f.number_field :step, :value => params[:step] %>
    <br />
    <%= f.label :回数 %>
    <%= f.number_field :num_of_times, :value => params[:num_of_times] %>
    <br />

    <%= f.check_box :ex_pxv, {checked: params[:ex_pxv] == "true"}, true, false %>
    <%= f.label :pxv除外 %>
    <br />
    <%= f.check_box :no_pxv, {checked: params[:no_pxv] == "true"}, true, false %>
    <%= f.label :pxv除外 %>
    <br />
    <%= f.check_box :ex_sp, {checked: params[:ex_sp] == "true"}, true, false %>
    <%= f.label :FS大除外 %>
    <br />
    <%= f.check_box :thumbnail, {checked: params[:thumbnail] == "true"}, true, false %>
    <%= f.label :サムネイル表示 %>
    <br />

    <%= f.check_box :tgt_access, {checked: params[:tgt_access] == "true"}, true, false %>
    <%= f.label :アクセス日順 %>
    <br />

  <% end %>
</div>


<hr />
<%= link_to "New twitter", new_twitter_path %>

<% if @rating_min.presence %>
  <% rating_lt = @rating_min %>
  <%= link_to "rating -", url_for(params.permit!.to_h.merge(rating: rating_lt)) %>
<% end %>