<% provide(:title, "#{params[:page_title]} - TWT一覧") %>
<p style="color: green"><%= notice %></p>


<% pic_disp_mag = '13%' %>

<%= link_to "Return", root_path %>


<h1>Twitters</h1>

<div id="twitters">
  <% @twitters_group.each do |key, twitters| %>
  <% rem = twitters.size - @num_of_disp %>
  <% if rem > 0 %>
    <% rem_str = %!残り#{rem}件! %>
  <% end %>
  <h2><%= key %>(全<%= twitters.size %>件)<%= rem_str %></h2>
  <table border="1" rules="all">
    <tr>
      <th>#</th>
      <th>id</th>
      <th>twtname(twtid)</th>
      <th>
        予測<br />
        投稿頻度(100日あたり枚数)
        </th>
      <th>
        最終アクセス日
      </th>
      <th>PXV最終UL日</th>
      <th>PXV最終アクセス日</th>
      <th>pxvid</th>
      <th>サムネイル</th>
      <th>備考</th>
      <th>状態</th>
    </tr>
    <% twitters.first(@num_of_disp).each.with_index(1) do |twitter, idx| %>
      
      <% twt_url = Twt::twt_user_url(twitter.twtid) %>
      <% pxv_url = Pxv::pxv_user_url(twitter.artist_pxvid) %>

      <tr>
        <td><%= idx %></td>
        <td><%= link_to twitter["id"], twitter %></td>
        <td>
          <%= twitter["twtname"] %>
          <%#= link_to "@#{twitter["twtid"]}", twt_url, target: :_blank, rel: "noopener noreferrer" %>
          (@<%= twitter.twtid %>)
          【<%= twitter.rating %>|<%= twitter.r18 %>|<%= twitter.status %>|<%= twitter.drawing_method %>】
          <br />
          <%= %!※#{twitter["comment"]}! if twitter.comment != "" %>
        </td>
        <td>
          <%= twitter.prediction %>
          [<%= link_to "Show", twitter, target: :_blank, rel: "noopener noreferrer" %>]
          <br />
          [<%= twitter.update_frequency %>]
          <br />
          【<%= twitter.get_date_info(twitter.last_access_datetime) if twitter.last_access_datetime.presence %>】
        </td>
        <td>
          <%#= twitter["last_access_datetime"].in_time_zone('Tokyo').strftime("%Y-%m-%d") if twitter["last_access_datetime"] != nil %>
          <%= twitter.get_datetime_string(twitter.last_access_datetime, true) if twitter.last_access_datetime.presence %>
        </td>
        <td bgcolor="pink">
          <% if twitter.last_ul_datetime.presence %>
            <% d = Date.parse(twitter.last_ul_datetime) %><!-- なぜかわからないがstring"22-11-31"になってる -->
            <%#= twitter.get_datetime_string(twitter.last_ul_datetime, true) %>
            <%= twitter.get_datetime_string(d, true) %>
            <br />
            <%= %!(#{twitter.get_date_info(d)})! %>
            <br />
          <% end %>
          <%= %!【#{twitter.artist_status}】! if twitter.artist_status.presence %>
        </td>
        <td bgcolor="pink">
          <% if twitter.artists_last_access_datetime.presence %>
            <%= %!【#{twitter.get_date_info(twitter.artists_last_access_datetime)}】! %>
          <% end %>
        </td>
        <td bgcolor="pink">
          <%= twitter["pxvname"] if twitter["twtname"] != twitter["pxvname"] %>
          <% if twitter["artist_pxvid"].presence %>
            [<%= link_to twitter["artist_pxvid"], pxv_url, target: :_blank, rel: "noopener noreferrer" %>]
            <br />
            [<%= link_to "show", artist_path(twitter.artist_id), target: :_blank, rel: "noopener noreferrer" %>]
            <br />
            
          <% end %>
        </td>
        <td>
          <% if @thumbnail %>
            <% list = twitter.get_pic_filelist() %>
            <% twt_pic_list = list.map {|x| [Twt::twt_path_str(x), x]}.sort.reverse %>
            <% list = twt_pic_list.map {|x| x[1]}.first(3) %>
            <% list.each do |filepath| %>
              <%= link_to image_tag(filepath, width: pic_disp_mag, height: pic_disp_mag), filepath, target: :_blank, rel: "noopener noreferrer" if filepath.presence %>
            <% end %>
          <% else %>
          <% end %>
        </td>
        <td><%= twitter["remarks"] %></td>
        <td>
          
          
        </td>
      </tr>
    <% end %>
  </table>
  <% end %>
</div>

<hr />
<%= link_to "New twitter", new_twitter_path %>
