<% provide(:title, "TWT一覧") %>
<p style="color: green"><%= notice %></p>

<%= link_to "Return", root_path %>

<h1>Twitters</h1>

<div id="twitters">
  <% @twitters_group.each do |key, twitters| %>
  <h2><%= key %>(<%= twitters.size %>)</h2>
  <table border="1" rules="all">
    <tr>
      <th>id</th>
      <th>twtid</th>
      <th>twtname</th>
      <th>show</th>
      <th>ファイル数</th>
      <th>最近のファイル数</th>
      <th>最終DL日</th>
      <th>最新アクセス日</th>
      <th>pxvid</th>
      <th>PXV最終UL日</th>
      <th>コメント</th>
      <th>備考</th>
      <th>状態</th>
    </tr>
    <% twitters.first(50).each do |twitter| %>
      
      <% twt_url = %!https://twitter.com/#{twitter["twtid"]}! %>
      <%# twt_url = %!https://twitter.com/}! %>
      <% pxv_url = %!https://www.pixiv.net/users/#{twitter["artist_pxvid"]}! %>

      <tr>
        <td><%= link_to twitter["id"], twitter %></td>
        <td><%= link_to "@#{twitter["twtid"]}", twt_url, target: :_blank, rel: "noopener noreferrer" %></td>
        <td>
          <%= twitter["twtname"] %><br />
          <%= twitter["pxvname"] if twitter["twtname"] != twitter["pxvname"] %>
        </td>
        <td>
          <%= link_to "Show", twitter %><br />
          <%#= twitter["artist_id"] %>
          <%#= link_to "pxv:Show", {controller: "artists", action: "show", id: twitter["artist_id"]} %>
          <%#= link_to "pxv:Show", artist_path(twitter["artist_id"]), id: twitter["artist_id"] %>
          <%= link_to "pxv:#{twitter["artist_id"]}", "artists/" + twitter["artist_id"].to_s, target: :_blank, rel: "noopener noreferrer" if twitter["artist_pxvid"] != nil and twitter["artist_pxvid"] != "" %>
          <br />
          
        </td>
        <td><%= twitter["filenum"] %></td>
        <td><%= twitter["recent_filenum"] %></td>
        <td><%= twitter["last_dl_datetime"].in_time_zone('Tokyo').strftime("%Y-%m-%d") %></td>
        <td><%= twitter["last_access_datetime"].in_time_zone('Tokyo').strftime("%Y-%m-%d") if twitter["last_access_datetime"] != nil %></td>
        <td>
          <%= link_to twitter["artist_pxvid"], pxv_url, target: :_blank, rel: "noopener noreferrer" if twitter["artist_pxvid"] != nil and twitter["artist_pxvid"] != "" %>
          <%#= twitter["artist_pxvid"] %>
        </td>
        <td><%= twitter["last_ul_datetime"] if twitter["last_ul_datetime"] != nil %></td>
        <td><%= twitter["comment"] %></td>
        <td><%= twitter["remarks"] %></td>
        <td><%= twitter["status"] %><br /><%= twitter["r18"] %></td>
      </tr>
    <% end %>
  </table>
  <% end %>
</div>

<hr />
<%= link_to "New twitter", new_twitter_path %>
