<% page_title = "#{params[:page_title]} - TWT一覧" %>
<% provide(:title, page_title) %>
<p style="color: green"><%= notice %></p>

<% pic_disp_mag = '13%' %>

<%= link_to "Return", root_path %>

<h1>Twitters <%= "#{page_title}" %></h1>


<% search_word = params[:search_word] %>
<% if search_word.presence %>
  検索ワード：「<b><%= search_word %></b>」
<% end %>

<% if @twitters_group.size == 0 and params[:mode] == "search" %>
  <% user_exist = Twt::user_exist?(search_word) %>
  <% if user_exist %>
    <h3>DB未登録だがフォルダあり:"@<%= search_word %>"</h3>
    <%= link_to_ex %!☆twt☆:@#{search_word}!, artist_twt_path(search_word) %>
  <% else %>
    <h3>twt:"<%= search_word %>" not found</h3>
  <% end %>
<% end %>

<div id="twitters">
  <% @twitters_group.each do |key, twitters| %>
  <% rem = twitters.size - @num_of_disp %>
  <% if rem > 0 %>
    <% rem_str = %!残り#{rem}件! %>
  <% end %>
  <h2><%= key %>(全<%= twitters.size %>件)<%= rem_str %></h2>
  <table border="1" rules="all">
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>twtname(twtid)</th>
      <th>
        予測/最終アクセス日
      </th>
      <th>Twt post date</th>
      <th>pxvid</th>
      <th>PXV最終アクセス日</th>
      <th>PXV最終UL日</th>
      <th>サムネイル</th>
    </tr>
    <% twitters.first(@num_of_disp).each.with_index(1) do |twitter, idx| %>
      
      <% twt_url = Twt::twt_user_url(twitter.twtid) %>

      <tr>
        <td><%= idx %></td>
        <td><%= link_to twitter["id"], twitter %></td>
        <td>
          <%= twitter.drawing_method %>【<%= twitter.rating %>】<%= twitter.r18 %>
          <br />
          <b><%= twitter.twtname %></b>
          (@<%= twitter.twtid %>)
          <br />
          [<%= twitter.status %>]
          <br />
          <%= twitter.filenum %>(<%= twitter.recent_filenum %>) 
          <br />
          <%= %!※#{twitter.comment}! if twitter.comment != "" %>
          <%= twitter.remarks %>
        </td>
        <td>
          <%= twitter.prediction %>
          <br />
          [<%= link_to_ex "■twt■", twitter %>]
          <br />
          <%= twitter.get_date_info(twitter.last_access_datetime) if twitter.last_access_datetime.presence %>
          <br />
          [頻度：<%= twitter.update_frequency %>]
        </td>

        <% if twitter.last_post_datetime %>
          <% ul_delta = twitter.get_date_delta(twitter.last_post_datetime) %>
          <% ul_bg_color = "beige" %>
          <% ul_bg_color = td_date_bg_color(ul_delta) %>
          <td bgcolor="<%= ul_bg_color %>">
            <%= Util.get_date_info(twitter.last_post_datetime) %>
          </td>
        <% else %>
          <td></td>
        <% end %>

        <!-- pxv -->
        <% pxv = Artist.find_by(pxvid: twitter.pxvid) %>
        <% if twitter.artist_pxvid.presence %>
          <% pxv2 = Artist.find_by(id: twitter.artist_id) %>
        <% end %>
        <td bgcolor="pink">
          <% if pxv2.presence %>
            <%= %!【#{pxv2.rating}】#{pxv2.feature}! %>
            <%= twitter.pxvname if twitter.twtname != twitter.pxvname %>
            (<%= link_to_ex pxv2.pxvid, pxv2.pxv_user_url %>)
          <% elsif pxv.presence %>
            <%= %!【#{pxv.rating}】#{pxv.feature}! %>
            <%= twitter.pxvname if twitter.twtname != twitter.pxvname %>
            (<%= link_to_ex pxv.pxvid, pxv.pxv_user_url %>)
          <% end %>
        </td>
        <td bgcolor="pink">
          <% if pxv.presence %>
            <%= pxv.prediction_up_cnt(true) %>
            <br />
            <% if pxv2.presence %>
              [<%= link_to_ex("■pxv■(#{pxv2.id})", artist_path(pxv2, access_dt_update: "yes")) %>]
              (@<%= pxv2.twtid %>)
            <% else %>
              [<%= link_to_ex("■pxv■(#{pxv.id})", artist_path(pxv, access_dt_update: "yes")) %>]
              <%= twitter.artist_id %>
              (@<%= pxv.twtid %>)
            <% end %>
            <br />
            <% if twitter.artists_last_access_datetime.presence %>
              <%= %!(#{twitter.get_date_info(twitter.artists_last_access_datetime)})! %>
            <% end %>
            <%= pxv.filenum %>(<%= pxv.recent_filenum %>)
            <% if pxv.twtid != twitter.twtid %>
              <hr />
              @<%= pxv.twtid %><br />
              [<%= link_to_ex("■pxv■(#{pxv.id})", artist_path(pxv, access_dt_update: "yes")) %>]
              <br />
              <%= %!(#{pxv.last_access_datetime_disp})! %>
            <% else %>
            <% end %>
          <% end %>
        </td>

        <td bgcolor="pink">
          <% if twitter.last_ul_datetime.presence %>
            <% d = Date.parse(twitter.last_ul_datetime) %><!-- なぜかわからないがstring"22-11-31"になってる -->
            <%#= twitter.get_datetime_string(twitter.last_ul_datetime, true) %>
            <%#= twitter.get_datetime_string(d, true) %>
            <br />
            <%= %!(#{twitter.get_date_info(d)})! %>
            <% if twitter.artist_status.presence %>
              PXVID:<%= %!#{twitter.artist_pxvid}! %>
              <br />
              <b><%= %!※#{twitter.artist_status}! %></b>
            <% end %>
            <% if pxv2.presence and pxv2.reverse_status.presence %>
              <br />
              <%= %![#{pxv2.reverse_status}]! %>
            <% end %>
          <% end %>
        </td>

        <!-- サムネイル -->
        <td>
          <% if @thumbnail %>
            <% list = twitter.get_pic_filelist() %>
            <% twt_pic_list = list.map {|x| [Twt::twt_path_str(x), x]}.sort.reverse %>
            <% list = twt_pic_list.map {|x| x[1]}.first(3) %>
            <% list.each do |filepath| %>
              <%= link_to image_tag(filepath, width: pic_disp_mag, height: pic_disp_mag), filepath, target: :_blank, rel: "noopener noreferrer" if filepath.presence %>
            <% end %>
            <%= twt_pic_list.size %>
          <% else %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <% end %>
</div>

<hr />
<%= link_to "New twitter", new_twitter_path %>
