<% provide(:title, "#{params[:page_title]} - TWT一覧") %>
<p style="color: green"><%= notice %></p>

<% pic_disp_mag = '13%' %>

<%= link_to "Return", root_path %>

<h1>Twitters</h1>

<div id="twitters">
  <% @twitters_group.each do |key, twitters| %>
  <% rem = twitters.size - @num_of_disp %>
  <% if rem > 0 %>
    <% rem_str = %!残り#{rem}件! %>
  <% end %>
  <h2><%= key %>(全<%= twitters.size %>件)<%= rem_str %></h2>
  <table border="1" rules="all">
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>twtname(twtid)</th>
      <th>
        予測/最終アクセス日
      </th>
      <th>pxvid</th>
      <th>PXV最終アクセス日</th>
      <th>PXV最終UL日</th>
      <th>サムネイル</th>
    </tr>
    <% twitters.first(@num_of_disp).each.with_index(1) do |twitter, idx| %>
      
      <% twt_url = Twt::twt_user_url(twitter.twtid) %>
      <% pxv_url = Pxv::pxv_user_url(twitter.artist_pxvid) %>

      <tr>
        <td><%= idx %></td>
        <td><%= link_to twitter["id"], twitter %></td>
        <td>
          <%= twitter.drawing_method %>【<%= twitter.rating %>】<%= twitter.r18 %>
          <br />
          <%= twitter.twtname %>
          (@<%= twitter.twtid %>)
          <br />
          [<%= twitter.status %>]
          <br />
          <%= twitter.filenum %>(<%= twitter.recent_filenum %>) [頻度：<%= twitter.update_frequency %>]
          <br />
          <%= %!※#{twitter.comment}! if twitter.comment != "" %>
          <%= twitter.remarks %>
        </td>
        <td>
          <%= twitter.prediction %>
          <br />
          [<%= link_to_ex "■twt■", twitter %>]
          <br />
          <%= twitter.get_date_info(twitter.last_access_datetime) if twitter.last_access_datetime.presence %>
        </td>
        <!-- pxv -->
        <% pxv = Artist.find_by(pxvid: twitter.pxvid) %>
        <td bgcolor="pink">
          <%= %!【#{twitter.artist_rating}】! if twitter.artist_rating.presence %>
          <%= twitter.pxvname if twitter.twtname != twitter.pxvname %>
          <% if twitter.artist_pxvid.presence %>
            (<%= link_to_ex twitter.artist_pxvid, pxv_url %>)
            <br />
            <%= pxv.filenum %>(<%= pxv.recent_filenum %>)
          <% end %>
        </td>
        <td bgcolor="pink">
          <% if twitter.artist_id.presence %>
            [<%= link_to_ex("■pxv■", artist_path(twitter.artist_id, access_dt_update: "yes")) %>]
            <br />
          <% end %>
          <% if twitter.artists_last_access_datetime.presence %>
            <%= %!(#{twitter.get_date_info(twitter.artists_last_access_datetime)})! %>
          <% end %>
        </td>
        <td bgcolor="pink">
          <% if twitter.last_ul_datetime.presence %>
            <% d = Date.parse(twitter.last_ul_datetime) %><!-- なぜかわからないがstring"22-11-31"になってる -->
            <%#= twitter.get_datetime_string(twitter.last_ul_datetime, true) %>
            <%#= twitter.get_datetime_string(d, true) %>
            <br />
            <%= %!(#{twitter.get_date_info(d)})! %>
            <br />
            <%= %!※#{twitter.artist_status}! if twitter.artist_status.presence %>
          <% end %>
        </td>
        <td>
          <% if @thumbnail %>
            <% list = twitter.get_pic_filelist() %>
            <% twt_pic_list = list.map {|x| [Twt::twt_path_str(x), x]}.sort.reverse %>
            <% list = twt_pic_list.map {|x| x[1]}.first(3) %>
            <% list.each do |filepath| %>
              <%= link_to image_tag(filepath, width: pic_disp_mag, height: pic_disp_mag), filepath, target: :_blank, rel: "noopener noreferrer" if filepath.presence %>
            <% end %>
            <%= twt_pic_list.size %>
          <% else %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <% end %>
</div>

<hr />
<%= link_to "New twitter", new_twitter_path %>
