
<% title = %!ã€#{@twitter.rating}! %>
<% if @twitter.r18 == "R18" %>
  <% title += "ðŸ”ž" %>
<% end %>
<% if @twitter.pxvid.presence %>
  <% title += "ðŸ…¿ï¸" %>
<% end %>
<% title += %!ã€‘#{@twitter.twtname} @#{@twitter.twtid}! %>

<% provide(:title, title) %>
<p style="color: green"><%= notice %></p>

<h1>
    [<%= @twitter.rating %>|<%= @twitter.r18 %>]
    <%= %!#{@twitter.twtname}! %>
    (@<%= @twitter.twtid %>)
</h1>

<% if @twitter.status.presence and @twitter.status != Twitter::TWT_STATUS::STATUS_PATROL %>
    <h3><%= @twitter.status %></h3>
<% end %>

<%= render @twitter %>
<hr />

<%= render "twt_pic_list", twitter: @twitter %>
<hr />

<%= render "form", twitter: @twitter %>
<hr />


<div class="view_form">
  <%= form_with(url: twitter_path, local: true, method: :get) do |f| %>
   
    <%= f.submit("æ¤œç´¢", name: nil, class: 'subtmi-btn') %>
    æ¤œç´¢ï¼š<%= f.text_field :search_id, :value => params[:search_id] %>
    <%= f.hidden_field :picn, value: 'all' %>
    <br />

  <% end %>
</div>

<div>
    <%= link_to "Back to twitters", twitters_path %>
    <%= button_to "Destroy this twitter", @twitter, method: :delete %>
</div>
