<% provide(:title, %!【#{@twitter.rating}】#{@twitter.twtname} @#{@twitter.twtid}!) %>
<p style="color: green"><%= notice %></p>

<h1>
  <%= %!#{@twitter.twtname}! %>
  <% twt_url = @twitter.twt_user_url() %>
  (<%= link_to "@#{@twitter.twtid}", twt_url, target: :_blank, rel: "noopener noreferrer" %>)
  [<%= @twitter.rating %>]
</h1>

<%= render @twitter %>
<hr />

<%#= link_to "画像表示", artist_twt_path(@twitter.twtid, picn: 15), target: :_blank, rel: "noopener noreferrer" %>
<%= render "twt_pic_list", twitter: @twitter %>
<hr />

<%= render "form", twitter: @twitter %>
<hr />

<div>
  <%= link_to "Back to twitters", twitters_path %>

  <%= button_to "Destroy this twitter", @twitter, method: :delete %>
</div>
