<% provide(:title, %!【#{@twitter.rating}】#{@twitter.twtname} @#{@twitter.twtid}!) %>
<p style="color: green"><%= notice %></p>

<h1>
  <%= %!#{@twitter.twtname}! %>
  <% twt_url = @twitter.twt_user_url() %>
  (<%= link_to_ex "@#{@twitter.twtid}", twt_url %>)
  [<%= @twitter.rating %>]
</h1>

<% if @twitter.status.presence and @twitter.status != Twitter::STATUS_PATROL %>
  <h3><%= @twitter.status %></h3>
<% end %>

<%= render @twitter %>
<hr />

<%= render "twt_pic_list", twitter: @twitter %>
<hr />

<%= render "form", twitter: @twitter %>
<hr />

<div>
  <%= link_to "Back to twitters", twitters_path %>

  <%= button_to "Destroy this twitter", @twitter, method: :delete %>
</div>
